In [106]:
# %pip install biopython filelock

In [105]:
# %pip install idtrack

In [2]:
import scanpy as sc
import pandas as pd
import numpy as np
import warnings
import anndata as ad
warnings.filterwarnings("ignore")
from scipy.sparse import csr_matrix
from IPython.display import display, HTML

In [2]:
adata_sc = sc.read_h5ad('../single_cell_int/adata_sc_int_outlier.h5ad')
# adata_sn = sc.read_h5ad('../single_nuc_int/adata_nuc_int_outlier.h5ad')

In [3]:
import pickle
with open('kemal_map_result.pickle', 'rb') as f:
    results_dict = pickle.load(f)

pd.DataFrame.from_dict(results_dict['binned_conversions_adata_sc_genes'], orient='index').T

df = pd.DataFrame(results_dict['matching_adata_sc_genes']) #.groupby('final_database').size()

df_subset = df[['last_node', 'query_id']]

# Assuming df_subset['last_node'] contains a list of tuples
df_subset['col1'] = df_subset['last_node'].apply(lambda x: x[0][0] if len(x) > 0 else None)
df_subset['col2'] = df_subset['last_node'].apply(lambda x: x[0][1] if len(x) > 0 else None)

df_subset

from collections import defaultdict
ensembl_dict = defaultdict(set)
for index, row in df_subset.iterrows():
    ensembl_dict[row['col1']].add(row['query_id'])
    # ensembl_dict[row['col2']].add(row['query_id'])
filtered_dict = {key: list(value) for key, value in ensembl_dict.items() if len(value) > 1}

filtered_dict.pop(None)

mapped_df = pd.DataFrame.from_dict(filtered_dict, orient='index')

dict_map = dict(list(zip(df_subset.query_id, df_subset.col1)))

adata_sc.var['ensembl_id'] = adata_sc.var_names.map(dict_map)

len(adata_sc.var.ensembl_id.unique())

var_names = pd.Series(adata_sc.var.ensembl_id)
unique_ensembl_ids = var_names.unique()

# new_X = csr_matrix((adata_sc.X.shape[0], len(unique_ensembl_ids)))

# new_X

<617160x32197 sparse matrix of type '<class 'numpy.float64'>'
	with 0 stored elements in Compressed Sparse Row format>

In [ ]:
# for i, ensembl_id in enumerate(unique_ensembl_ids):
#     indices = np.where(var_names == ensembl_id)[0]    
#     new_X[:, i] = adata_sc.X[:, indices].sum(axis=1)
#TODO remove if not needed

# look at the mapped df to see how many genes are mapped to one ensembl ID

In [9]:
mapped_df['None_count'] = mapped_df.isna().sum(axis=1)

In [10]:
mapped_df.sort_values('None_count')

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,None_count
ENSG00000270276.3,HIST1H4K,HIST1H4F,HIST1H4E,HIST1H4J,HIST2H4B,HIST1H4B,HIST1H4H,HIST1H4L,HIST1H4I,HIST2H4A,HIST1H4C,HIST4H4,HIST1H4D,HIST1H4A,0
ENSG00000197409.8,HIST1H3E,HIST1H3A,HIST1H3I,HIST1H3J,H3C4,HIST1H3F,HIST1H3C,HIST1H3G,HIST1H3B,HIST1H3D,HIST1H3H,None,None,None,3
ENSG00000228495.3,RP11-69I8.3,RP3-523C21.2,AL117378.1,LINC01013,AL133346.1,RP11-69I8.2,AL021408.1,None,None,None,None,None,None,None,7
ENSG00000285756.2,FAM239A,RP11-706O15.1,RP11-706O15.5,FAM239B,RP11-706O15.3,BX890604.2,BX890604.1,None,None,None,None,None,None,None,7
ENSG00000196787.4,HIST1H2AG,HIST1H2AK,HIST1H2AI,HIST1H2AL,HIST1H2AM,H2AC11,None,None,None,None,None,None,None,None,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ENSG00000214189.10,ZNF788P,ZNF788,None,None,None,None,None,None,None,None,None,None,None,None,12
ENSG00000204623.11,ZNRD1-AS1,ZNRD1ASP,None,None,None,None,None,None,None,None,None,None,None,None,12
ENSG00000212643.3,ZRSR2P1,ZRSR1,None,None,None,None,None,None,None,None,None,None,None,None,12
ENSG00000153975.10,ZUP1,ZUFSP,None,None,None,None,None,None,None,None,None,None,None,None,12
ENSG00000158122.12,PRXL2C,AAED1,None,None,None,None,None,None,None,None,None,None,None,None,12

In [11]:
unique_genes = len(set(mapped_df.iloc[:, :14].values.flatten()))
ensembl_ids = mapped_df.sort_values('None_count').shape[0]

# Format and display the text with larger font
display(HTML(f'<h3>{unique_genes} unique genes are mapped to {ensembl_ids} ensembl IDs</h3>'))

# Change adata_sc.var

In [12]:
adata_sc.var.ensembl_id = adata_sc.var.ensembl_id.astype(str)
# sc.get.aggregate(adata_sc, by='ensembl_id', func='sum', axis=1)
adata_sc.var.reset_index(inplace=True)
adata_sc.var_names = adata_sc.var.ensembl_id
adata_sc.var.rename(columns={'index':'gene_name'}, inplace=True)

# lots are mappeed to None, check for the reason why

In [18]:
no_hits = adata_sc.var[adata_sc.var_names == 'None'].sort_values(by='total_counts', ascending=False)

In [19]:
no_hits

,gene_name,n_cells,highly_variable,means,dispersions,dispersions_norm,highly_variable_nbatches,highly_variable_intersection,n_cells_by_counts,mean_counts,log1p_mean_counts,pct_dropout_by_counts,total_counts,log1p_total_counts,mito,ensembl_id
ensembl_id,,,,,,,,,,,,,,,,
None,MTRNR2L12,316076,True,1.249051,2.622231,0.775115,6,False,310687,2.808878,1.337335,49.658597,1733527.0,14.365669,False,None
None,MTRNR2L10,8835,False,0.211630,1.047025,0.194332,2,False,8801,0.044084,0.043140,98.573952,27207.0,10.211266,False,None
None,AL365361.1,15823,False,0.030942,0.586658,0.334883,4,False,14954,0.027565,0.027192,97.576965,17012.0,9.741733,False,None
None,RP11-343N15.5,10174,False,0.065022,0.498654,0.078535,0,False,10174,0.025894,0.025565,98.351481,15981.0,9.679218,False,None
None,RP11-427H3.3,11151,False,0.062667,0.504670,0.090422,0,False,11151,0.025527,0.025206,98.193175,15754.0,9.664913,False,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
None,LLNLR-299G3.1,5,False,0.000047,0.069827,-0.013157,0,False,5,0.000008,0.000008,99.999190,5.0,1.791759,False,None
None,CTC-451A6.4,5,False,0.000038,0.065715,-0.141537,0,False,5,0.000008,0.000008,99.999190,5.0,1.791759,False,None
None,PRR25,1505,False,0.000002,-0.112178,-0.261942,0,False,1,0.000002,0.000002,99.999838,1.0,0.693147,False,None
None,AC136616.3,10,False,0.000000,0.000000,0.000000,0,False,0,0.000000,0.000000,100.000000,0.0,0.000000,False,None
None,ISX-AS1,176,False,0.000000,0.000000,0.000000,0,False,0,0.000000,0.000000,100.000000,0.0,0.000000,False,None

In [15]:
# take for example AC006273.7

In [100]:
adata_sc.var[adata_sc.var.gene_name.str.contains('AC006273.7')]

,gene_name,n_cells,highly_variable,means,dispersions,dispersions_norm,highly_variable_nbatches,highly_variable_intersection,n_cells_by_counts,mean_counts,log1p_mean_counts,pct_dropout_by_counts,total_counts,log1p_total_counts,mito,ensembl_id
ensembl_id,,,,,,,,,,,,,,,,
None,AC006273.7,136,False,0.000543,0.071288,-0.512172,0,False,136,0.000237,0.000237,99.977964,146.0,4.990433,False,NaN

In [101]:
#check in original df
df[df.query_id == 'AC006273.7']

,target_id,last_node,final_database,graph_id,query_id,no_corresponding,no_conversion,no_target
895,[],[],None,AC006273.7,AC006273.7,False,True,False

# google search for this gene
# turns out .7 is added for some reason, no hits with exact gene name on NCBI
# hit with AC006273
https://www.ncbi.nlm.nih.gov/gene/5725

# most get hits when '.number' is removed

In [114]:
df[df.query_id.str.contains('AC006273')]

,target_id,last_node,final_database,graph_id,query_id,no_corresponding,no_conversion,no_target
892,[ENSG00000272473.2],"[(ENSG00000272473.2, ENSG00000272473.2)]",ensembl_gene,AC006273.1,AC006273.1,False,False,True
893,[ENSG00000272473.2],"[(ENSG00000272473.2, ENSG00000272473.2)]",ensembl_gene,AC006273.4,AC006273.4,False,False,True
894,[LINC01836],"[(ENSG00000267530.5, LINC01836)]",HGNC Symbol,AC006273.5,AC006273.5,False,False,False
895,[],[],None,AC006273.7,AC006273.7,False,True,False

In [117]:
df[df.query_id.str.contains('MTRNR2')]

,target_id,last_node,final_database,graph_id,query_id,no_corresponding,no_conversion,no_target
24974,[JPT1],"[(ENSG00000189159.16, JPT1)]",HGNC Symbol,MTRNR2L1,MTRNR2L1,False,False,False
24975,[],[],None,MTRNR2L10,MTRNR2L10,False,True,False
24976,[],[],None,MTRNR2L11,MTRNR2L11,False,True,False
24977,[],[],None,MTRNR2L12,MTRNR2L12,False,True,False
24978,[MIR1973],"[(ENSG00000284253.1, MIR1973)]",HGNC Symbol,MTRNR2L13,MTRNR2L13,False,False,False
24979,[NOTCH2],"[(ENSG00000134250.21, NOTCH2)]",HGNC Symbol,MTRNR2L2,MTRNR2L2,False,False,False
24980,[PSMB4],"[(ENSG00000159377.11, PSMB4)]",HGNC Symbol,MTRNR2L3,MTRNR2L3,False,False,False
24981,[],[],None,MTRNR2L4,MTRNR2L4,False,True,False
24982,[],[],None,MTRNR2L5,MTRNR2L5,False,True,False
24983,[MTRNR2L6],"[(ENSG00000282017.1, MTRNR2L6)]",HGNC Symbol,MTRNR2L6,MTRNR2L6,False,False,False
24984,[],[],None,MTRNR2L7,MTRNR2L7,False,True,False
24985,[MIR4485],"[(ENSG00000283813.1, MIR4485)]",HGNC Symbol,MTRNR2L8,MTRNR2L8,False,False,False
24986,[],[],None,MTRNR2L9,MTRNR2L9,False,True,False

In [16]:
# try the genes with no ensemble IDs to map with mygene

In [17]:
import mygene

In [24]:
mg = mygene.MyGeneInfo()

In [28]:
gene_name = no_hits['gene_name']

In [29]:
mg.query(gene_name, scopes='symbol', fields='ensembl.gene', species='human')

{'took': 3,
 'total': 1,
 'max_score': 36.440697,
 'hits': [{'_id': '101926957', '_score': 36.440697}]}

In [30]:
def get_ensembl_id(gene_name):
    try:
        result = mg.query(gene_name, scopes='symbol', fields='ensembl.gene', species='human')
        if 'hits' in result and len(result['hits']) > 0:
            return result['hits'][0]['ensembl']['gene'] if 'ensembl' in result['hits'][0] else None
    except:
        return None

# Apply the function to the 'gene_name' column to get Ensembl IDs
no_hits['ensembl_id'] = no_hits['gene_name'].apply(get_ensembl_id)

In [31]:
no_hits

,gene_name,n_cells,highly_variable,means,dispersions,dispersions_norm,highly_variable_nbatches,highly_variable_intersection,n_cells_by_counts,mean_counts,log1p_mean_counts,pct_dropout_by_counts,total_counts,log1p_total_counts,mito,ensembl_id
ensembl_id,,,,,,,,,,,,,,,,
None,MTRNR2L12,316076,True,1.249051,2.622231,0.775115,6,False,310687,2.808878,1.337335,49.658597,1733527.0,14.365669,False,None
None,MTRNR2L10,8835,False,0.211630,1.047025,0.194332,2,False,8801,0.044084,0.043140,98.573952,27207.0,10.211266,False,None
None,AL365361.1,15823,False,0.030942,0.586658,0.334883,4,False,14954,0.027565,0.027192,97.576965,17012.0,9.741733,False,None
None,RP11-343N15.5,10174,False,0.065022,0.498654,0.078535,0,False,10174,0.025894,0.025565,98.351481,15981.0,9.679218,False,None
None,RP11-427H3.3,11151,False,0.062667,0.504670,0.090422,0,False,11151,0.025527,0.025206,98.193175,15754.0,9.664913,False,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
None,LLNLR-299G3.1,5,False,0.000047,0.069827,-0.013157,0,False,5,0.000008,0.000008,99.999190,5.0,1.791759,False,None
None,CTC-451A6.4,5,False,0.000038,0.065715,-0.141537,0,False,5,0.000008,0.000008,99.999190,5.0,1.791759,False,None
None,PRR25,1505,False,0.000002,-0.112178,-0.261942,0,False,1,0.000002,0.000002,99.999838,1.0,0.693147,False,None
None,AC136616.3,10,False,0.000000,0.000000,0.000000,0,False,0,0.000000,0.000000,100.000000,0.0,0.000000,False,None
None,ISX-AS1,176,False,0.000000,0.000000,0.000000,0,False,0,0.000000,0.000000,100.000000,0.0,0.000000,False,None

In [36]:
df_subset[df_subset.col1.astype(str) == 'None']

      last_node         query_id  col1  col2
134          []       AC000003.2  None  None
338          []       AC004257.3  None  None
345          []       AC004447.2  None  None
364          []       AC004520.1  None  None
415          []       AC004801.6  None  None
...         ...              ...   ...   ...
37152        []        U91328.20  None  None
37819        []    WI2-1959D15.1  None  None
37971        []  XXyac-YX155B6.6  None  None
38061        []         Z83851.2  None  None
38105        []         Z98049.1  None  None

[418 rows x 4 columns]

In [40]:
import re

# Function to remove suffixes from gene names
def remove_suffix(gene_name):
    return re.sub(r'\.\d+$', '', gene_name)

# Apply the function to the 'query_id' column
no_hits['query_id_clean'] = no_hits['gene_name'].apply(remove_suffix)

In [42]:
no_hits.head()

,gene_name,n_cells,highly_variable,means,dispersions,dispersions_norm,highly_variable_nbatches,highly_variable_intersection,n_cells_by_counts,mean_counts,log1p_mean_counts,pct_dropout_by_counts,total_counts,log1p_total_counts,mito,ensembl_id,query_id_clean,ensembl_id_clean
ensembl_id,,,,,,,,,,,,,,,,,,
None,MTRNR2L12,316076,True,1.249051,2.622231,0.775115,6,False,310687,2.808878,1.337335,49.658597,1733527.0,14.365669,False,None,MTRNR2L12,NaN
None,MTRNR2L10,8835,False,0.211630,1.047025,0.194332,2,False,8801,0.044084,0.043140,98.573952,27207.0,10.211266,False,None,MTRNR2L10,NaN
None,AL365361.1,15823,False,0.030942,0.586658,0.334883,4,False,14954,0.027565,0.027192,97.576965,17012.0,9.741733,False,None,AL365361,NaN
None,RP11-343N15.5,10174,False,0.065022,0.498654,0.078535,0,False,10174,0.025894,0.025565,98.351481,15981.0,9.679218,False,None,RP11-343N15,NaN
None,RP11-427H3.3,11151,False,0.062667,0.504670,0.090422,0,False,11151,0.025527,0.025206,98.193175,15754.0,9.664913,False,None,RP11-427H3,NaN

In [43]:
# Re-query with cleaned gene names
gene_names_clean = no_hits['query_id_clean'].dropna().unique().tolist()
results_clean = mg.querymany(gene_names_clean, scopes='symbol', fields='ensembl.gene', species='human')

# Convert results to a dictionary for quick lookup
mapping_clean = {item['query']: item.get('ensembl', {}).get('gene') for item in results_clean if 'ensembl' in item}

# Map the results back to the DataFrame
no_hits['ensembl_id_clean'] = no_hits['query_id_clean'].map(mapping_clean)

378 input query terms found no hit:	['AL365361', 'RP11-343N15', 'RP11-427H3', 'AL592284', 'RP11-94L15', 'AL512274', 'RP11-145M9', 'RP11-

In [39]:
no_hits.ensembl_id_clean.unique()

array([nan])

In [45]:
results_alt = mg.querymany(no_hits['query_id_clean'], scopes=['alias', 'accession'], fields='ensembl.gene', species='human')

413 input query terms found no hit:	['MTRNR2L12', 'MTRNR2L10', 'AL365361', 'RP11-343N15', 'RP11-427H3', 'AL592284', 'RP11-94L15', 'AL512

In [48]:
import pandas as pd
import mygene

# Initialize the mygene query service
mg = mygene.MyGeneInfo()

# Clean up query IDs by removing suffixes
def remove_suffix(gene_name):
    return re.sub(r'\.\d+$', '', gene_name)

# no_hits['query_id_clean'] = no_hits['query_id'].apply(remove_suffix)

# Convert cleaned gene names to a list
gene_names_clean = no_hits['query_id_clean'].dropna().unique().tolist()

# Query HGNC using the cleaned gene names
results = mg.querymany(gene_names_clean, scopes='hgnc.symbol', fields='ensembl.gene', species='human')

# Convert results to a dictionary for quick lookup
mapping = {item['query']: item.get('ensembl', {}).get('gene') for item in results if 'ensembl' in item}

# Map the results back to the DataFrame
no_hits['ensembl_id'] = no_hits['query_id_clean'].map(mapping)

395 input query terms found no hit:	['MTRNR2L12', 'MTRNR2L10', 'AL365361', 'RP11-343N15', 'RP11-427H3', 'AL592284', 'RP11-94L15', 'AL512

In [49]:
no_hits.head()

,gene_name,n_cells,highly_variable,means,dispersions,dispersions_norm,highly_variable_nbatches,highly_variable_intersection,n_cells_by_counts,mean_counts,log1p_mean_counts,pct_dropout_by_counts,total_counts,log1p_total_counts,mito,ensembl_id,query_id_clean,ensembl_id_clean
ensembl_id,,,,,,,,,,,,,,,,,,
None,MTRNR2L12,316076,True,1.249051,2.622231,0.775115,6,False,310687,2.808878,1.337335,49.658597,1733527.0,14.365669,False,NaN,MTRNR2L12,NaN
None,MTRNR2L10,8835,False,0.211630,1.047025,0.194332,2,False,8801,0.044084,0.043140,98.573952,27207.0,10.211266,False,NaN,MTRNR2L10,NaN
None,AL365361.1,15823,False,0.030942,0.586658,0.334883,4,False,14954,0.027565,0.027192,97.576965,17012.0,9.741733,False,NaN,AL365361,NaN
None,RP11-343N15.5,10174,False,0.065022,0.498654,0.078535,0,False,10174,0.025894,0.025565,98.351481,15981.0,9.679218,False,NaN,RP11-343N15,NaN
None,RP11-427H3.3,11151,False,0.062667,0.504670,0.090422,0,False,11151,0.025527,0.025206,98.193175,15754.0,9.664913,False,NaN,RP11-427H3,NaN

In [50]:
pwd

'/ictstr01/home/aih/shrey.parikh/PDAC/PDAC_Final/Notebooks'

In [130]:
# load ensemble csv
ensemble_csv = pd.read_table('../result.txt', header=None, names=column_names)

In [128]:
attributes = """
<Attribute name = "ensembl_gene_id" />
<Attribute name = "ensembl_transcript_id" />
<Attribute name = "external_synonym" />
<Attribute name = "external_transcript_name" />
<Attribute name = "external_gene_name" />
<Attribute name = "entrezgene_id" />
<Attribute name = "hgnc_id" />
<Attribute name = "end_position" />
<Attribute name = "start_position" />
<Attribute name = "chromosome_name" />
<Attribute name = "ensembl_gene_id_version" />
<Attribute name = "ensembl_transcript_id_version" />
"""

column_names = re.findall(r'Attribute name = "(.*?)"', attributes)

In [131]:
ensemble_csv.head()

,ensembl_gene_id,ensembl_transcript_id,external_synonym,external_transcript_name,external_gene_name,entrezgene_id,hgnc_id,end_position,start_position,chromosome_name,ensembl_gene_id_version,ensembl_transcript_id_version
0,ENSG00000286112,ENST00000651925,CCBL1,KYAT1-211,KYAT1,883.0,NaN,128881931,128819663,9,ENSG00000286112.1,ENST00000651925.1
1,ENSG00000286112,ENST00000651925,CCBL1,KYAT1-211,KYAT1,127739546.0,NaN,128881931,128819663,9,ENSG00000286112.1,ENST00000651925.1
2,ENSG00000171097,ENST00000302586,CCBL1,KYAT1-201,KYAT1,883.0,HGNC:1564,128882494,128832942,9,ENSG00000171097.14,ENST00000302586.8
3,ENSG00000171097,ENST00000462722,CCBL1,KYAT1-207,KYAT1,883.0,HGNC:1564,128882494,128832942,9,ENSG00000171097.14,ENST00000462722.5
4,ENSG00000171097,ENST00000320665,CCBL1,KYAT1-202,KYAT1,883.0,HGNC:1564,128882494,128832942,9,ENSG00000171097.14,ENST00000320665.10

In [101]:
' '.join(no_hits['gene_name'].tolist())

'MTRNR2L12 MTRNR2L10 AL365361.1 RP11-343N15.5 RP11-427H3.3 AL592284.1 RP11-94L15.2 AL512274.1 DDIT4-AS1 RP11-145M9.4 RP11-611L7.1 PWAR6 RP11-690G19.3 AL078639.1 RP1-3J17.3 CTA-445C9.15 RP11-7K24.3 CTD-2521M24.9 AC009283.1 RP11-572C15.6 AC008115.3 LINC02678 RP11-439A17.7 RP11-658F2.8 MTRNR2L9 RP11-350F4.2 AC026806.2 CTD-2369P2.2 RP5-935K16.1 AP001157.1 AC024060.2 RP11-206L10.3 RP11-383J24.6 AC012510.1 RP11-277L2.3 AL590452.1 RP11-469M7.1 RP11-312O7.2 CTD-3195I5.1 RP11-258C19.7 AC004520.1 RP11-175O19.4 RP11-479G22.8 RP11-108P20.1 AC010245.2 AC018755.4 AC004257.3 RP11-160O5.1 RP11-196G18.24 RP11-395P17.11 RP11-61A14.3 RP11-665N17.4 CTB-119C2.1 RP11-288H12.4 RP11-661A12.14 RP11-4F5.2 CTC-297N7.8 RP11-458N5.1 AP005131.6 AL353804.1 RP11-391M1.4 RP11-38P22.2 AC004447.2 RP4-758J24.5 RP1-193H18.2 CTB-167B5.2 RP11-379K17.12 AC068039.4 CTC-428G20.3 RP11-309G3.3 RP11-498D10.6 C9orf38 RP11-97C16.1 RP11-277L2.4 AC018809.1 RP11-137H2.6 RP11-849F2.8 RP11-382A18.2 CTD-2587H19.1 RP11-101E13.5 RP11-187C18.2 AC011841.1 CTD-3074O7.12 RP4-607J23.2 RP11-178G16.4 RP11-353N4.1 RP11-173M1.8 CTA-14H9.5 AC004893.11 RP11-91J19.4 LINC00312 CTD-2044J15.2 AC007228.9 RP11-782C8.1 RP11-23P13.7 NKAIN3-IT1 AP005131.7 RP5-1024G6.8 RP11-680G24.5 U47924.30 AC007228.2 RP11-423O2.5 RP11-539I5.1 AC008040.5 RP11-435B5.4 RP11-869B15.1 CTA-250D10.23 AC080013.6 RP11-73M18.9 RP11-215G15.5 OCLM U91328.20 AC021242.3 RP11-548H3.1 RP11-408H20.1 CTD-2105E13.13 CTD-2337J16.1 CTD-2541M15.4 RP1-178F10.3 AL360181.2 MTRNR2L11 AC019080.6 AC025857.2 RP3-462E2.5 AC015987.2 RP4-610C12.3 RP11-58B17.2 LINC01336 CTC-366B18.4 CTC-462L7.1 CTD-2086O20.3 AC104113.1 RP5-977B1.11 RP5-930J4.4 RP11-277L2.5 RP11-498E2.8 RP11-797A18.4 RP11-523G9.3 RP11-10C24.1 CTC-1337H24.1 AC112220.3 RP1-130H16.16 RP11-196O16.1 AC004801.6 AC016717.2 RP11-434B12.1 RP11-666A1.5 RP11-481A20.11 CTD-2620I22.7 RP11-442H21.2 AC008897.3 FLJ20306 RP11-401P9.4 Z98049.1 AC000003.2 AC092140.2 RP11-33O4.1 RP11-255C15.4 RP11-318L16.6 AC099676.1 LINC00618 RP11-671J11.6 RP11-10C24.2 U82695.10 MTRNR2L4 AP001058.3 AC092354.1 C8orf49 CTC-507E2.1 RP1-93H18.7 AL356055.1 RP11-380L11.4 AL596244.1 AP002360.3 RP11-446E9.2 RP11-337C18.9 RP11-382B18.4 CTC-273B12.6 RP11-295P9.8 RP11-782C8.5 RP11-135L13.4 AL161915.1 RP4-813F11.4 RP11-465N4.5 RP11-242F4.2 AC069278.4 RP11-229C3.2 AC120042.3 RP11-649A18.7 CTD-2306M10.1 RP11-211G3.2 RP11-517A5.4 CTC-365E16.1 CTD-2350C19.1 AC007308.6 LL22NC03-N27C7.1 RP11-379F4.6 RP3-477O4.16 AC012065.7 RP11-339B21.15 RP11-655M14.13 RP4-782L23.1 RP11-324E6.9 AC104260.1 RP1-74M1.3 RP11-388M20.9 RP11-389C8.3 RP11-709B3.2 RP11-353N4.4 RP11-973H7.4 RP11-417J8.3 RP11-71H17.9 RP11-216P16.2 RP11-292F22.7 RP11-417J8.6 RP11-188P20.3 RP11-670E13.2 RP11-514D23.3 RP11-21I10.2 KB-226F1.1 RP11-274B21.8 RP11-247A12.8 AL353791.1 RP11-498E2.7 RP11-687F6.1 AC019181.2 RP11-271K21.11 RP11-84C13.1 AC005943.5 AL035425.3 RP11-231G3.1 RP1-34H18.1 GPR89C RP11-29B2.5 AC104184.1 AC092354.2 RP11-697E2.4 AC006273.7 SDIM1 CTD-3023J11.2 RP11-435B5.3 RP11-1002K11.1 RP11-122G18.8 C1orf134 AL035446.2 RP11-245C23.3 AC097461.1 RP13-216E22.4 RP1-199J3.7 RP5-850O15.4 RP11-932O9.10 AC020594.1 AL953854.2 AC139491.7 RP1-127C7.6 AC104841.2 AL449266.1 CTD-3105H18.13 RP11-782C8.3 RP11-16P6.1 CTD-2235C13.3 GVQW1 RP11-809C18.4 RP11-336A10.5 RP11-509E16.1 RP11-22P4.1 RP1-224A6.9 RP11-219C20.3 RP11-352G9.1 RP11-158I9.7 AC090922.1 RP11-554A11.9 FLJ00273 MTRNR2L5 RP11-375N15.2 RP11-782C8.2 RP11-324L17.1 AL365356.4 RP11-122K13.12 FLJ20373 XXyac-YX155B6.6 AC099332.2 RP11-180N14.1 RP11-307L14.2 AL132821.1 AC124890.1 RP13-514E23.2 AC012170.2 RP11-532M24.1 FKSG63 RP11-178G16.5 RP11-339B21.14 RP11-320P7.1 RP11-143K11.1 AC020594.5 AL161669.1 AC010441.1 RP11-524C21.2 WI2-1959D15.1 RP11-346C20.4 RP11-817O13.6 RP6-206I17.3 CTD-2267D19.6 RP11-1055B8.9 RP1-111B22.3 CTD-2537I9.5 AL353354.2 RP11-307L14.1 RP11-357P18.2 RP11-95K23.5 RP11-114N19.3 RP11-592B15.9 RP3-337H4.10 RP11-206L10.5 RP11-524D16__A.3 CTC-471F3.6 RP11-381K20.5 RP11-314B1.2 RP11-1000B6.5 RP11-508N22.13 RP11-358L4.1 AP000295.10 RP11-193M21.1 RP3-355L5.5 RP11-466P24.7 CTC-487M23.5 RP11-393M11.2 RP11-115K3.1 RP11-114I8.4 AC109829.1 RP4-535B20.1 RP11-65L3.1 AL133355.1 RP11-136H19.1 RP11-432J9.5 RP11-458D21.6 CTD-2555K7.4 RP1-86D1.4 RP11-352E8.2 RP11-475B2.1 RP11-566K11.5 RP11-731F5.1 RP11-129K12.4 MTRNR2L7 RP11-195B21.3 RP5-1013A22.5 RP11-498D10.5 AL133406.3 RP11-461L13.3 KIAA1658 RP1-212P9.2 RP11-182J1.1 RP11-503E24.3 CTC-1337H24.2 RP11-424M24.5 CTD-2554C21.3 RP11-285F16.1 AC084219.3 RP11-138H8.7 RP11-483P21.3 CTD-2377D24.8 AC021224.1 AC009133.20 CTA-989H11.1 RP11-95H8.5 CTD-2555O16.3 RP5-1125A11.7 LINC00283 RP11-480G7.1 RP11-390P24.1 CTB-25B13.6 KCNQ5-IT1 LINC00999 RP11-494H4.3 AL359694.2 RP11-107D24.2 AL031429.2 RP3-323A16.1 RP4-604K5.2 AC109135.1 Z83851.2 RP11-893F2.6 RP11-61A14.2 RP11-61E11.1 RP5-1011O1.2 RP11-445P19.3 NICN1-AS1 RP11-176F3.7 RP1-206D15.3 RP11-216M21.7 RP11-242O24.5 FP475955.1 CTC-325H20.2 AC007749.1 AP000473.8 AC006159.4 RP11-553A10.1 AC092422.1 LINC01037 RP11-122K13.14 AC010525.7 FLJ00418 CTC-550B14.8 AL928742.12 TBCE-AS1 RP6-74O6.3 CTD-2540M10.1 RP11-276M12.1 RP11-562A8.4 RP11-648F7.1 CTC-487M23.7 CTB-60E11.4 RP1-272J12.1 LLNLR-299G3.1 CTC-451A6.4 PRR25 AC136616.3 ISX-AS1'

In [102]:
# no way ensemble mapping is possible

In [111]:
len(set(adata_sc.var_names))

32197

In [132]:
len(set(adata_sc.var_names) & set(ensemble_csv['ensembl_gene_id_version']))

31590

In [133]:
len(set(adata_sc.var_names)) - len(set(adata_sc.var_names) & set(ensemble_csv['ensembl_gene_id_version']))

607

In [116]:
# 607 genes missing ensemble IDs
# add the start and end position to adata

In [134]:
dict_start = dict(list(zip(ensemble_csv['ensembl_gene_id_version'], ensemble_csv['start_position'])))
dict_end = dict(list(zip(ensemble_csv['ensembl_gene_id_version'], ensemble_csv['end_position'])))
dict_chr = dict(list(zip(ensemble_csv['ensembl_gene_id_version'], ensemble_csv['chromosome_name'])))

In [135]:
adata_sc.var['start'] = adata_sc.var_names.map(dict_start)
adata_sc.var['end'] = adata_sc.var_names.map(dict_end)
adata_sc.var['chromosome'] = adata_sc.var_names.map(dict_chr)

In [137]:
adata_sc.var['chromosome'] = 'chr' + adata_sc.var['chromosome']

In [140]:
adata_sc.var_names = adata_sc.var.gene_name

In [144]:
adata_sc.var.ensembl_id.unique().tolist()

['ENSG00000202241.1',
 'ENSG00000121410.12',
 'ENSG00000268895.6',
 'ENSG00000148584.16',
 'ENSG00000175899.15',
 'ENSG00000245105.4',
 'ENSG00000166535.20',
 'ENSG00000256661.1',
 'ENSG00000184389.9',
 'ENSG00000128274.17',
 'ENSG00000118017.4',
 'ENSG00000094914.14',
 'ENSG00000081760.17',
 'ENSG00000114771.14',
 'ENSG00000197953.6',
 'ENSG00000262466.5',
 'ENSG00000188984.12',
 'ENSG00000204518.3',
 'ENSG00000109576.14',
 'ENSG00000158122.12',
 'ENSG00000103591.13',
 'ENSG00000115977.21',
 'ENSG00000087884.16',
 'ENSG00000127837.10',
 'ENSG00000129673.10',
 'ENSG00000131043.13',
 'ENSG00000205002.4',
 'ENSG00000090861.17',
 'ENSG00000124608.5',
 'ENSG00000266967.7',
 'ENSG00000157426.14',
 'ENSG00000149313.11',
 'ENSG00000008311.16',
 'ENSG00000215458.8',
 'ENSG00000275700.6',
 'ENSG00000181409.14',
 'ENSG00000281376.1',
 'ENSG00000183044.12',
 'ENSG00000165029.17',
 'ENSG00000154263.18',
 'ENSG00000144452.15',
 'ENSG00000179869.15',
 'ENSG00000107331.18',
 'ENSG00000167972.14',
 'ENSG00000198691.14',
 'ENSG00000154265.16',
 'ENSG00000154262.13',
 'ENSG00000064687.13',
 'ENSG00000141338.15',
 'ENSG00000154258.17',
 'ENSG00000231749.3',
 'ENSG00000085563.15',
 'ENSG00000135776.5',
 'ENSG00000073734.10',
 'ENSG00000005471.19',
 'ENSG00000004846.17',
 'ENSG00000115657.14',
 'ENSG00000131269.19',
 'ENSG00000197150.13',
 'ENSG00000150967.19',
 'ENSG00000103222.20',
 'ENSG00000124574.15',
 'ENSG00000121270.16',
 'ENSG00000140798.17',
 'ENSG00000023839.12',
 'ENSG00000108846.16',
 'ENSG00000125257.16',
 'ENSG00000114770.17',
 'ENSG00000223882.1',
 'ENSG00000091262.17',
 'ENSG00000006071.16',
 'ENSG00000069431.14',
 'ENSG00000101986.12',
 'ENSG00000173208.4',
 'ENSG00000117528.14',
 'ENSG00000119688.21',
 'ENSG00000164163.11',
 'ENSG00000204574.14',
 'ENSG00000033050.9',
 'ENSG00000161204.12',
 'ENSG00000160179.19',
 'ENSG00000118777.12',
 'ENSG00000172350.10',
 'ENSG00000138075.14',
 'ENSG00000143921.9',
 'ENSG00000143994.14',
 'ENSG00000144827.9',
 'ENSG00000106077.19',
 'ENSG00000225969.3',
 'ENSG00000100997.20',
 'ENSG00000131969.15',
 'ENSG00000139826.6',
 'ENSG00000248487.10',
 'ENSG00000114786.16',
 'ENSG00000114779.20',
 'ENSG00000168792.5',
 'ENSG00000264031.1',
 'ENSG00000204427.12',
 'ENSG00000183260.7',
 'ENSG00000129968.17',
 'ENSG00000107362.14',
 'ENSG00000136379.12',
 'ENSG00000164074.17',
 'ENSG00000140526.18',
 'ENSG00000158201.10',
 'ENSG00000100439.11',
 'ENSG00000011198.10',
 'ENSG00000163686.15',
 'ENSG00000127220.6',
 'ENSG00000136754.18',
 'ENSG00000138443.17',
 'ENSG00000108798.9',
 'ENSG00000154175.19',
 'ENSG00000119328.12',
 'ENSG00000097007.20',
 'ENSG00000143322.22',
 'ENSG00000099204.22',
 'ENSG00000163995.22',
 'ENSG00000173210.21',
 'ENSG00000175164.16',
 'ENSG00000159842.16',
 'ENSG00000174429.4',
 'ENSG00000146386.8',
 'ENSG00000163322.14',
 'ENSG00000165660.8',
 'ENSG00000146109.5',
 'ENSG00000114626.18',
 'ENSG00000166016.6',
 'None',
 'ENSG00000260246.1',
 'ENSG00000225929.1',
 'ENSG00000286508.1',
 'ENSG00000223665.1',
 'ENSG00000083622.8',
 'ENSG00000286742.1',
 'ENSG00000287932.1',
 'ENSG00000225007.1',
 'ENSG00000185065.6',
 'ENSG00000273212.1',
 'ENSG00000273300.1',
 'ENSG00000236340.6',
 'ENSG00000243107.1',
 'ENSG00000224138.1',
 'ENSG00000226770.1',
 'ENSG00000241921.1',
 'ENSG00000278727.1',
 'ENSG00000274898.1',
 'ENSG00000283208.2',
 'ENSG00000272330.1',
 'ENSG00000254499.1',
 'ENSG00000273216.1',
 'ENSG00000225498.1',
 'ENSG00000234459.1',
 'ENSG00000237813.4',
 'ENSG00000248636.7',
 'ENSG00000285090.1',
 'ENSG00000278388.1',
 'ENSG00000234695.1',
 'ENSG00000265975.1',
 'ENSG00000266389.1',
 'ENSG00000265618.1',
 'ENSG00000277450.1',
 'ENSG00000261018.1',
 'ENSG00000267626.1',
 'ENSG00000267698.2',
 'ENSG00000224505.4',
 'ENSG00000268947.1',
 'ENSG00000271366.1',
 'ENSG00000259242.2',
 'ENSG00000235560.4',
 'ENSG00000239791.2',
 'ENSG00000236481.2',
 'ENSG00000261433.1',
 'ENSG00000263388.1',
 'ENSG00000257268.1',
 'ENSG00000286163.1',
 'ENSG00000225676.2',
 'ENSG00000227863.3',
 'ENSG00000228742.11',
 'ENSG00000230941.1',
 'ENSG00000267049.1',
 'ENSG00000267439.1',
 'ENSG00000267328.1',
 'ENSG00000225872.6',
 'ENSG00000236472.1',
 'ENSG00000275025.1',
 'ENSG00000276851.1',
 'ENSG00000253927.1',
 'ENSG00000236197.5',
 'ENSG00000231170.7',
 'ENSG00000237819.7',
 'ENSG00000223969.7',
 'ENSG00000226254.1',
 'ENSG00000287292.1',
 'ENSG00000223646.2',
 'ENSG00000260188.1',
 'ENSG00000286390.1',
 'ENSG00000241764.5',
 'ENSG00000272829.2',
 'ENSG00000269103.2',
 'ENSG00000187905.11',
 'ENSG00000232759.1',
 'ENSG00000105889.16',
 'ENSG00000205786.8',
 'ENSG00000233214.1',
 'ENSG00000259810.2',
 'ENSG00000267653.1',
 'ENSG00000261312.1',
 'ENSG00000276571.1',
 'ENSG00000261736.1',
 'ENSG00000227782.2',
 'ENSG00000275413.1',
 'ENSG00000261872.1',
 'ENSG00000262265.2',
 'ENSG00000255692.1',
 'ENSG00000235461.2',
 'ENSG00000268266.1',
 'ENSG00000212663.2',
 'ENSG00000233535.1',
 'ENSG00000267211.1',
 'ENSG00000285486.1',
 'ENSG00000227517.7',
 'ENSG00000267344.1',
 'ENSG00000267446.1',
 'ENSG00000237773.8',
 'ENSG00000225572.1',
 'ENSG00000234826.1',
 'ENSG00000287672.1',
 'ENSG00000223561.8',
 'ENSG00000236453.5',
 'ENSG00000236938.1',
 'ENSG00000287093.1',
 'ENSG00000267604.1',
 'ENSG00000283978.1',
 'ENSG00000278546.1',
 'ENSG00000260793.4',
 'ENSG00000267750.6',
 'ENSG00000237994.1',
 'ENSG00000234494.8',
 'ENSG00000227042.1',
 'ENSG00000279159.1',
 'ENSG00000268392.1',
 'ENSG00000228543.1',
 'ENSG00000268564.1',
 'ENSG00000262603.5',
 'ENSG00000263280.4',
 'ENSG00000263325.1',
 'ENSG00000269615.1',
 'ENSG00000197462.3',
 'ENSG00000256695.2',
 'ENSG00000235139.2',
 'ENSG00000233824.2',
 'ENSG00000260951.2',
 'ENSG00000232821.1',
 'ENSG00000236536.2',
 'ENSG00000234223.2',
 'ENSG00000228113.7',
 'ENSG00000254003.1',
 'ENSG00000282859.1',
 'ENSG00000237903.1',
 'ENSG00000224322.2',
 'ENSG00000233942.1',
 'ENSG00000229603.1',
 'ENSG00000236754.5',
 'ENSG00000261462.1',
 'ENSG00000262482.1',
 'ENSG00000230612.3',
 'ENSG00000251170.6',
 'ENSG00000245384.2',
 'ENSG00000248984.1',
 'ENSG00000216425.4',
 'ENSG00000250522.1',
 'ENSG00000273447.1',
 'ENSG00000251473.2',
 'ENSG00000251259.1',
 'ENSG00000276449.1',
 'ENSG00000253308.2',
 'ENSG00000253508.1',
 'ENSG00000254180.2',
 'ENSG00000226851.1',
 'ENSG00000200753.1',
 'ENSG00000271133.7',
 'ENSG00000263571.3',
 'ENSG00000263272.1',
 'ENSG00000267666.2',
 'ENSG00000260664.4',
 'ENSG00000261008.9',
 'ENSG00000230333.6',
 'ENSG00000230435.1',
 'ENSG00000257494.1',
 'ENSG00000267778.1',
 'ENSG00000267457.1',
 'ENSG00000273687.1',
 'ENSG00000234477.1',
 'ENSG00000265359.1',
 'ENSG00000262899.1',
 'ENSG00000262362.1',
 'ENSG00000272079.2',
 'ENSG00000274367.1',
 'ENSG00000257433.8',
 'ENSG00000274902.1',
 'ENSG00000276390.1',
 'ENSG00000277173.1',
 'ENSG00000263990.1',
 'ENSG00000269635.1',
 'ENSG00000275936.1',
 'ENSG00000268812.3',
 'ENSG00000260510.1',
 'ENSG00000005189.20',
 'ENSG00000266101.1',
 'ENSG00000227078.1',
 'ENSG00000261204.1',
 'ENSG00000260924.3',
 'ENSG00000268069.2',
 'ENSG00000274737.1',
 'ENSG00000276691.1',
 'ENSG00000237019.1',
 'ENSG00000223461.1',
 'ENSG00000272682.1',
 'ENSG00000263412.3',
 'ENSG00000278765.1',
 'ENSG00000228944.1',
 'ENSG00000267122.1',
 'ENSG00000272072.1',
 'ENSG00000262312.2',
 'ENSG00000267308.3',
 'ENSG00000286923.3',
 'ENSG00000266990.1',
 'ENSG00000274177.1',
 'ENSG00000214870.11',
 'ENSG00000225792.3',
 'ENSG00000269972.1',
 'ENSG00000269987.1',
 'ENSG00000237921.2',
 'ENSG00000229893.2',
 'ENSG00000257452.1',
 'ENSG00000282840.1',
 'ENSG00000273532.1',
 'ENSG00000276345.1',
 'ENSG00000262298.1',
 'ENSG00000263120.1',
 'ENSG00000266088.6',
 'ENSG00000251239.1',
 'ENSG00000285081.1',
 'ENSG00000106069.26',
 'ENSG00000235669.1',
 'ENSG00000240499.7',
 'ENSG00000267394.2',
 'ENSG00000268673.3',
 'ENSG00000267304.1',
 'ENSG00000249028.2',
 'ENSG00000265206.6',
 'ENSG00000241345.1',
 'ENSG00000229263.1',
 'ENSG00000228680.1',
 'ENSG00000263494.1',
 'ENSG00000249815.2',
 'ENSG00000256806.6',
 'ENSG00000282936.2',
 'ENSG00000253102.1',
 'ENSG00000167930.17',
 'ENSG00000285704.1',
 'ENSG00000227495.1',
 'ENSG00000262227.2',
 'ENSG00000262429.1',
 'ENSG00000262678.1',
 'ENSG00000272203.1',
 'ENSG00000282943.1',
 'ENSG00000229944.3',
 'ENSG00000257955.1',
 'ENSG00000257985.1',
 'ENSG00000250132.6',
 'ENSG00000277283.2',
 'ENSG00000259153.4',
 'ENSG00000275630.1',
 'ENSG00000258517.3',
 'ENSG00000259907.1',
 'ENSG00000269927.1',
 'ENSG00000269945.1',
 'ENSG00000286423.1',
 'ENSG00000281391.1',
 'ENSG00000274818.1',
 'ENSG00000287643.1',
 'ENSG00000258871.1',
 'ENSG00000286333.1',
 'ENSG00000181123.8',
 'ENSG00000272689.1',
 'ENSG00000273350.1',
 'ENSG00000273428.4',
 'ENSG00000284523.2',
 'ENSG00000230392.1',
 'ENSG00000228554.1',
 'ENSG00000231951.1',
 'ENSG00000238832.1',
 'ENSG00000272854.1',
 'ENSG00000136213.10',
 'ENSG00000258376.2',
 'ENSG00000258944.1',
 'ENSG00000260997.1',
 'ENSG00000278254.4',
 'ENSG00000272768.1',
 'ENSG00000234183.1',
 'ENSG00000232667.12',
 'ENSG00000239636.3',
 'ENSG00000223829.6',
 'ENSG00000229192.6',
 'ENSG00000227743.2',
 'ENSG00000273419.1',
 'ENSG00000277675.1',
 'ENSG00000263081.1',
 'ENSG00000232396.2',
 'ENSG00000287967.1',
 'ENSG00000242154.1',
 'ENSG00000231295.1',
 'ENSG00000244198.7',
 'ENSG00000286305.1',
 'ENSG00000231704.7',
 'ENSG00000285518.1',
 'ENSG00000237286.1',
 'ENSG00000272240.1',
 'ENSG00000272812.1',
 'ENSG00000273402.1',
 'ENSG00000243797.6',
 'ENSG00000244701.1',
 'ENSG00000262671.1',
 'ENSG00000273341.2',
 'ENSG00000237620.1',
 'ENSG00000241685.10',
 'ENSG00000255306.1',
 'ENSG00000241324.1',
 'ENSG00000287409.1',
 'ENSG00000287574.1',
 'ENSG00000228151.1',
 'ENSG00000259209.3',
 'ENSG00000259768.8',
 'ENSG00000279206.1',
 'ENSG00000233969.2',
 'ENSG00000233760.3',
 'ENSG00000272745.1',
 'ENSG00000283117.1',
 'ENSG00000228434.1',
 'ENSG00000238358.2',
 'ENSG00000226661.1',
 'ENSG00000285612.1',
 'ENSG00000229660.1',
 'ENSG00000272732.1',
 'ENSG00000272894.5',
 'ENSG00000203446.2',
 'ENSG00000232756.1',
 'ENSG00000226522.1',
 'ENSG00000213888.3',
 'ENSG00000273387.1',
 'ENSG00000278920.1',
 'ENSG00000237896.6',
 'ENSG00000231255.1',
 'ENSG00000233073.2',
 'ENSG00000255690.3',
 'ENSG00000228421.2',
 'ENSG00000272361.2',
 'ENSG00000272537.1',
 'ENSG00000213875.3',
 'ENSG00000273138.1',
 'ENSG00000230477.1',
 'ENSG00000226247.1',
 'ENSG00000270996.1',
 'ENSG00000271452.1',
 'ENSG00000286045.1',
 'ENSG00000224346.1',
 'ENSG00000183308.6',
 'ENSG00000284308.2',
 'ENSG00000272183.1',
 'ENSG00000286623.1',
 'ENSG00000286883.1',
 'ENSG00000227331.1',
 'ENSG00000204380.4',
 'ENSG00000273055.1',
 'ENSG00000267052.3',
 'ENSG00000286013.1',
 'ENSG00000286076.2',
 'ENSG00000286366.1',
 'ENSG00000243004.7',
 'ENSG00000234715.2',
 'ENSG00000272918.1',
 'ENSG00000201913.1',
 'ENSG00000272219.1',
 'ENSG00000224046.3',
 'ENSG00000287815.2',
 'ENSG00000226816.3',
 'ENSG00000285926.1',
 'ENSG00000233834.7',
 'ENSG00000261535.1',
 'ENSG00000274080.1',
 'ENSG00000231418.2',
 'ENSG00000259294.1',
 'ENSG00000223374.1',
 'ENSG00000283517.1',
 'ENSG00000228639.8',
 'ENSG00000263683.1',
 'ENSG00000264520.1',
 'ENSG00000233517.1',
 'ENSG00000272568.6',
 'ENSG00000267405.1',
 'ENSG00000267505.1',
 'ENSG00000269694.1',
 'ENSG00000230258.6',
 'ENSG00000263684.2',
 'ENSG00000236352.1',
 'ENSG00000262786.1',
 'ENSG00000006695.12',
 'ENSG00000266709.1',
 'ENSG00000258603.5',
 'ENSG00000258695.2',
 'ENSG00000287636.2',
 'ENSG00000235035.1',
 'ENSG00000235861.1',
 'ENSG00000265400.1',
 'ENSG00000268030.1',
 'ENSG00000267073.1',
 'ENSG00000268205.1',
 'ENSG00000268678.1',
 'ENSG00000268713.1',
 'ENSG00000267688.1',
 'ENSG00000267551.3',
 'ENSG00000263707.1',
 'ENSG00000277621.1',
 'ENSG00000170468.8',
 'ENSG00000133961.21',
 'ENSG00000226690.9',
 'ENSG00000266469.2',
 'ENSG00000264067.1',
 'ENSG00000273388.1',
 'ENSG00000285555.1',
 'ENSG00000233852.1',
 'ENSG00000265494.1',
 'ENSG00000266744.1',
 'ENSG00000267283.1',
 'ENSG00000260725.1',
 'ENSG00000267243.6',
 'ENSG00000214970.8',
 'ENSG00000272736.5',
 'ENSG00000255104.9',
 'ENSG00000267227.1',
 'ENSG00000248015.7',
 'ENSG00000267755.1',
 'ENSG00000280486.2',
 'ENSG00000267372.2',
 'ENSG00000265100.2',
 'ENSG00000267731.1',
 'ENSG00000274561.1',
 'ENSG00000274712.3',
 'ENSG00000277476.1',
 'ENSG00000278730.1',
 'ENSG00000278740.1',
 'ENSG00000268565.1',
 'ENSG00000203593.3',
 'ENSG00000256706.2',
 'ENSG00000285627.1',
 'ENSG00000250994.3',
 'ENSG00000251169.3',
 'ENSG00000262686.1',
 'ENSG00000227274.1',
 'ENSG00000265489.1',
 'ENSG00000277602.1',
 'ENSG00000275024.1',
 'ENSG00000269191.1',
 'ENSG00000275162.1',
 'ENSG00000231412.3',
 'ENSG00000272396.1',
 'ENSG00000276445.1',
 'ENSG00000267537.1',
 'ENSG00000287249.1',
 'ENSG00000266368.1',
 'ENSG00000259146.4',
 'ENSG00000259005.1',
 'ENSG00000270000.1',
 'ENSG00000279461.2',
 'ENSG00000222012.1',
 'ENSG00000233423.1',
 'ENSG00000243018.1',
 'ENSG00000225647.2',
 'ENSG00000267224.1',
 'ENSG00000267421.6',
 'ENSG00000258559.2',
 'ENSG00000258653.3',
 'ENSG00000259065.3',
 'ENSG00000270140.1',
 'ENSG00000273711.2',
 'ENSG00000250614.1',
 'ENSG00000268536.2',
 'ENSG00000269604.1',
 'ENSG00000230825.3',
 'ENSG00000234450.1',
 'ENSG00000224903.2',
 'ENSG00000232006.9',
 'ENSG00000235852.1',
 'ENSG00000264491.1',
 'ENSG00000266897.1',
 'ENSG00000237070.1',
 'ENSG00000284638.2',
 'ENSG00000214719.13',
 'ENSG00000267320.5',
 'ENSG00000261305.2',
 'ENSG00000236714.3',
 'ENSG00000231185.9',
 'ENSG00000261757.1',
 'ENSG00000267223.1',
 'ENSG00000260107.1',
 'ENSG00000261790.2',
 'ENSG00000278901.1',
 'ENSG00000278915.1',
 'ENSG00000278946.1',
 'ENSG00000279726.2',
 'ENSG00000269296.1',
 'ENSG00000266893.1',
 'ENSG00000267423.1',
 'ENSG00000272070.3',
 'ENSG00000280026.1',
 'ENSG00000266963.1',
 'ENSG00000261596.2',
 'ENSG00000287809.1',
 'ENSG00000261886.1',
 'ENSG00000262633.2',
 'ENSG00000262879.7',
 'ENSG00000071127.18',
 'ENSG00000286703.1',
 'ENSG00000122591.13',
 'ENSG00000204990.3',
 'ENSG00000261629.1',
 'ENSG00000285841.1',
 'ENSG00000262966.2',
 'ENSG00000263708.2',
 'ENSG00000273816.1',
 'ENSG00000262050.2',
 'ENSG00000272770.1',
 'ENSG00000272911.1',
 'ENSG00000277200.2',
 'ENSG00000266527.1',
 'ENSG00000249631.7',
 'ENSG00000237377.2',
 'ENSG00000109099.16',
 'ENSG00000279567.1',
 'ENSG00000264727.1',
 'ENSG00000167524.17',
 'ENSG00000264044.1',
 'ENSG00000265168.1',
 'ENSG00000265287.2',
 'ENSG00000225681.2',
 'ENSG00000266126.1',
 'ENSG00000263159.1',
 'ENSG00000226040.3',
 'ENSG00000250347.1',
 'ENSG00000254099.1',
 'ENSG00000271871.1',
 'ENSG00000267131.1',
 'ENSG00000273982.1',
 'ENSG00000278925.1',
 'ENSG00000286736.1',
 'ENSG00000287527.1',
 'ENSG00000272154.5',
 'ENSG00000272108.1',
 'ENSG00000267044.1',
 'ENSG00000268650.3',
 'ENSG00000232058.1',
 'ENSG00000266933.2',
 'ENSG00000273218.1',
 'ENSG00000268189.2',
 'ENSG00000267231.1',
 'ENSG00000266959.1',
 'ENSG00000267436.1',
 'ENSG00000188766.13',
 'ENSG00000274447.1',
 'ENSG00000286629.1',
 'ENSG00000235415.1',
 'ENSG00000265702.2',
 'ENSG00000287457.1',
 'ENSG00000226797.2',
 'ENSG00000263501.1',
 'ENSG00000263644.1',
 'ENSG00000265282.1',
 'ENSG00000265971.1',
 'ENSG00000255639.3',
 'ENSG00000256988.2',
 'ENSG00000261335.1',
 'ENSG00000274051.1',
 'ENSG00000223544.1',
 'ENSG00000256433.3',
 'ENSG00000276718.1',
 'ENSG00000258092.1',
 'ENSG00000256862.5',
 'ENSG00000255775.1',
 'ENSG00000286997.1',
 'ENSG00000205325.4',
 'ENSG00000250770.6',
 'ENSG00000287712.1',
 'ENSG00000258114.1',
 'ENSG00000227694.1',
 'ENSG00000267449.1',
 'ENSG00000264083.1',
 'ENSG00000265139.1',
 'ENSG00000266385.1',
 'ENSG00000274341.1',
 'ENSG00000278668.1',
 'ENSG00000279762.3',
 'ENSG00000265425.1',
 'ENSG00000278356.1',
 'ENSG00000287886.1',
 'ENSG00000247011.3',
 'ENSG00000249870.1',
 'ENSG00000251665.1',
 'ENSG00000262006.1',
 'ENSG00000262967.1',
 'ENSG00000269019.2',
 'ENSG00000267469.1',
 'ENSG00000267205.1',
 'ENSG00000278627.1',
 'ENSG00000270324.1',
 'ENSG00000283538.3',
 'ENSG00000266869.2',
 'ENSG00000241456.1',
 'ENSG00000287744.1',
 'ENSG00000237713.1',
 'ENSG00000226824.8',
 'ENSG00000231515.1',
 'ENSG00000236795.1',
 'ENSG00000286912.1',
 'ENSG00000236531.2',
 'ENSG00000229591.1',
 'ENSG00000203335.5',
 'ENSG00000233363.1',
 'ENSG00000270114.1',
 'ENSG00000272638.1',
 'ENSG00000272908.1',
 'ENSG00000229379.1',
 'ENSG00000227719.1',
 'ENSG00000233264.2',
 'ENSG00000234141.1',
 'ENSG00000285892.1',
 'ENSG00000261786.1',
 'ENSG00000272121.1',
 'ENSG00000230084.8',
 'ENSG00000287629.1',
 'ENSG00000287171.1',
 'ENSG00000245667.2',
 'ENSG00000247853.2',
 'ENSG00000255966.1',
 'ENSG00000269968.1',
 'ENSG00000239002.3',
 'ENSG00000256732.2',
 'ENSG00000225563.2',
 'ENSG00000261938.1',
 'ENSG00000263235.1',
 'ENSG00000276754.1',
 'ENSG00000286125.3',
 'ENSG00000269793.7',
 'ENSG00000285996.1',
 'ENSG00000267549.6',
 'ENSG00000267710.9',
 'ENSG00000267192.1',
 'ENSG00000267298.1',
 'ENSG00000267606.1',
 'ENSG00000189114.8',
 'ENSG00000268355.1',
 'ENSG00000268027.5',
 'ENSG00000270164.3',
 'ENSG00000267063.1',
 'ENSG00000264895.1',
 'ENSG00000223770.5',
 'ENSG00000258660.1',
 'ENSG00000242593.8',
 'ENSG00000243574.2',
 'ENSG00000226323.1',
 'ENSG00000278847.1',
 'ENSG00000235427.1',
 'ENSG00000231210.3',
 'ENSG00000249502.3',
 'ENSG00000286591.1',
 'ENSG00000256020.3',
 'ENSG00000256146.1',
 'ENSG00000256417.1',
 'ENSG00000283138.1',
 'ENSG00000266921.2',
 'ENSG00000267058.1',
 'ENSG00000267191.3',
 'ENSG00000277806.1',
 'ENSG00000286613.1',
 'ENSG00000287778.2',
 'ENSG00000271392.1',
 'ENSG00000272799.1',
 'ENSG00000243224.2',
 'ENSG00000055955.17',
 'ENSG00000268460.2',
 'ENSG00000269729.1',
 'ENSG00000268621.6',
 'ENSG00000264513.1',
 'ENSG00000272473.2',
 'ENSG00000267530.5',
 'ENSG00000253392.4',
 'ENSG00000260970.1',
 'ENSG00000251412.1',
 'ENSG00000248425.1',
 'ENSG00000246225.7',
 'ENSG00000206129.4',
 'ENSG00000267732.2',
 'ENSG00000278683.1',
 'ENSG00000272686.1',
 'ENSG00000281120.1',
 'ENSG00000230033.1',
 'ENSG00000287554.1',
 'ENSG00000236213.4',
 'ENSG00000223872.2',
 'ENSG00000233191.2',
 'ENSG00000234210.1',
 'ENSG00000278959.1',
 'ENSG00000243193.4',
 'ENSG00000248851.1',
 'ENSG00000262456.1',
 'ENSG00000263345.1',
 'ENSG00000274758.1',
 'ENSG00000263466.1',
 'ENSG00000265784.1',
 'ENSG00000266588.1',
 'ENSG00000277005.1',
 'ENSG00000279119.1',
 'ENSG00000275665.1',
 'ENSG00000277182.2',
 'ENSG00000277969.2',
 'ENSG00000227489.1',
 'ENSG00000228509.7',
 'ENSG00000273448.1',
 'ENSG00000272719.1',
 'ENSG00000268643.2',
 'ENSG00000249906.1',
 'ENSG00000261770.1',
 'ENSG00000266977.2',
 'ENSG00000267575.9',
 'ENSG00000281468.1',
 'ENSG00000059804.17',
 'ENSG00000288043.1',
 'ENSG00000287713.1',
 'ENSG00000287390.1',
 'ENSG00000261342.1',
 'ENSG00000236540.7',
 'ENSG00000234409.7',
 'ENSG00000268292.1',
 'ENSG00000243762.1',
 'ENSG00000267150.1',
 'ENSG00000267356.1',
 'ENSG00000273368.1',
 'ENSG00000257105.1',
 'ENSG00000282022.1',
 'ENSG00000269194.1',
 'ENSG00000235478.6',
 'ENSG00000273203.1',
 'ENSG00000273442.1',
 'ENSG00000237400.1',
 'ENSG00000260070.1',
 'ENSG00000269446.2',
 'ENSG00000283504.1',
 'ENSG00000283648.1',
 'ENSG00000279317.4',
 'ENSG00000267055.1',
 'ENSG00000244239.1',
 'ENSG00000262020.1',
 'ENSG00000274038.1',
 'ENSG00000271185.1',
 'ENSG00000273320.2',
 'ENSG00000227017.1',
 'ENSG00000230751.1',
 'ENSG00000251660.1',
 'ENSG00000272807.1',
 'ENSG00000229127.2',
 'ENSG00000228384.4',
 'ENSG00000258881.6',
 'ENSG00000239322.1',
 'ENSG00000237689.1',
 'ENSG00000261094.2',
 'ENSG00000286718.2',
 'ENSG00000223838.2',
 'ENSG00000226605.1',
 'ENSG00000231172.2',
 'ENSG00000237293.1',
 'ENSG00000271955.2',
 'ENSG00000251410.2',
 'ENSG00000287389.2',
 'ENSG00000263004.3',
 'ENSG00000263089.1',
 'ENSG00000250497.1',
 'ENSG00000229970.3',
 'ENSG00000272328.1',
 'ENSG00000286478.1',
 'ENSG00000261146.1',
 'ENSG00000234718.7',
 'ENSG00000230408.3',
 'ENSG00000237166.4',
 'ENSG00000231815.2',
 'ENSG00000224721.3',
 'ENSG00000269145.2',
 'ENSG00000268810.1',
 'ENSG00000269124.1',
 'ENSG00000269151.4',
 'ENSG00000256969.2',
 'ENSG00000260488.1',
 'ENSG00000261216.1',
 'ENSG00000261560.1',

In [145]:
adata_sc.write('../single_cell_int/adata_nuc_int_outlier_genes.h5ad')

# Transfer ENSEMBLE IDs to snRNA_seq

In [17]:
adata_sc = sc.read_h5ad('../single_cell_int/adata_sc_int_outlier_genes.h5ad')
adata_sn = sc.read_h5ad('../single_nuc_int/adata_nuc_int_outlier.h5ad')

In [35]:
adata_sc.obs.Dataset.unique().tolist()

['Ding',
 'Lee',
 'Simeone',
 'Steele',
 'Peng',
 'Caronni',
 'Zhang',
 'Lin',
 'Schlesinger',
 'Steele_Adj_Norm',
 'Peng_Normal']

In [19]:
sc_var = adata_sc.var[['ensembl_id', 'start', 'end', 'chromosome']]
sc_var['var_names'] = adata_sc.var.index

In [20]:
sn_var = adata_sn.var.copy()
sn_var['var_names'] = adata_sn.var.index

In [21]:
sn_var.head()

,n_cells,n_cells_by_counts,mean_counts,log1p_mean_counts,pct_dropout_by_counts,total_counts,log1p_total_counts,var_names
7SK,3158,0,0.0,0.0,100.0,0.0,0.0,7SK
7SK-1,361,0,0.0,0.0,100.0,0.0,0.0,7SK-1
7SK-2,2295,0,0.0,0.0,100.0,0.0,0.0,7SK-2
7SK.1,40,0,0.0,0.0,100.0,0.0,0.0,7SK.1
7SK.2,193,0,0.0,0.0,100.0,0.0,0.0,7SK.2

In [22]:
sc_var.head()

                  ensembl_id       start         end chromosome var_names
gene_name
7SK        ENSG00000202241.1  30864250.0  30864552.0       chr6       7SK
7SK-1      ENSG00000202241.1  30864250.0  30864552.0       chr6     7SK-1
7SK-2      ENSG00000202241.1  30864250.0  30864552.0       chr6     7SK-2
7SK.1      ENSG00000202241.1  30864250.0  30864552.0       chr6     7SK.1
7SK.2      ENSG00000202241.1  30864250.0  30864552.0       chr6     7SK.2

In [23]:
merged_var = pd.merge(sn_var, sc_var, on='var_names', how='left')

In [24]:
adata_sn.var.head()

,n_cells,n_cells_by_counts,mean_counts,log1p_mean_counts,pct_dropout_by_counts,total_counts,log1p_total_counts
7SK,3158,0,0.0,0.0,100.0,0.0,0.0
7SK-1,361,0,0.0,0.0,100.0,0.0,0.0
7SK-2,2295,0,0.0,0.0,100.0,0.0,0.0
7SK.1,40,0,0.0,0.0,100.0,0.0,0.0
7SK.2,193,0,0.0,0.0,100.0,0.0,0.0

In [25]:
merged_var

,n_cells,n_cells_by_counts,mean_counts,log1p_mean_counts,pct_dropout_by_counts,total_counts,log1p_total_counts,var_names,ensembl_id,start,end,chromosome
0,3158,0,0.0,0.0,100.0,0.0,0.0,7SK,ENSG00000202241.1,30864250.0,30864552.0,chr6
1,361,0,0.0,0.0,100.0,0.0,0.0,7SK-1,ENSG00000202241.1,30864250.0,30864552.0,chr6
2,2295,0,0.0,0.0,100.0,0.0,0.0,7SK-2,ENSG00000202241.1,30864250.0,30864552.0,chr6
3,40,0,0.0,0.0,100.0,0.0,0.0,7SK.1,ENSG00000202241.1,30864250.0,30864552.0,chr6
4,193,0,0.0,0.0,100.0,0.0,0.0,7SK.2,ENSG00000202241.1,30864250.0,30864552.0,chr6
...,...,...,...,...,...,...,...,...,...,...,...,...
39019,197,0,0.0,0.0,100.0,0.0,0.0,bP-21264C1.2,ENSG00000278932.6,9325013.0,9370490.0,chr21
39020,3371,0,0.0,0.0,100.0,0.0,0.0,hsa-mir-1199,ENSG00000284081.1,14073361.0,14073479.0,chr19
39021,13,0,0.0,0.0,100.0,0.0,0.0,hsa-mir-150,ENSG00000207782.3,49500785.0,49500868.0,chr19
39022,46,0,0.0,0.0,100.0,0.0,0.0,hsa-mir-335,ENSG00000199043.1,130496111.0,130496204.0,chr7
39023,1476,0,0.0,0.0,100.0,0.0,0.0,hsa-mir-8072,ENSG00000284425.1,123364764.0,123364843.0,chr12

In [26]:
adata_sn.var = merged_var.set_index('var_names')

In [32]:
adata_sn.obs.rename(columns={'Dataset_Barcode': 'Dataset_Barcode_repeated'}, inplace=True)

In [33]:
adata_sn.write('../single_nuc_int/adata_nuc_int_outlier_genes.h5ad')