In [5]:
import pandas as pd
import numpy as np

In [6]:
pwd

'/ictstr01/groups/ml01/workspace/shrey.parikh/PDAC_Work_Dir/PDAC_Final/Downstream'

In [14]:
pd.set_option('display.max_columns', None)

In [264]:
df_id = pd.read_csv('ID_Harmonised.csv')

# Ding

In [734]:
ding = pd.read_excel('metadata_publications/Ding_metadata.xlsx', sheet_name='Table2_Metadata')

In [735]:
df_id

,Dataset_Barcode,ID_harmonised,Dataset,Unique_ID
0,Ding_AAACCCAAGTCATCGT-1-HT056P-S1PAA1-0-0-0-0,HT056P1,Ding,HT056P1
1,Ding_AAACCCACAGAAGCTG-1-HT060P1-S1R1A1G1Z1_1B2...,HT060P1,Ding,HT060P1
2,Ding_AAACCCAAGTAACCGG-1-HT061P1-S1PAA1A1Z1_1B2...,HT061P1,Ding,HT061P1
3,Ding_AAAGGGCCAAGTCATC-1-HT064P1-S1H1A2A1Z1_1B2...,HT064P1,Ding,HT064P1
4,Ding_AAACGAATCTCTCTTC-1-HT071P1-XB1_1-1-0-0-0,HT071P1,Ding,HT071P1
...,...,...,...,...
168,Ding_AAACAGCCAATATAGG-1-HT270P1-S1H2Fc2A2N1Bmn...,HT270P1,Ding_snRNA-seq,HT270P1
169,Ding_AAACAGCCAGCTCATA-1-HT284P1-S1H2Fc2A2N1Z1_...,HT284P1,Ding_snRNA-seq,HT284P1
170,Ding_AAACAGCCAAACCCTA-1-HT288P1-S1H4Fc2A2N1Z1_...,HT288P1,Ding_snRNA-seq,HT288P1
171,Ding_AAACAGCCAATGCCCG-1-HT306P1-S1H1Fc2A2N1Z1_...,HT306P1,Ding_snRNA-seq,HT306P1
172,Ding_AAACAGCCACAACAAA-1-HT412P1-S1H1A3N1Z1_1Bm...,HT412P1,Ding_snRNA-seq,HT412P1

In [736]:
ding.tail()

,Sample,Case,Tissue,scRNA_available,WES_available,RNA-Seq_available,Proteome_available,Phosphoproteome_available,Hyperion_available,H&E_available,Treatment,KRAS_VAF,KRAS_mutation,scRNA_tumor_percentage,Histology_tumor_percentage,ABSOLUTE_Cancer_DNA_fraction,KRAS_type,TP53_type,SMAD4_type,CDKN2A_type,Germline_ATM,Germline_BRCA2,Germline_FANCC,Stroma_Score,Immune_Score,ESTIMATE_Score,Immune_subtype_2k,Moffitt_Subtype,Bailey_Subtype,Collisson_Subtype
68,HT200P1_S1H2,HT200P1,Tumor,True,True,True,False,False,False,True,FOLFIRINOX,0.230769,p.G12V,5.723704,45.0,0.25,Missense,Nonsense,Missense,Missense,Wild_Type,Wild_Type,Wild_Type,1312.272569,1385.296908,2697.569478,High,Classical,Squamous,Classical
69,HT200P1_S1H4,HT200P1,Tumor,True,True,True,False,False,False,True,FOLFIRINOX,0.150000,p.G12V,12.137097,50.0,0.29,Missense,Nonsense,Missense,Missense,Wild_Type,Wild_Type,Wild_Type,1819.804456,1172.983804,2992.788260,High,Classical,Squamous,Classical
70,HT204P1_S1H2,HT204P1,Tumor,True,False,True,False,False,False,True,FOLFIRINOX,NaN,NaN,6.281407,17.5,0.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,919.460912,1132.259029,2051.719941,High,Classical,ADEX,Exocrine-like
71,HT204P1_S1H4,HT204P1,Tumor,True,False,True,False,False,False,True,FOLFIRINOX,NaN,NaN,20.158730,35.0,0.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1741.273344,1715.367115,3456.640459,High,Classical,Squamous,Exocrine-like
72,HT204P1_S1H5,HT204P1,Tumor,True,False,True,False,False,False,True,FOLFIRINOX,NaN,NaN,10.869565,25.0,0.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1662.948871,1077.558971,2740.507842,Low,Classical,Squamous,Exocrine-like

In [737]:
ding.columns

Index(['Sample', 'Case', 'Tissue', 'scRNA_available', 'WES_available',
       'RNA-Seq_available', 'Proteome_available', 'Phosphoproteome_available',
       'Hyperion_available', 'H&E_available', 'Treatment', 'KRAS_VAF',
       'KRAS_mutation', 'scRNA_tumor_percentage', 'Histology_tumor_percentage',
       'ABSOLUTE_Cancer_DNA_fraction', 'KRAS_type', 'TP53_type', 'SMAD4_type',
       'CDKN2A_type', 'Germline_ATM', 'Germline_BRCA2', 'Germline_FANCC',
       'Stroma_Score', 'Immune_Score', 'ESTIMATE_Score', 'Immune_subtype_2k',
       'Moffitt_Subtype', 'Bailey_Subtype', 'Collisson_Subtype'],
      dtype='object')

In [738]:
ding_dedup = ding[ding.Case.isin(df_id.ID_harmonised.tolist())].drop_duplicates(subset='Case', keep='first')

In [739]:
interesing_cols = ['Case', 'KRAS_mutation', 'KRAS_type', 'TP53_type', 'SMAD4_type',
       'CDKN2A_type', 'Germline_ATM', 'Germline_BRCA2', 'Germline_FANCC', 'Moffitt_Subtype', 'Bailey_Subtype', 'Collisson_Subtype']

In [740]:
df_id_merged = df_id.merge(ding_dedup[interesing_cols], left_on='ID_harmonised', right_on='Case', how='left')

In [741]:
df_id_merged.drop('Dataset_Barcode', axis=1, inplace=True)

In [742]:
df_id_merged.drop_duplicates()

,ID_harmonised,Dataset,Unique_ID,Case,KRAS_mutation,KRAS_type,TP53_type,SMAD4_type,CDKN2A_type,Germline_ATM,Germline_BRCA2,Germline_FANCC,Moffitt_Subtype,Bailey_Subtype,Collisson_Subtype
0,HT056P1,Ding,HT056P1,HT056P1,p.G12V,Missense,Missense,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Basal-like,Immunogenic,Quasimesenchymal
1,HT060P1,Ding,HT060P1,HT060P1,p.G12V,Missense,Wild_Type,Wild_Type,Wild_Type,Nonsense,Nonsense,Wild_Type,Classical,ADEX,Exocrine-like
2,HT061P1,Ding,HT061P1,HT061P1,p.G12D,Missense,Nonsense,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Wild_Type,NaN,NaN,NaN
3,HT064P1,Ding,HT064P1,HT064P1,p.G12R,Missense,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Basal-like,Pancreatic_progenitor,Classical
4,HT071P1,Ding,HT071P1,HT071P1,p.G12D,Missense,Missense,Nonsense,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Basal-like,Immunogenic,Quasimesenchymal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,HT270P1,Ding_snRNA-seq,HT270P1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,HT284P1,Ding_snRNA-seq,HT284P1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,HT288P1,Ding_snRNA-seq,HT288P1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,HT306P1,Ding_snRNA-seq,HT306P1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,HT412P1,Ding_snRNA-seq,HT412P1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [743]:
ding_2 = pd.read_excel('metadata_publications/Ding_metadata.xlsx', sheet_name='Table1_Clinical_data')

In [744]:
ding_2_dedup = ding_2[ding_2.Patient_ID.isin(df_id.ID_harmonised.tolist())].drop_duplicates(subset='Patient_ID', keep='first')

In [745]:
ding_2_dedup.head()

,Patient_ID,Age,Race,Ethnicity,Sex,Time_from_diagnosis_to_surgery_(weeks),Treatment,Cycles,Treatment_notes,Cancer_type,Location,Grade,Size_(cm),Tumor_viability_%,Pathology_notes,Lymph_node_met,Stage,Diabetes,Pancreatitis,Previous_cancer_history,Other_co-morbidities,Smoker,Alcohol,Family_history_HPB_first_degree,Other_family_history_first_degree,Vital_status,Survival_post_surgery_(weeks),Other_Notes
0,HT056P1,48,white,non-hispanic,female,20,FOLFIRINOX,6,Last dose 7 weeks prior to surgery,PDAC,"head, uncinate_process",3.0,3.2,60.0,"ypT2, focal sarcomatoid transformation","2/21, pN1",NaN,No,Yes,No,No,No,Occasional,No,No,NaN,NaN,NaN
1,HT060P1,61,white,non-hispanic,female,20,FOLFIRINOX,6,Last dose 4 weeks prior to surgery,PDAC,"head, uncinate_process",3.0,3.2,70.0,"ypT2, extends to duodenum and vascular groove","2/25, pN1",IIb,Type II,NaN,NaN,No,No,Occasional,No,"breast cancer, diabetes-sister",NaN,NaN,NaN
2,HT061P1,74,white,non-hispanic,male,12,Naive,NaN,NaN,PDAC,head,3.0,3.5,NaN,"pT2, poorly differentiated tumor arising in IPMN","3/7, pN1",NaN,No,NaN,Multiple myeloma (remission),"A-fib, chronic kidney disease",Former,No,No,NaN,NaN,NaN,NaN
3,HT064P1,66,white,non-hispanic,male,16,Naive,NaN,NaN,PDAC,head,1.0,3.2,NaN,"pT2, invasive carcinoma intermixed with IPMN","19/32, pN2",NaN,No,Yes,No,No,No,No,No,"breast cancer-sister, colon cancer-mother, lun...",NaN,NaN,NaN
4,HT071P1,68,white,non-hispanic,female,16,Chemo-RT,NaN,5-FU and radiation 11 weeks prior to surgery,PDAC,head,3.0,3.4,70.0,"ypT2, poorly differentiated","2/25, pN1",NaN,No,NaN,Breast cancer (chemo 13 years prior),No,No,Occasional,No,"Hodgkin's lymphoma-fater, neuroblastoma-brother",Deceased,5.0,NaN

In [746]:
ding_2_dedup.columns

Index(['Patient_ID', 'Age', 'Race', 'Ethnicity', 'Sex',
       'Time_from_diagnosis_to_surgery_(weeks)', 'Treatment', 'Cycles',
       'Treatment_notes', 'Cancer_type', 'Location', 'Grade', 'Size_(cm)',
       'Tumor_viability_%', 'Pathology_notes', 'Lymph_node_met', 'Stage',
       'Diabetes', 'Pancreatitis', 'Previous_cancer_history',
       'Other_co-morbidities', 'Smoker', 'Alcohol',
       'Family_history_HPB_first_degree', 'Other_family_history_first_degree',
       'Vital_status', 'Survival_post_surgery_(weeks)', 'Other_Notes'],
      dtype='object')

In [747]:
# Function to extract the T stage and N stage
def extract_tnm(row):
    # Extract T stage from Pathology_notes
    t_stage = row['Pathology_notes'].split(',')[0]  # Get the first part before the comma
    # Extract N stage from Lymph_node_met
    n_stage = row['Lymph_node_met'].split(',')[1].strip()  # Get the part after the comma
    return f"{t_stage} {n_stage}"

# Create the new TNM classification column
ding_2_dedup['TNM_classification'] = ding_2_dedup.apply(extract_tnm, axis=1)

In [748]:
interesing_cols = ['Patient_ID', 'Time_from_diagnosis_to_surgery_(weeks)', 'Cycles', 'Location', 'Grade', 'Size_(cm)', 'Stage','Diabetes', 
                   'Pancreatitis', 'Previous_cancer_history',  'Other_co-morbidities', 'Smoker', 'Alcohol', 'Pathology_notes', 'Lymph_node_met',
                   'Survival_post_surgery_(weeks)', 'Vital_status', 'TNM_classification']

In [749]:
ding_2_dedup.head(2)

,Patient_ID,Age,Race,Ethnicity,Sex,Time_from_diagnosis_to_surgery_(weeks),Treatment,Cycles,Treatment_notes,Cancer_type,Location,Grade,Size_(cm),Tumor_viability_%,Pathology_notes,Lymph_node_met,Stage,Diabetes,Pancreatitis,Previous_cancer_history,Other_co-morbidities,Smoker,Alcohol,Family_history_HPB_first_degree,Other_family_history_first_degree,Vital_status,Survival_post_surgery_(weeks),Other_Notes,TNM_classification
0,HT056P1,48,white,non-hispanic,female,20,FOLFIRINOX,6,Last dose 7 weeks prior to surgery,PDAC,"head, uncinate_process",3.0,3.2,60.0,"ypT2, focal sarcomatoid transformation","2/21, pN1",NaN,No,Yes,No,No,No,Occasional,No,No,NaN,NaN,NaN,ypT2 pN1
1,HT060P1,61,white,non-hispanic,female,20,FOLFIRINOX,6,Last dose 4 weeks prior to surgery,PDAC,"head, uncinate_process",3.0,3.2,70.0,"ypT2, extends to duodenum and vascular groove","2/25, pN1",IIb,Type II,NaN,NaN,No,No,Occasional,No,"breast cancer, diabetes-sister",NaN,NaN,NaN,ypT2 pN1

In [750]:
df_id_merged = df_id_merged.merge(ding_2_dedup[interesing_cols], left_on='ID_harmonised', right_on='Patient_ID', how='left')

In [751]:
df_id_merged.head()

,ID_harmonised,Dataset,Unique_ID,Case,KRAS_mutation,KRAS_type,TP53_type,SMAD4_type,CDKN2A_type,Germline_ATM,Germline_BRCA2,Germline_FANCC,Moffitt_Subtype,Bailey_Subtype,Collisson_Subtype,Patient_ID,Time_from_diagnosis_to_surgery_(weeks),Cycles,Location,Grade,Size_(cm),Stage,Diabetes,Pancreatitis,Previous_cancer_history,Other_co-morbidities,Smoker,Alcohol,Pathology_notes,Lymph_node_met,Survival_post_surgery_(weeks),Vital_status,TNM_classification
0,HT056P1,Ding,HT056P1,HT056P1,p.G12V,Missense,Missense,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Basal-like,Immunogenic,Quasimesenchymal,HT056P1,20.0,6,"head, uncinate_process",3.0,3.2,NaN,No,Yes,No,No,No,Occasional,"ypT2, focal sarcomatoid transformation","2/21, pN1",NaN,NaN,ypT2 pN1
1,HT060P1,Ding,HT060P1,HT060P1,p.G12V,Missense,Wild_Type,Wild_Type,Wild_Type,Nonsense,Nonsense,Wild_Type,Classical,ADEX,Exocrine-like,HT060P1,20.0,6,"head, uncinate_process",3.0,3.2,IIb,Type II,NaN,NaN,No,No,Occasional,"ypT2, extends to duodenum and vascular groove","2/25, pN1",NaN,NaN,ypT2 pN1
2,HT061P1,Ding,HT061P1,HT061P1,p.G12D,Missense,Nonsense,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Wild_Type,NaN,NaN,NaN,HT061P1,12.0,NaN,head,3.0,3.5,NaN,No,NaN,Multiple myeloma (remission),"A-fib, chronic kidney disease",Former,No,"pT2, poorly differentiated tumor arising in IPMN","3/7, pN1",NaN,NaN,pT2 pN1
3,HT064P1,Ding,HT064P1,HT064P1,p.G12R,Missense,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Basal-like,Pancreatic_progenitor,Classical,HT064P1,16.0,NaN,head,1.0,3.2,NaN,No,Yes,No,No,No,No,"pT2, invasive carcinoma intermixed with IPMN","19/32, pN2",NaN,NaN,pT2 pN2
4,HT071P1,Ding,HT071P1,HT071P1,p.G12D,Missense,Missense,Nonsense,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Basal-like,Immunogenic,Quasimesenchymal,HT071P1,16.0,NaN,head,3.0,3.4,NaN,No,NaN,Breast cancer (chemo 13 years prior),No,No,Occasional,"ypT2, poorly differentiated","2/25, pN1",5.0,Deceased,ypT2 pN1

In [608]:
df_id_merged.shape

(173, 33)

# Hwang

In [752]:
hwang = pd.read_excel('metadata_publications/Hwang_metadata.xlsx', sheet_name='Supplementary Table 1', header=1)

In [753]:
hwang.head(5)

,ID,Age (decade),Sex,Stage/Grade,Margin,Histology,Neoadjuvant,Status Last FUP,PFS (d),OS (d),Storage (d),10x Chemistry
0,Untreated (U),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PDAC_U_1,20s,F,T3N1M0/g2-3,R1,NaN,NaN,DWD,70,919.0,638.0,v3
2,PDAC_U_2,60s,F,T3N2M0/g2,R1,AS,NaN,DWD,78,297.0,17.0,v3
3,PDAC_U_3,60s,F,T3N0M0/gX,R0,FG,NaN,MET,578,1082.0,341.0,v3
4,PDAC_U_4,60s,M,T3N1M0/g3,R0,NaN,NaN,DWD,267,538.0,634.0,v2

In [754]:
hwang['Vital_status'] = hwang['Status Last FUP'].map({
    'DWD': 'Deceased - Disease',
    'DWOD': 'Deceased - Other',
    'MET': 'Alive - Metastatic',
    'NED': 'Alive - Disease-free'
})

In [755]:
hwang[['TNM_classification', 'Grade']] = hwang['Stage/Grade'].str.split('/', expand=True)

In [756]:
hwang.rename(columns={'PFS (d)': 'Progression-Free Survival', 'OS (d)': 'Overall Survival'}, inplace=True)

In [757]:
hwang.head()

,ID,Age (decade),Sex,Stage/Grade,Margin,Histology,Neoadjuvant,Status Last FUP,Progression-Free Survival,Overall Survival,Storage (d),10x Chemistry,Vital_status,TNM_classification,Grade
0,Untreated (U),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PDAC_U_1,20s,F,T3N1M0/g2-3,R1,NaN,NaN,DWD,70,919.0,638.0,v3,Deceased - Disease,T3N1M0,g2-3
2,PDAC_U_2,60s,F,T3N2M0/g2,R1,AS,NaN,DWD,78,297.0,17.0,v3,Deceased - Disease,T3N2M0,g2
3,PDAC_U_3,60s,F,T3N0M0/gX,R0,FG,NaN,MET,578,1082.0,341.0,v3,Alive - Metastatic,T3N0M0,gX
4,PDAC_U_4,60s,M,T3N1M0/g3,R0,NaN,NaN,DWD,267,538.0,634.0,v2,Deceased - Disease,T3N1M0,g3

In [758]:
df_id_merged[df_id_merged.Dataset.str.contains('Hwa')]

,ID_harmonised,Dataset,Unique_ID,Case,KRAS_mutation,KRAS_type,TP53_type,SMAD4_type,CDKN2A_type,Germline_ATM,Germline_BRCA2,Germline_FANCC,Moffitt_Subtype,Bailey_Subtype,Collisson_Subtype,Patient_ID,Time_from_diagnosis_to_surgery_(weeks),Cycles,Location,Grade,Size_(cm),Stage,Diabetes,Pancreatitis,Previous_cancer_history,Other_co-morbidities,Smoker,Alcohol,Pathology_notes,Lymph_node_met,Survival_post_surgery_(weeks),Vital_status,TNM_classification
119,PDAC_T_25,Hwang,T25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,PDAC_U_2,Hwang,U2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,PDAC_U_16,Hwang,U16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,PDAC_T_4,Hwang,T4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,PDAC_U_15,Hwang,U15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,PDAC_U_18,Hwang,U18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,PDAC_T_16,Hwang,T16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,PDAC_T_23,Hwang,T23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,PDAC_T_7,Hwang,T7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,PDAC_T_22,Hwang,T22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,PDAC_U_7,Hwang,U7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,PDAC_T_5,Hwang,T5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,PDAC_U_12,Hwang,U12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,PDAC_U_10,Hwang,U10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,PDAC_U_5,Hwang,U5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,PDAC_U_3,Hwang,U3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,PDAC_T_18,Hwang,T18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,PDAC_U_11,Hwang,U11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,PDAC_T_20,Hwang,T20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,PDAC_U_13,Hwang,U13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,PDAC_U_14,Hwang,U14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,PDAC_T_6,Hwang,T6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,PDAC_T_17,Hwang,T17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,PDAC_T_2,Hwang,T2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,PDAC_U_1,Hwang,U1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,PDAC_U_9,Hwang,U9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,PDAC_U_6,Hwang,U6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,PDAC_U_4,Hwang,U4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,PDAC_T_13,Hwang,T13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,PDAC_T_14,Hwang,T14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,PDAC_T_15,Hwang,T15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,PDAC_T_3,Hwang,T3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,PDAC_T_1,Hwang,T1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,PDAC_T_10,Hwang,T10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,PDAC_T_12,Hwang,T12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,PDAC_T_24,Hwang,T24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,PDAC_T_21,Hwang,T21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,PDAC_T_11,Hwang,T11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,PDAC_U_17,Hwang,U17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,PDAC_U_8,Hwang,U8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,PDAC_T_19,Hwang,T19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,PDAC_T_8,Hwang,T8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,PDAC_T_9,Hwang,T9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [759]:
df_id_merged[df_id_merged.Dataset.str.contains('Hwa')].shape

(43, 33)

In [760]:
hwang_clean = hwang[hwang['ID'].notna()].copy()

In [761]:
hwang_clean['ID'] = (
    hwang_clean['ID']
    .astype(str)                   # ensure all are strings
    .str.strip()                   # remove leading/trailing spaces
    .str.replace('†', '', regex=False)  # remove dagger symbol
)

In [762]:
hwang_clean = hwang_clean[hwang_clean['ID'].str.startswith('PDAC_')]

In [763]:
hwang_clean.columns

Index(['ID', 'Age (decade)', 'Sex', 'Stage/Grade', 'Margin', 'Histology',
       'Neoadjuvant', 'Status Last FUP', 'Progression-Free Survival',
       'Overall Survival', 'Storage (d)', '10x Chemistry', 'Vital_status',
       'TNM_classification', 'Grade'],
      dtype='object')

In [764]:
# df_id_merged['Overall Survival']

In [765]:
df_id_merged['Overall Survival'] = df_id_merged['Survival_post_surgery_(weeks)'] * 7

In [766]:
# interesing_cols = ['ID', 'Grade', 'TNM_classification' 'Vital_status', 'Overall Survival']

In [767]:
len(set(hwang_clean.ID) & set(df_id_merged.ID_harmonised))

43

In [768]:
hwang_map = hwang_clean.set_index('ID')

In [771]:
interesing_cols = ['Grade','TNM_classification', 'Vital_status', 'Overall Survival']

In [772]:
for col in interesing_cols:
    if col in df_id_merged.columns:
        df_id_merged[col] = df_id_merged['ID_harmonised'].map(hwang_map[col]).fillna(df_id_merged[col])
    else:
        df_id_merged[col] = df_id_merged['ID_harmonised'].map(hwang_map[col])

In [773]:
df_id_merged.head(3)

,ID_harmonised,Dataset,Unique_ID,Case,KRAS_mutation,KRAS_type,TP53_type,SMAD4_type,CDKN2A_type,Germline_ATM,Germline_BRCA2,Germline_FANCC,Moffitt_Subtype,Bailey_Subtype,Collisson_Subtype,Patient_ID,Time_from_diagnosis_to_surgery_(weeks),Cycles,Location,Grade,Size_(cm),Stage,Diabetes,Pancreatitis,Previous_cancer_history,Other_co-morbidities,Smoker,Alcohol,Pathology_notes,Lymph_node_met,Survival_post_surgery_(weeks),Vital_status,TNM_classification,Overall Survival
0,HT056P1,Ding,HT056P1,HT056P1,p.G12V,Missense,Missense,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Basal-like,Immunogenic,Quasimesenchymal,HT056P1,20.0,6,"head, uncinate_process",3.0,3.2,NaN,No,Yes,No,No,No,Occasional,"ypT2, focal sarcomatoid transformation","2/21, pN1",NaN,NaN,ypT2 pN1,NaN
1,HT060P1,Ding,HT060P1,HT060P1,p.G12V,Missense,Wild_Type,Wild_Type,Wild_Type,Nonsense,Nonsense,Wild_Type,Classical,ADEX,Exocrine-like,HT060P1,20.0,6,"head, uncinate_process",3.0,3.2,IIb,Type II,NaN,NaN,No,No,Occasional,"ypT2, extends to duodenum and vascular groove","2/25, pN1",NaN,NaN,ypT2 pN1,NaN
2,HT061P1,Ding,HT061P1,HT061P1,p.G12D,Missense,Nonsense,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Wild_Type,NaN,NaN,NaN,HT061P1,12.0,NaN,head,3.0,3.5,NaN,No,NaN,Multiple myeloma (remission),"A-fib, chronic kidney disease",Former,No,"pT2, poorly differentiated tumor arising in IPMN","3/7, pN1",NaN,NaN,pT2 pN1,NaN

In [774]:
df_id_merged.groupby(['Dataset', 'Grade']).size().unstack().T

Dataset  Ding  Ding_snRNA-seq  Hwang
Grade
1.0       4.0             2.0    NaN
2.0       8.0             4.0    NaN
3.0       7.0             4.0    NaN
g2        NaN             NaN   22.0
g2-3      NaN             NaN    4.0
g3        NaN             NaN    7.0
gX        NaN             NaN   10.0

In [775]:
df_id_merged.groupby(['Dataset', 'TNM_classification']).size().unstack().T

Dataset,Ding,Ding_snRNA-seq,Hwang
TNM_classification,,,
T2N0M0,NaN,NaN,2.0
T2N1M0,NaN,NaN,6.0
T2N2M0,NaN,NaN,1.0
T3N0M0,NaN,NaN,3.0
T3N1M0,NaN,NaN,3.0
T3N2M0,NaN,NaN,3.0
pT1a pN0,NaN,1.0,NaN
pT2 pN0,NaN,2.0,NaN
pT2 pN1,2.0,1.0,NaN
pT2 pN2,4.0,NaN,NaN
pT3 pN2,1.0,NaN,NaN
rpT2 moderately differentiated pN1,NaN,1.0,NaN
yT2 pN1,1.0,NaN,NaN
ypT1 moderately differentiated positive for perineural invasion negative for lymphovascular pN0,NaN,1.0,NaN
ypT1aN0M0,NaN,NaN,2.0
ypT1aN1M0,NaN,NaN,1.0
ypT1cN0M0,NaN,NaN,2.0
ypT1cN1M0,NaN,NaN,1.0
ypT2 pN0,3.0,1.0,NaN
ypT2 pN1,5.0,1.0,NaN
ypT2 pN2,3.0,NaN,NaN
ypT2N0M0,NaN,NaN,6.0
ypT2N1M0,NaN,NaN,2.0
ypT2N2M0,NaN,NaN,1.0
ypT3 pN0,NaN,2.0,NaN
ypT3 pN2,2.0,1.0,NaN
ypT3N0M0,NaN,NaN,8.0
ypT3N1M0,NaN,NaN,2.0

# Simeone

In [776]:
simeone = pd.read_excel('metadata_publications/Simeone_metadata.xlsx', sheet_name='Genomic Mutations')

In [777]:
simeone #.head(3)

,Patient,Source,Procedure,Seq Platform,KRAS,TP53,CDKN2A,SMAD4,other genetic features
0,P01,Liver,Biopsy,Tempus,G12R,Stop gained,WT,WT,NaN
1,P02,Liver,Biopsy,Tempus,G12D,Splice site,WT,WT,NaN
2,P03,Pancreas,Resection,WES,WT,WT,WT,WT,NaN
3,P04,Pancreas,Resection,Tempus,G12D,Missense,WT,WT,NaN
4,P05,Pancreas,Resection,Foundation,G12D,Missense,WT,Stop gained,NaN
5,P06,Pancreas,Biopsy,NaN,NaN,NaN,NaN,NaN,NaN
6,P07,Pancreas,Resection,Tempus,G12V,WT,WT,WT,NaN
7,P08,Pancreas,Resection,Tempus,G12D,Missense,WT,WT,NaN
8,P09,Pancreas,Biopsy,NaN,NaN,NaN,NaN,NaN,NaN
9,P10,Pancreas,Resection,Tempus,G12V,WT,WT,WT,NaN
10,P11,Liver,Biopsy,Foundation,G12L,Missense,LGR,WT,NaN
11,P12,Pancreas,Biopsy,Foundation,G12V,Stop gained,Stop gained,Missense,NaN
12,P13,Pancreas,Biopsy,WES,WT,Frameshift,WT,WT,NaN
13,P14,Pancreas,Resection,WES,WT,WT,WT,WT,NaN
14,P15,Pancreas,Resection,Tempus,G12V,Missense,Stop gained,WT,"MSI-H (MSH6 mut, MSH2 mut)"
15,P16,Liver,Biopsy,Tempus,G12V,Missense,WT,WT,NaN
16,P17,Liver,Biopsy,NaN,NaN,NaN,NaN,NaN,NaN
17,P18,Liver,Biopsy,Foundation,G12D,Missense,Loss,WT,germline BRCA-1 mut
18,P19,Pancreas,Resection,Foundation,G12V,Splice site,WT,WT,germline BRCA-2 mut
19,P20,Pancreas,Biopsy,Tempus,G12D,Missense,WT,WT,NaN
20,P21,Liver,Biopsy,Tempus,G12D,Missense,WT,WT,NaN
21,P22,Pancreas,Biopsy,NaN,NaN,NaN,NaN,NaN,NaN
22,P23,Pancreas,Resection,Tempus,G12D,Missense,WT,WT,NaN
23,P24,Liver,Biopsy,Tempus,Q61K,Missense,WT,WT,NaN
24,P25,Liver,Biopsy,Tempus,G12V,WT,WT,WT,NaN
25,P26,Pancreas,Biopsy,Tempus,G12V,WT,WT,WT,NaN
26,P27,Liver,Biopsy,Tempus,WT,WT,WT,WT,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,N/A = lack of sufficient tissue for sequencing,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,WT = wildtype,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,Mut = mutation,NaN,NaN,NaN,NaN,NaN,NaN

In [778]:
simeone.rename(columns={'KRAS': 'KRAS_mutation', 'TP53': 'TP53_type', 'CDKN2A': 'CDKN2A_type', 'SMAD4': 'SMAD4_type', 'Source': 'Tissue'}, inplace=True)

In [779]:
simeone.columns

Index(['Patient', 'Tissue', 'Procedure', 'Seq Platform', 'KRAS_mutation',
       'TP53_type', 'CDKN2A_type', 'SMAD4_type', 'other genetic features'],
      dtype='object')

In [780]:
df_id_merged[df_id_merged.Dataset.str.contains('Simeo')].head(2)

,ID_harmonised,Dataset,Unique_ID,Case,KRAS_mutation,KRAS_type,TP53_type,SMAD4_type,CDKN2A_type,Germline_ATM,Germline_BRCA2,Germline_FANCC,Moffitt_Subtype,Bailey_Subtype,Collisson_Subtype,Patient_ID,Time_from_diagnosis_to_surgery_(weeks),Cycles,Location,Grade,Size_(cm),Stage,Diabetes,Pancreatitis,Previous_cancer_history,Other_co-morbidities,Smoker,Alcohol,Pathology_notes,Lymph_node_met,Survival_post_surgery_(weeks),Vital_status,TNM_classification,Overall Survival
27,P22,Simeone,GSM6204130_P22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,P04,Simeone,GSM6204112_P04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [781]:
interesing_cols = ['Procedure', 'KRAS_mutation',
       'TP53_type', 'CDKN2A_type', 'SMAD4_type']

In [782]:
simeone_map = simeone.set_index('Patient')

In [783]:
simeone_map = simeone_map.iloc[:27, :]

In [784]:
simeone_map

,Tissue,Procedure,Seq Platform,KRAS_mutation,TP53_type,CDKN2A_type,SMAD4_type,other genetic features
Patient,,,,,,,,
P01,Liver,Biopsy,Tempus,G12R,Stop gained,WT,WT,NaN
P02,Liver,Biopsy,Tempus,G12D,Splice site,WT,WT,NaN
P03,Pancreas,Resection,WES,WT,WT,WT,WT,NaN
P04,Pancreas,Resection,Tempus,G12D,Missense,WT,WT,NaN
P05,Pancreas,Resection,Foundation,G12D,Missense,WT,Stop gained,NaN
P06,Pancreas,Biopsy,NaN,NaN,NaN,NaN,NaN,NaN
P07,Pancreas,Resection,Tempus,G12V,WT,WT,WT,NaN
P08,Pancreas,Resection,Tempus,G12D,Missense,WT,WT,NaN
P09,Pancreas,Biopsy,NaN,NaN,NaN,NaN,NaN,NaN
P10,Pancreas,Resection,Tempus,G12V,WT,WT,WT,NaN
P11,Liver,Biopsy,Foundation,G12L,Missense,LGR,WT,NaN
P12,Pancreas,Biopsy,Foundation,G12V,Stop gained,Stop gained,Missense,NaN
P13,Pancreas,Biopsy,WES,WT,Frameshift,WT,WT,NaN
P14,Pancreas,Resection,WES,WT,WT,WT,WT,NaN
P15,Pancreas,Resection,Tempus,G12V,Missense,Stop gained,WT,"MSI-H (MSH6 mut, MSH2 mut)"
P16,Liver,Biopsy,Tempus,G12V,Missense,WT,WT,NaN
P17,Liver,Biopsy,NaN,NaN,NaN,NaN,NaN,NaN
P18,Liver,Biopsy,Foundation,G12D,Missense,Loss,WT,germline BRCA-1 mut
P19,Pancreas,Resection,Foundation,G12V,Splice site,WT,WT,germline BRCA-2 mut
P20,Pancreas,Biopsy,Tempus,G12D,Missense,WT,WT,NaN
P21,Liver,Biopsy,Tempus,G12D,Missense,WT,WT,NaN
P22,Pancreas,Biopsy,NaN,NaN,NaN,NaN,NaN,NaN
P23,Pancreas,Resection,Tempus,G12D,Missense,WT,WT,NaN
P24,Liver,Biopsy,Tempus,Q61K,Missense,WT,WT,NaN
P25,Liver,Biopsy,Tempus,G12V,WT,WT,WT,NaN
P26,Pancreas,Biopsy,Tempus,G12V,WT,WT,WT,NaN
P27,Liver,Biopsy,Tempus,WT,WT,WT,WT,NaN

In [785]:
simeone_map['Unique_ID'] = simeone_map.index.map(dict(zip(df_id_merged[df_id_merged.Dataset.str.contains('Simeo')].ID_harmonised, df_id_merged[df_id_merged.Dataset.str.contains('Simeo')].Unique_ID)))

In [786]:
simeone_map = simeone_map[~simeone_map.Unique_ID.isna()].set_index('Unique_ID')

In [787]:
for col in interesing_cols:
    if col in df_id_merged.columns:
        df_id_merged[col] = df_id_merged['Unique_ID'].map(simeone_map[col]).fillna(df_id_merged[col])
    else:
        df_id_merged[col] = df_id_merged['Unique_ID'].map(simeone_map[col])

In [788]:
df_id_merged[df_id_merged.Dataset.str.contains('Simeo')].head(2)

,ID_harmonised,Dataset,Unique_ID,Case,KRAS_mutation,KRAS_type,TP53_type,SMAD4_type,CDKN2A_type,Germline_ATM,Germline_BRCA2,Germline_FANCC,Moffitt_Subtype,Bailey_Subtype,Collisson_Subtype,Patient_ID,Time_from_diagnosis_to_surgery_(weeks),Cycles,Location,Grade,Size_(cm),Stage,Diabetes,Pancreatitis,Previous_cancer_history,Other_co-morbidities,Smoker,Alcohol,Pathology_notes,Lymph_node_met,Survival_post_surgery_(weeks),Vital_status,TNM_classification,Overall Survival,Procedure
27,P22,Simeone,GSM6204130_P22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Biopsy
28,P04,Simeone,GSM6204112_P04,NaN,G12D,NaN,Missense,WT,WT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Resection

In [789]:
df_id_merged.groupby(['Dataset', 'KRAS_mutation']).size().unstack().T

Dataset        Ding  Simeone
KRAS_mutation
G12D            NaN      5.0
G12V            NaN      6.0
WT              NaN      3.0
p.G12D          6.0      NaN
p.G12R          4.0      NaN
p.G12V          4.0      NaN
p.Q61H          1.0      NaN

# Steele

In [650]:
import scanpy as sc

In [651]:
pwd

'/ictstr01/groups/ml01/workspace/shrey.parikh/PDAC_Work_Dir/PDAC_Final/Downstream'

In [379]:
steele_atlas = sc.read_h5ad('../../Steele_Atlas.h5ad')

In [400]:
steele_atlas.obs.head(2)

,nCount_RNA,nFeature_RNA,percent.mt,seurat_clusters,Count,Study..Citation..PMID.,GSE.SRA..Study.,Name,If.metastatic..location,Clusters,Treatment,DiseaseState,TreatmentType
AAACATACTCGTTT-1_1,2480.0,962,12.661290,4,241.0,"Lin W, Noel P, Borazanci EH, Lee J et al. Sing...",GSE154778,T1,NA,DUCTAL,Treatment naïve,Primary tumor,NaN
AAACCGTGGGTAGG-1_1,690.0,338,2.173913,3,241.0,"Lin W, Noel P, Borazanci EH, Lee J et al. Sing...",GSE154778,T1,NA,FIBROBLASTS,Treatment naïve,Primary tumor,NaN

In [401]:
steele_atlas.obs[steele_atlas.obs['GSE.SRA..Study.'].str.contains('GSE155698')].head(2)

,nCount_RNA,nFeature_RNA,percent.mt,seurat_clusters,Count,Study..Citation..PMID.,GSE.SRA..Study.,Name,If.metastatic..location,Clusters,Treatment,DiseaseState,TreatmentType
AAACGCTTCTTGGATG-1_220,6861.0,1695,4.124763,1,96.0,"Steele NG, Carpenter ES, Kemp SB, Sirihorachai...",GSE155698,SRR12461530,NA,TNK,Treatment naïve,Primary tumor,NA
AAAGAACAGCGCTGAA-1_220,4993.0,1513,4.686561,1,96.0,"Steele NG, Carpenter ES, Kemp SB, Sirihorachai...",GSE155698,SRR12461530,NA,TNK,Treatment naïve,Primary tumor,NA

In [403]:
steele = sc.read_h5ad('/lustre/groups/ml01/workspace/shrey.parikh/PDAC/raw_data/Steele/PDAC_TISSUE_1/filtered_feature_bc_matrix_output.h5ad')

In [407]:
steele.obs

Empty DataFrame
Columns: []
Index: [AAACGAAAGTGGAAAG-1, AAACGAAGTAGGGTAC-1, AAACGAAGTCATAGTC-1, AAACGCTGTAATCAGA-1, AAAGAACCATTAAAGG-1, AAAGGATTCGGCTTGG-1, AAAGGGCAGTAGCAAT-1, AAAGGGCAGTGAATAC-1, AAAGGGCCATGAAGGC-1, AAAGGTACAATAGTAG-1, AAAGGTACACATACGT-1, AAAGTCCTCAAGCCTA-1, AAAGTGAGTCACCTTC-1, AACAACCGTCTTCAAG-1, AACAACCGTTGCCTAA-1, AACAACCTCTTGTTAC-1, AACAAGAAGGGTTAGC-1, AACAAGAGTGTATCCA-1, AACAAGATCCATGAGT-1, AACACACGTTTGTTCT-1, AACCAACAGCGCTTCG-1, AACCAACCACTGGCCA-1, AACCACACACTTGAAC-1, AACCATGGTCATCCGG-1, AACCCAACACTAGGCC-1, AACCTGACATCTCATT-1, AACCTGAGTACACGCC-1, AACCTGAGTCGGCTAC-1, AACCTTTCAACCGTGC-1, AACCTTTGTATGACAA-1, AACCTTTTCATTTGTC-1, AACCTTTTCTGCTCTG-1, AACGAAAGTAGTCGTT-1, AACGGGACAGCTCCTT-1, AACGGGAGTGTTGCCG-1, AACGGGAGTTCCTAAG-1, AACGTCAGTTGTTTGG-1, AACGTCATCGGACGTC-1, AACTTCTCACGGCGTT-1, AAGAACAAGTCTTGGT-1, AAGAACAGTAGACGTG-1, AAGACAAAGCTGTGCC-1, AAGACAATCACCCTGT-1, AAGACTCCATCAGCAT-1, AAGACTCTCCCGAATA-1, AAGATAGAGCCTGTCG-1, AAGATAGGTCTCCCTA-1, AAGCATCGTTACACAC-1, AAGCCATAGAAACCCG-1, AAGCCATCATCACAGT-1, AAGCCATCATTGCTGA-1, AAGCCATGTTAGAAGT-1, AAGCGAGAGTGATTCC-1, AAGCGTTGTTAAGAAC-1, AAGCGTTTCACCATAG-1, AAGGAATAGTGTACCT-1, AAGGTAACACTTCCTG-1, AAGTACCCAAGTGTCT-1, AAGTACCCACAAACGG-1, AAGTACCGTGCACATT-1, AAGTCGTAGCGCCTTG-1, AAGTCGTAGTAGCAAT-1, AAGTTCGAGTGGCGAT-1, AAGTTCGCACTTCCTG-1, AAGTTCGTCGGCCAAC-1, AATAGAGAGTTGTCAC-1, AATAGAGCAGGATCTT-1, AATCACGCACCCTGTT-1, AATCACGTCACGGGAA-1, AATCACGTCCCAAGTA-1, AATCGACAGCACTCAT-1, AATCGACGTCGAGCTC-1, AATCGTGCAGTAACCT-1, AATGACCCAGAAATTG-1, AATGACCTCTATGCCC-1, AATGCCATCATGGAGG-1, AATGGAAAGAACCCGA-1, AATGGCTGTATAGGAT-1, AATGGCTGTTAATGAG-1, AATTCCTCATGAAGGC-1, AATTCCTGTCGAATTC-1, AATTCCTGTTTCGATG-1, AATTTCCGTTCGAAGG-1, AATTTCCTCGGCTTGG-1, ACAAAGAAGTAGAATC-1, ACAAAGACAGGATTCT-1, ACAACCACACATCATG-1, ACAACCACACATTCGA-1, ACAAGCTAGGGATGTC-1, ACAAGCTGTCGCCACA-1, ACACCAAAGCCGCACT-1, ACACCAAGTATGGGAC-1, ACACCAATCGCTGATA-1, ACACGCGGTATACCCA-1, ACACTGAGTGCGACAA-1, ACAGCCGTCCCTCTTT-1, ACATCCCAGCGTGCTC-1, ACATCGAGTGGTCTGC-1, ACATCGATCTGGGCCA-1, ACATGCAAGCTGTGCC-1, ...]

[1633 rows x 0 columns]

In [409]:
# Steele atlas is useless again

In [419]:
# Check the zenodo

In [420]:
zenodo = sc.read_h5ad('/lustre/groups/ml01/workspace/shrey.parikh/PDAC/raw_data/Zenodo/Data/pk_all.h5ad')

In [425]:
zenodo.obs[zenodo.obs.Project == 'GSE155698'].isna().sum()

CELL                                   50943
Patient                                    0
Type                                       0
Cell_type                                  0
celltype0                              50943
celltype1                              50943
celltype2                              50943
celltype3                              50943
Patient2                                   0
nCount_RNA                                 0
nFeature_RNA                               0
Project                                    0
orig.ident                                 0
Stage                                  50943
Grade                                  50943
Gender                                 50943
Age                                    50943
Percent_mito                               0
Percent_ribo                               0
Percent_hemo                               0
percent.mt                             50943
predicted.id                               0
prediction.score.Fibroblast.cell           0
prediction.score.Stellate.cell             0
prediction.score.Macrophage.cell           0
prediction.score.Endothelial.cell          0
prediction.score.T.cell                    0
prediction.score.B.cell                    0
prediction.score.Ductal.cell.type.2        0
prediction.score.Endocrine.cell            0
prediction.score.Ductal.cell.type.1        0
prediction.score.Acinar.cell               0
prediction.score.max                       0
classical_score1                           0
basal_score1                               0
classical_score21                          0
basal_score21                              0
endocrine_score_1                          0
immune_score_1                             0
exocrine_score_1                           0
activated_stroma_score_1                   0
histone_score_1                            0
normal_stroma_score_1                      0
olfactory_score_1                          0
na_score_1                                 0
dtype: int64

### PDAC
- All samples are treatment naive
- Average age 60.2 (47-72)
- Std Dev BMI 23.5 (4.24)
### Adj_Norm
- Average age 66.4 (45-81)
- Std Dev BMI 25 (5.54)

In [790]:
conditions = [
    (df_id_merged['Dataset'] == 'Steele'),
    (df_id_merged['Dataset'] == 'Steele_Adj_Norm')
]
values = [60.2, 66.4]
df_id_merged['Age'] = np.select(conditions, values, default=np.nan)

In [791]:
conditions = [
    (df_id_merged['Dataset'] == 'Steele'),
    (df_id_merged['Dataset'] == 'Steele_Adj_Norm')
]
values = [23.5, 25]
df_id_merged['BMI'] = np.select(conditions, values, default=np.nan)

In [792]:
df_id_merged['Treatment'] = np.where(df_id_merged.Dataset == 'Steele', 'Treatment Naive', np.nan)

In [793]:
df_id_merged.groupby(['Dataset', 'BMI']).size().unstack()

BMI              23.5  25.0
Dataset
Steele           16.0   NaN
Steele_Adj_Norm   NaN   3.0

In [794]:
df_id_merged.groupby(['Dataset', 'Treatment']).size().unstack()

Treatment        Treatment Naive   nan
Dataset
Caronni                      NaN  10.0
Ding                         NaN  22.0
Ding_snRNA-seq               NaN  11.0
Hwang                        NaN  43.0
Lee                          NaN   5.0
Lin                          NaN  10.0
Peng                         NaN  24.0
Peng_Normal                  NaN  11.0
Schlesinger                  NaN   1.0
Simeone                      NaN  17.0
Steele                      16.0   NaN
Steele_Adj_Norm              NaN   3.0

# Lee

 P2-P5 primary samples came from treatment-naïve patients, while P1 was a second FNA from a patient who had been treated with gemcitabine/paclitaxel. 
For metastatic samples, the most recent therapies prior to sample acquisition were 5-fluorouracil/liposmal irinotecan, evofosfamide/ipilimumab and 
capecitabine for VM, LuM, and PM, respectively.

In [376]:
df_id_merged[df_id_merged.Dataset == 'Lee']

,ID_harmonised,Dataset,Unique_ID,Case,KRAS_mutation,KRAS_type,TP53_type,SMAD4_type,CDKN2A_type,Germline_ATM,Germline_BRCA2,Germline_FANCC,Moffitt_Subtype,Bailey_Subtype,Collisson_Subtype,Patient_ID,Time_from_diagnosis_to_surgery_(weeks),Cycles,Location,Grade,Size_(cm),Stage,Diabetes,Pancreatitis,Previous_cancer_history,Other_co-morbidities,Smoker,Alcohol,Pathology_notes,Lymph_node_met,Survival_post_surgery_(weeks),Vital_status,Overall Survival,Procedure
22,P1,Lee,P1_filtered_feature_bc_matrix,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,P3,Lee,P3_filtered_feature_bc_matrix,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,P4,Lee,P4_filtered_feature_bc_matrix,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,P5,Lee,P5_filtered_feature_bc_matrix,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,P2,Lee,P2_filtered_feature_bc_matrix,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Added already by Daniele

# Peng

In [386]:
%pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl.metadata (3.4 kB)
Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [795]:
peng = pd.read_excel('metadata_publications/Peng_metadata.xlsx', header=1)

In [796]:
peng.columns

Index(['Number', 'pathologic diagnoses', 'Gender', 'Age(y/o)', 'CA199(U/ml)',
       'Diabetes Mellitus', 'Procedure', 'Location', 'Maximum Diameter(mm)',
       'TNM Classification', 'Staging', 'perineural invasion',
       'vascular invasion', 'peripancreatic infiltarion', 'note',
       'Unnamed: 15'],
      dtype='object')

In [797]:
peng.head(2)

,Number,pathologic diagnoses,Gender,Age(y/o),CA199(U/ml),Diabetes Mellitus,Procedure,Location,Maximum Diameter(mm),TNM Classification,Staging,perineural invasion,vascular invasion,peripancreatic infiltarion,note,Unnamed: 15
0,PUMCH-T1,moderately-poorly differentiated PDAC,M,64.0,86.0,N,LDP,body,26.0,T4N2M0,III,Y,Y,Y,NaN,NaN
1,PUMCH-T2,well differentiated PDAC,M,52.0,46.3,N,PD,head,20.0,T1cN1M0,IIB,Y,N,Y,NaN,NaN

In [798]:
df_id_merged[df_id_merged.Dataset == 'Peng'].head(2)

,ID_harmonised,Dataset,Unique_ID,Case,KRAS_mutation,KRAS_type,TP53_type,SMAD4_type,CDKN2A_type,Germline_ATM,Germline_BRCA2,Germline_FANCC,Moffitt_Subtype,Bailey_Subtype,Collisson_Subtype,Patient_ID,Time_from_diagnosis_to_surgery_(weeks),Cycles,Location,Grade,Size_(cm),Stage,Diabetes,Pancreatitis,Previous_cancer_history,Other_co-morbidities,Smoker,Alcohol,Pathology_notes,Lymph_node_met,Survival_post_surgery_(weeks),Vital_status,TNM_classification,Overall Survival,Procedure,Age,BMI,Treatment
60,T1,Peng,T1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
61,T2,Peng,T2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan

In [799]:
peng.rename(columns={'pathologic diagnoses': 'Pathology_notes', 'Staging': 'Stage', 'TNM Classification': 'TNM_classification', 'Age(y/o)': 'Age'}, inplace=True)

In [800]:
peng.columns

Index(['Number', 'Pathology_notes', 'Gender', 'Age', 'CA199(U/ml)',
       'Diabetes Mellitus', 'Procedure', 'Location', 'Maximum Diameter(mm)',
       'TNM_classification', 'Stage', 'perineural invasion',
       'vascular invasion', 'peripancreatic infiltarion', 'note',
       'Unnamed: 15'],
      dtype='object')

In [801]:
interesing_cols = ['Pathology_notes', 'Age', 'Procedure', 
       'TNM_classification',  'Stage', 'perineural invasion',
       'vascular invasion', 'peripancreatic infiltarion']

In [802]:
peng[['Random', 'Unique_ID']] = peng.Number.str.split('-', expand=True)

In [803]:
df_id_merged.ID_harmonised = np.where(df_id_merged.Dataset.str.contains('Peng'), 'Peng' + '_' + df_id_merged.ID_harmonised, df_id_merged.ID_harmonised)

In [804]:
# df_id_merged.ID_harmonised = df_id_merged.ID_harmonised.str.replace(r'^Peng_Peng_Peng_', 'Peng_', regex=True)

# df_id_merged.ID_harmonised = df_id_merged.ID_harmonised.str.replace(r'^Peng_Peng_', 'Peng_', regex=True)

In [805]:
df_id_merged[df_id_merged.Dataset.str.contains('Peng')].head(2)

,ID_harmonised,Dataset,Unique_ID,Case,KRAS_mutation,KRAS_type,TP53_type,SMAD4_type,CDKN2A_type,Germline_ATM,Germline_BRCA2,Germline_FANCC,Moffitt_Subtype,Bailey_Subtype,Collisson_Subtype,Patient_ID,Time_from_diagnosis_to_surgery_(weeks),Cycles,Location,Grade,Size_(cm),Stage,Diabetes,Pancreatitis,Previous_cancer_history,Other_co-morbidities,Smoker,Alcohol,Pathology_notes,Lymph_node_met,Survival_post_surgery_(weeks),Vital_status,TNM_classification,Overall Survival,Procedure,Age,BMI,Treatment
60,Peng_T1,Peng,T1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
61,Peng_T2,Peng,T2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan

In [806]:
peng.Unique_ID = 'Peng' + '_' + peng.Unique_ID

In [807]:
len(set(peng.Unique_ID))

41

In [808]:
len(set(peng.Unique_ID) & set(df_id_merged.ID_harmonised))

35

In [809]:
peng_map = peng.iloc[:40, :]

In [810]:
len(set(peng_map.Unique_ID) & set(df_id_merged.ID_harmonised))

35

In [811]:
peng_map = peng_map[~peng_map.Unique_ID.isna()].set_index('Unique_ID')

In [812]:
peng_map.head(2)

,Number,Pathology_notes,Gender,Age,CA199(U/ml),Diabetes Mellitus,Procedure,Location,Maximum Diameter(mm),TNM_classification,Stage,perineural invasion,vascular invasion,peripancreatic infiltarion,note,Unnamed: 15,Random
Unique_ID,,,,,,,,,,,,,,,,,
Peng_T1,PUMCH-T1,moderately-poorly differentiated PDAC,M,64.0,86.0,N,LDP,body,26.0,T4N2M0,III,Y,Y,Y,NaN,NaN,PUMCH
Peng_T2,PUMCH-T2,well differentiated PDAC,M,52.0,46.3,N,PD,head,20.0,T1cN1M0,IIB,Y,N,Y,NaN,NaN,PUMCH

In [815]:
for col in interesing_cols:
    if col in df_id_merged.columns:
        df_id_merged[col] = df_id_merged['ID_harmonised'].map(peng_map[col]).fillna(df_id_merged[col])
    else:
        df_id_merged[col] = df_id_merged['ID_harmonised'].map(peng_map[col])

In [816]:
df_id_merged.groupby(['Dataset', 'TNM_classification']).size().unstack().T

Dataset,Ding,Ding_snRNA-seq,Hwang,Peng,Peng_Normal
TNM_classification,,,,,
T1cN0M0,NaN,NaN,NaN,1.0,NaN
T1cN1M0,NaN,NaN,NaN,2.0,NaN
T1cN2M0,NaN,NaN,NaN,1.0,NaN
T2N0M0,NaN,NaN,2.0,8.0,NaN
T2N1M0,NaN,NaN,6.0,6.0,NaN
T2N2M0,NaN,NaN,1.0,NaN,NaN
T3N0M0,NaN,NaN,3.0,1.0,1.0
T3N1M0,NaN,NaN,3.0,3.0,NaN
T3N2M0,NaN,NaN,3.0,1.0,NaN
T4N2M0,NaN,NaN,NaN,1.0,NaN
pT1a pN0,NaN,1.0,NaN,NaN,NaN
pT2 pN0,NaN,2.0,NaN,NaN,NaN
pT2 pN1,2.0,1.0,NaN,NaN,NaN
pT2 pN2,4.0,NaN,NaN,NaN,NaN
pT3 pN2,1.0,NaN,NaN,NaN,NaN
rpT2 moderately differentiated pN1,NaN,1.0,NaN,NaN,NaN
yT2 pN1,1.0,NaN,NaN,NaN,NaN
ypT1 moderately differentiated positive for perineural invasion negative for lymphovascular pN0,NaN,1.0,NaN,NaN,NaN
ypT1aN0M0,NaN,NaN,2.0,NaN,NaN
ypT1aN1M0,NaN,NaN,1.0,NaN,NaN
ypT1cN0M0,NaN,NaN,2.0,NaN,NaN
ypT1cN1M0,NaN,NaN,1.0,NaN,NaN
ypT2 pN0,3.0,1.0,NaN,NaN,NaN
ypT2 pN1,5.0,1.0,NaN,NaN,NaN
ypT2 pN2,3.0,NaN,NaN,NaN,NaN
ypT2N0M0,NaN,NaN,6.0,NaN,NaN
ypT2N1M0,NaN,NaN,2.0,NaN,NaN
ypT2N2M0,NaN,NaN,1.0,NaN,NaN
ypT3 pN0,NaN,2.0,NaN,NaN,NaN
ypT3 pN2,2.0,1.0,NaN,NaN,NaN
ypT3N0M0,NaN,NaN,8.0,NaN,NaN
ypT3N1M0,NaN,NaN,2.0,NaN,NaN

# Caronni

In [818]:
df_id_merged.Dataset.unique()

array(['Ding', 'Lee', 'Simeone', 'Steele', 'Peng', 'Caronni', 'Lin',
       'Schlesinger', 'Steele_Adj_Norm', 'Peng_Normal', 'Hwang',
       'Ding_snRNA-seq'], dtype=object)

In [825]:
# columns_to_load = ['ID', 'age', 'sex', 'Site of lesion', 'Chemotherapy schedule', 'Grading', 'TNM']
caronni = pd.read_excel('metadata_publications/Caronni_metadata.xlsx', 
                         sheet_name='Patients clinical data')

In [836]:
df_id_merged.Location

0      head, uncinate_process
1      head, uncinate_process
2                        head
3                        head
4                        head
                ...
168                      Head
169          neck/body margin
170                      Head
171                      Head
172             Head/Uncinate
Name: Location, Length: 173, dtype: object

In [831]:
caronni = caronni[~caronni.ID.isna()]

In [837]:
caronni.rename(columns={'Site of lesion':'Location', 'TNM':'TNM_classification', 'Grading': 'Grade'}, inplace=True)

/tmp/ipykernel_2834644/4079294514.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  caronni.rename(columns={'Site of lesion':'Location', 'TNM':'TNM_classification', 'Grading': 'Grade'}, inplace=True)

In [838]:
caronni.head()

,ID,age,sex,Location,Chemotherapy schedule,Grade,TNM_classification,Tissue,Down Stream Analysis
0,PDAC47,78.0,M,Head,FOLFIRINOX,G2,T2; N2; M0,Tumor Resection (fresh),scRNA Seq
3,PDAC48,61.0,M,Head,GEMCITABINA + NAB PACLITAXEL,G2,T2; N2; M0,Tumor Resection (fresh),scRNA Seq
6,PDAC50,72.0,M,Uncinated process,NaN,G3,T2; N2,Tumor Resection (fresh),scRNA Seq
10,PDAC51,68.0,F,"Head, Uncinated process",FOLFIRINOX,G2,T2; N2; M0,Tumor Resection (fresh),scRNA Seq
13,PDAC55,62.0,M,Head,NaN,G3,T2; N1,Tumor Resection (fresh),scRNA Seq

In [843]:
df_id_merged[df_id_merged.Dataset == 'Caronni']

,ID_harmonised,Dataset,Unique_ID,Case,KRAS_mutation,KRAS_type,TP53_type,SMAD4_type,CDKN2A_type,Germline_ATM,Germline_BRCA2,Germline_FANCC,Moffitt_Subtype,Bailey_Subtype,Collisson_Subtype,Patient_ID,Time_from_diagnosis_to_surgery_(weeks),Cycles,Location,Grade,Size_(cm),Stage,Diabetes,Pancreatitis,Previous_cancer_history,Other_co-morbidities,Smoker,Alcohol,Pathology_notes,Lymph_node_met,Survival_post_surgery_(weeks),Vital_status,TNM_classification,Overall Survival,Procedure,Age,BMI,Treatment,perineural invasion,vascular invasion,peripancreatic infiltarion
84,LPDAC15,Caronni,GSM6727542_LPDAC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN
85,PDAC60,Caronni,GSM6727551_PDAC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN
86,PDAC50,Caronni,GSM6727548_PDAC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN
87,PDAC48,Caronni,GSM6727547_PDAC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN
88,LPDAC30,Caronni,GSM6727545_LPDAC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN
89,PDAC51,Caronni,GSM6727549_PDAC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN
90,PDAC55,Caronni,GSM6727550_PDAC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN
91,LPDAC26,Caronni,GSM6727544_LPDAC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN
92,LPDAC25,Caronni,GSM6727543_LPDAC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN
93,PDAC47,Caronni,GSM6727546_PDAC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN

In [845]:
len(set(caronni.ID) & set(df_id_merged.ID_harmonised))

10

In [847]:
caronni_map = caronni.set_index('ID')

In [849]:
interesing_cols = ['Location', 'Grade', 'TNM_classification', 'Tissue']

In [850]:
for col in interesing_cols:
    if col in df_id_merged.columns:
        df_id_merged[col] = df_id_merged['ID_harmonised'].map(caronni_map[col]).fillna(df_id_merged[col])
    else:
        df_id_merged[col] = df_id_merged['ID_harmonised'].map(caronni_map[col])

In [851]:
df_id_merged.groupby(['Dataset', 'TNM_classification']).size().unstack()

TNM_classification,T1cN0M0,T1cN1M0,T1cN2M0,T2; N1,T2; N1; M0,T2; N2,T2; N2; M0,T2N0M0,T2N1M0,T2N2M0,T3N0M0,T3N1M0,T3N2M0,T4N2M0,pT1a pN0,"pT1c, pN2",pT2 pN0,pT2 pN1,pT2 pN2,pT3 pN2,rpT2 moderately differentiated pN1,yT2 pN1,ypT1 moderately differentiated positive for perineural invasion negative for lymphovascular pN0,ypT1aN0M0,ypT1aN1M0,ypT1cN0M0,ypT1cN1M0,ypT2 pN0,ypT2 pN1,ypT2 pN2,ypT2N0M0,ypT2N1M0,ypT2N2M0,ypT3 pN0,ypT3 pN2,ypT3N0M0,ypT3N1M0
Dataset,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Caronni,NaN,NaN,NaN,1.0,2.0,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ding,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,3.0,5.0,3.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN
Ding_snRNA-seq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN
Hwang,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,6.0,1.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,2.0,1.0,NaN,NaN,NaN,6.0,2.0,1.0,NaN,NaN,8.0,2.0
Peng,1.0,2.0,1.0,NaN,NaN,NaN,NaN,8.0,6.0,NaN,1.0,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Peng_Normal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Linn

In [853]:
linn = pd.read_excel('metadata_publications/Lin_metadata.xlsx')

In [866]:
linn

   Patient ID  Age Gender Diagnosis Primary of Metastasis Stage Grade
0     Lin_P01   68      M      PDAC               Primary   III     4
1     Lin_P02   64      F      PDAC               Primary   III     2
2     Lin_P03   72      M      PDAC               Primary   IIB     4
3     Lin_P04   57      M      PDAC               primary   IIB     3
4     Lin_P05   80      M      PDAC               Primary   IIB     2
5     Lin_P06   41      M      PDAC               Primary   IIB     2
6     Lin_P07   56      F      PDAC               primary   IIA     3
7     Lin_P08   67      F      PDAC               Primary   IIA     2
8     Lin_P09   53      M      PDAC               Primary   IIB     2
9     Lin_P10   74      F      PDAC             pri ma ry   IIA     2
10    Lin_M01   43      M      PDAC             Liver Met    IV    ND
11    Lin_M02   61      M      PDAC             Liver Met    IV     2
12    Lin_M03   39      M      pDAC           Omentum Met    IV    ND
13    Lin_M04   47      F      PDAC             Liver Met    IV   2-3
14    Lin_M05   46      M      PDAC             Liver Met    IV    ND
15    Lin_M06   67      M      PDAC             Liver Met    IV    ND

In [857]:
df_id_merged.ID_harmonised = np.where(df_id_merged.Dataset.str.contains('Lin'), 'Lin' + '_' + df_id_merged.ID_harmonised, df_id_merged.ID_harmonised)

In [858]:
df_id_merged[df_id_merged.Dataset.str.contains('Lin')]

,ID_harmonised,Dataset,Unique_ID,Case,KRAS_mutation,KRAS_type,TP53_type,SMAD4_type,CDKN2A_type,Germline_ATM,Germline_BRCA2,Germline_FANCC,Moffitt_Subtype,Bailey_Subtype,Collisson_Subtype,Patient_ID,Time_from_diagnosis_to_surgery_(weeks),Cycles,Location,Grade,Size_(cm),Stage,Diabetes,Pancreatitis,Previous_cancer_history,Other_co-morbidities,Smoker,Alcohol,Pathology_notes,Lymph_node_met,Survival_post_surgery_(weeks),Vital_status,TNM_classification,Overall Survival,Procedure,Age,BMI,Treatment,perineural invasion,vascular invasion,peripancreatic infiltarion,Tissue
94,Lin_P02,Lin,GSM4679533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN,NaN
95,Lin_P10,Lin,GSM4679541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN,NaN
96,Lin_P01,Lin,GSM4679532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN,NaN
97,Lin_P05,Lin,GSM4679536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN,NaN
98,Lin_P04,Lin,GSM4679535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN,NaN
99,Lin_P08,Lin,GSM4679539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN,NaN
100,Lin_P06,Lin,GSM4679537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN,NaN
101,Lin_P07,Lin,GSM4679538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN,NaN
102,Lin_P03,Lin,GSM4679534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN,NaN
103,Lin_P09,Lin,GSM4679540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN,NaN

In [861]:
linn['Patient ID'] = 'Lin' + '_' + linn['Patient ID']

In [865]:
len(linn['Patient ID'])

16

In [864]:
len(set(linn['Patient ID']) & set(df_id_merged.ID_harmonised))

10

In [869]:
interesing_cols = ['Stage', 'Grade']

In [870]:
linn_map = linn.set_index('Patient ID')

In [871]:
for col in interesing_cols:
    if col in df_id_merged.columns:
        df_id_merged[col] = df_id_merged['ID_harmonised'].map(linn_map[col]).fillna(df_id_merged[col])
    else:
        df_id_merged[col] = df_id_merged['ID_harmonised'].map(linn_map[col])

In [872]:
df_id_merged.groupby(['Dataset', 'Stage']).size().unstack()

Stage            IB  IIA   IIB  III  IIb   Ia
Dataset
Ding            NaN  NaN   NaN  NaN  2.0  NaN
Ding_snRNA-seq  NaN  NaN   NaN  1.0  2.0  1.0
Lin             NaN  3.0   5.0  2.0  NaN  NaN
Peng            9.0  2.0  10.0  3.0  NaN  NaN
Peng_Normal     NaN  1.0   NaN  NaN  NaN  NaN

# Schlesinger

In [880]:
zenodo[zenodo.obs.Project == 'GSM4293555'].obs

,CELL,Patient,Type,Cell_type,celltype0,celltype1,celltype2,celltype3,Patient2,nCount_RNA,nFeature_RNA,Project,orig.ident,Stage,Grade,Gender,Age,Percent_mito,Percent_ribo,Percent_hemo,percent.mt,predicted.id,prediction.score.Fibroblast.cell,prediction.score.Stellate.cell,prediction.score.Macrophage.cell,prediction.score.Endothelial.cell,prediction.score.T.cell,prediction.score.B.cell,prediction.score.Ductal.cell.type.2,prediction.score.Endocrine.cell,prediction.score.Ductal.cell.type.1,prediction.score.Acinar.cell,prediction.score.max,classical_score1,basal_score1,classical_score21,basal_score21,endocrine_score_1,immune_score_1,exocrine_score_1,activated_stroma_score_1,histone_score_1,normal_stroma_score_1,olfactory_score_1,na_score_1
AAACCTGAGCTTATCG.1,NaN,GSM4293555,Tumor,Ductal cell type 2,NaN,NaN,NaN,NaN,GSM4293555,12017.0,2768,GSM4293555,GSM4293555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.124823,Ductal cell type 2,0.0,0.000000,0.0,0.000000,0.0,0.0,1.000000,0.0,0.000000,0.0,1.000000,-0.026194,0.007170,-0.036023,0.079767,-0.011971,-0.086293,-0.065146,-0.050759,0.004761,-0.017200,-0.044291,-0.011333
AAACCTGAGGGTTCCC.1,NaN,GSM4293555,Tumor,Ductal cell type 2,NaN,NaN,NaN,NaN,GSM4293555,7956.0,2205,GSM4293555,GSM4293555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.255405,Ductal cell type 2,0.0,0.000000,0.0,0.000000,0.0,0.0,0.984984,0.0,0.015016,0.0,0.984984,0.170036,0.072386,0.322161,0.278054,-0.018611,-0.086257,-0.071900,-0.104126,-0.042787,-0.025997,0.190484,0.010961
AAACCTGGTACGACCC.1,NaN,GSM4293555,Tumor,Macrophage cell,NaN,NaN,NaN,NaN,GSM4293555,3865.0,1256,GSM4293555,GSM4293555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.897801,Macrophage cell,0.0,0.000000,1.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,1.000000,-0.052737,-0.043333,-0.092356,-0.069527,-0.014427,0.008943,-0.071959,-0.010036,-0.040611,-0.016507,-0.010267,0.014202
AAACCTGGTCCTGCTT.1,NaN,GSM4293555,Tumor,T cell,NaN,NaN,NaN,NaN,GSM4293555,1549.0,706,GSM4293555,GSM4293555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.582311,T cell,0.0,0.000000,0.0,0.000000,1.0,0.0,0.000000,0.0,0.000000,0.0,1.000000,-0.038521,-0.031630,-0.069824,-0.086458,-0.011213,0.049802,-0.045535,-0.073924,-0.038334,-0.014738,-0.021979,-0.007318
AAACCTGTCTCCGGTT.1,NaN,GSM4293555,Tumor,Endothelial cell,NaN,NaN,NaN,NaN,GSM4293555,10471.0,2860,GSM4293555,GSM4293555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.991978,Endothelial cell,0.0,0.446262,0.0,0.553738,0.0,0.0,0.000000,0.0,0.000000,0.0,0.553738,-0.063611,-0.044657,-0.101788,-0.039715,-0.012631,-0.090387,-0.120219,0.044567,0.005782,0.007340,-0.041781,-0.013644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TTTGTCACAATCAGAA.3,NaN,GSM4293555,Tumor,Macrophage cell,NaN,NaN,NaN,NaN,GSM4293555,14317.0,3216,GSM4293555,GSM4293555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.016205,Macrophage cell,0.0,0.000000,1.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,1.000000,-0.064940,-0.039494,-0.096741,-0.044958,-0.020583,-0.016210,-0.122504,-0.053966,-0.049402,-0.008592,-0.049314,0.007289
TTTGTCACATTGAGCT.3,NaN,GSM4293555,Tumor,Ductal cell type 2,NaN,NaN,NaN,NaN,GSM4293555,6242.0,1887,GSM4293555,GSM4293555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.906440,Ductal cell type 2,0.0,0.000000,0.0,0.000000,0.0,0.0,1.000000,0.0,0.000000,0.0,1.000000,0.027045,0.184153,0.060189,0.569048,-0.014743,-0.088458,-0.083752,-0.060217,0.018828,-0.027924,-0.003724,-0.009523
TTTGTCAGTTACGCGC.3,NaN,GSM4293555,Tumor,T cell,NaN,NaN,NaN,NaN,GSM4293555,2004.0,621,GSM4293555,GSM4293555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.544910,T cell,0.0,0.000000,0.0,0.000000,1.0,0.0,0.000000,0.0,0.000000,0.0,1.000000,-0.036852,-0.025715,-0.059922,-0.048385,-0.009793,0.082954,-0.057760,-0.038966,-0.030693,-0.009352,-0.019439,-0.004807
TTTGTCAGTTCTGAAC.3,NaN,GSM4293555,Tumor,Macrophage cell,NaN,NaN,NaN,NaN,GSM4293555,2802.0,931,GSM4293555,GSM4293555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.568879,Macrophage cell,0.0,0.000000,1.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,1.000000,-0.042013,-0.012602,-0.062265,0.000273,-0.008709,0.006425,-0.075182,-0.054605,-0.069540,0.000325,-0.024479,-0.004986
TTTGTCATCTGCCAGG.3,NaN,GSM4293555,Tumor,T cell,NaN,NaN,NaN,NaN,GSM4293555,1152.0,524,GSM4293555,GSM4293555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.083333,T cell,0.0,0.000000,0.0,0.000000,1.0,0.0,0.000000,0.0,0.000000,0.0,1.000000,-0.046467,-0.021963,-0.074276,-0.038332,-0.009534,0.165481,-0.059087,-0.042106,-0.015409,-0.011928,-0.017464,-0.005118

In [881]:
# no metadata

In [885]:
df_id_merged.groupby('Dataset').apply(lambda x: x.notna().sum())

/tmp/ipykernel_2834644/1103722888.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_id_merged.groupby('Dataset').apply(lambda x: x.notna().sum())

,ID_harmonised,Dataset,Unique_ID,Case,KRAS_mutation,KRAS_type,TP53_type,SMAD4_type,CDKN2A_type,Germline_ATM,Germline_BRCA2,Germline_FANCC,Moffitt_Subtype,Bailey_Subtype,Collisson_Subtype,Patient_ID,Time_from_diagnosis_to_surgery_(weeks),Cycles,Location,Grade,Size_(cm),Stage,Diabetes,Pancreatitis,Previous_cancer_history,Other_co-morbidities,Smoker,Alcohol,Pathology_notes,Lymph_node_met,Survival_post_surgery_(weeks),Vital_status,TNM_classification,Overall Survival,Procedure,Age,BMI,Treatment,perineural invasion,vascular invasion,peripancreatic infiltarion,Tissue
Dataset,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Caronni,10,10,10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10,10,0,0,0,0,0,0,0,0,0,0,0,0,10,0,0,0,0,10,0,0,0,10
Ding,22,22,22,21,15,16,16,16,16,16,16,16,16,16,16,21,21,9,19,19,20,2,19,13,18,21,21,19,21,21,1,1,21,1,0,0,0,22,0,0,0,0
Ding_snRNA-seq,11,11,11,0,0,0,0,0,0,0,0,0,0,0,0,11,11,6,11,10,11,4,11,11,11,11,11,11,11,11,3,3,11,3,0,0,0,11,0,0,0,0
Hwang,43,43,43,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,43,0,0,0,0,0,0,0,0,0,0,0,43,43,43,0,0,0,43,0,0,0,0
Lee,5,5,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5,0,0,0,0
Lin,10,10,10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10,0,10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10,0,0,0,0
Peng,24,24,24,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,24,0,0,0,0,0,0,24,0,0,0,24,0,24,24,0,24,24,24,24,0
Peng_Normal,11,11,11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,11,0,0,0,1,0,11,11,0,11,11,11,11,0
Schlesinger,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
Simeone,17,17,17,0,14,0,14,14,14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,17,0,0,17,0,0,0,0
Steele,16,16,16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,16,16,16,0,0,0,0
Steele_Adj_Norm,3,3,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,3,3,0,0,0,0

In [907]:
df_id_merged['Treatment'].unique()

array(['nan', 'Treatment Naive'], dtype=object)

In [893]:
df_id_merged.CDKN2A_type = df_id_merged.CDKN2A_type.replace('WT', 'Wild_Type')
df_id_merged.SMAD4_type = df_id_merged.SMAD4_type.replace('WT', 'Wild_Type')

In [895]:
# Define the dictionary for harmonizing the 'Location' values
location_dict = {
    'head': 'Head',
    'Head': 'Head',
    'head, uncinate_process': 'Head, Uncinated Process',
    'Head, Uncinated process': 'Head, Uncinated Process',
    'Uncinated process': 'Uncinated Process',
    'neck': 'Neck',
    'neck/body margin': 'Neck/Body',
    'body': 'Body',
    'Body': 'Body',
    'body/tail': 'Body/Tail',
    'Tail': 'Tail',
    'Tail (proximal remanant)': 'Tail, Proximal Remanant',
    'Tail (proximal remanant)': 'Tail, Proximal Remanant',
    'Head/Uncinate': 'Head, Uncinated Process'
}

df_id_merged['Location'] = df_id_merged['Location'].map(location_dict)

In [896]:
df_id_merged['Location'].unique()

array(['Head, Uncinated Process', 'Head', 'Neck', nan, 'Body',
       'Uncinated Process', 'Tail', 'Body/Tail',
       'Tail, Proximal Remanant', 'Neck/Body'], dtype=object)

In [903]:
# Define the dictionary for harmonizing the 'Grade' values
grade_dict = {
    3.0: 'G3',
    1.0: 'G1',
    2.0: 'G2',
    4: 'G4',
    'G3': 'G3',
    'G2': 'G2',
    'g3': 'G3',
    'g2': 'G2',
    'g2-3': 'G2/G3',
    'gX': 'GX'
}

# Harmonize the 'Grade' column in df_id_merged using the dictionary
df_id_merged['Harmonized_Grade'] = df_id_merged['Grade'].map(grade_dict)

In [904]:
tnm_dict = {
    'ypT2 pN1': 'ypT2 pN1',
    'pT2 pN1': 'pT2 pN1',
    'pT2 pN2': 'pT2 pN2',
    'ypT2 pN0': 'ypT2 pN0',
    'ypT2 pN2': 'ypT2 pN2',
    'pT3 pN2': 'pT3 pN2',
    'ypT3 pN2': 'ypT3 pN2',
    'yT2 pN1': 'yT2 pN1',
    'T4N2M0': 'T4 pN2 M0',
    'T1cN1M0': 'T1c pN1 M0',
    'T2N0M0': 'T2 pN0 M0',
    'T3N0M0': 'T3 pN0 M0',
    'T3N1M0': 'T3 pN1 M0',
    'T1cN2M0': 'T1c pN2 M0',
    'T2N1M0': 'T2 pN1 M0',
    'T3N2M0': 'T3 pN2 M0',
    'T1cN0M0': 'T1c pN0 M0',
    'T2; N1; M0': 'T2 pN1 M0',
    'pT1c, pN2': 'pT1c pN2',
    'T2; N2': 'T2 pN2',
    'T2; N2; M0': 'T2 pN2 M0',
    'T2; N1': 'T2 pN1',
    'ypT2N1M0': 'ypT2 pN1 M0',
    'ypT3N0M0': 'ypT3 pN0 M0',
    'ypT1cN0M0': 'ypT1c pN0 M0',
    'ypT2N0M0': 'ypT2 pN0 M0',
    'ypT1aN1M0': 'ypT1a pN1 M0',
    'ypT2N2M0': 'ypT2 pN2 M0',
    'T2N2M0': 'T2 pN2 M0',
    'ypT1aN0M0': 'ypT1a pN0 M0',
    'ypT1cN1M0': 'ypT1c pN1 M0',
    'ypT3N1M0': 'ypT3 pN1 M0',
    'ypT3 pN0': 'ypT3 pN0',
    'rpT2 moderately differentiated pN1': 'rpT2 pN1',
    'pT2 pN0': 'pT2 pN0',
    'pT1a pN0': 'pT1a pN0',
    'ypT1 moderately differentiated positive for perineural invasion negative for lymphovascular pN0': 'ypT1 pN0'
}

# Harmonize the 'TNM_classification' column using the dictionary
df_id_merged['Harmonized_TNM_Classification'] = df_id_merged['TNM_classification'].map(tnm_dict)

In [908]:
df_id_merged.to_csv('metadata_publications/metadata_all.csv')

# Reload

In [21]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [34]:
import scanpy as sc

In [35]:
pwd

'/ictstr01/groups/ml01/workspace/shrey.parikh/PDAC_Work_Dir/PDAC_Final/Downstream'

In [229]:
df_id_merged = pd.read_csv('metadata_publications/metadata_all.csv', index_col='Unnamed: 0')

In [230]:
# change

In [231]:
df_id_merged.head(2)

,ID_harmonised,Dataset,Unique_ID,Case,KRAS_mutation,KRAS_type,TP53_type,SMAD4_type,CDKN2A_type,Germline_ATM,Germline_BRCA2,Germline_FANCC,Moffitt_Subtype,Bailey_Subtype,Collisson_Subtype,Patient_ID,Time_from_diagnosis_to_surgery_(weeks),Cycles,Location,Grade,Size_(cm),Stage,Diabetes,Pancreatitis,Previous_cancer_history,Other_co-morbidities,Smoker,Alcohol,Pathology_notes,Lymph_node_met,Survival_post_surgery_(weeks),Vital_status,TNM_classification,Overall Survival,Procedure,Age,BMI,Treatment,perineural invasion,vascular invasion,peripancreatic infiltarion,Tissue,Harmonized_Grade,Harmonized_TNM_Classification
0,HT056P1,Ding,HT056P1,HT056P1,p.G12V,Missense,Missense,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Basal-like,Immunogenic,Quasimesenchymal,HT056P1,20.0,6,"Head, Uncinated Process",3.0,3.2,NaN,No,Yes,No,No,No,Occasional,"ypT2, focal sarcomatoid transformation","2/21, pN1",NaN,NaN,ypT2 pN1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G3,ypT2 pN1
1,HT060P1,Ding,HT060P1,HT060P1,p.G12V,Missense,Wild_Type,Wild_Type,Wild_Type,Nonsense,Nonsense,Wild_Type,Classical,ADEX,Exocrine-like,HT060P1,20.0,6,"Head, Uncinated Process",3.0,3.2,IIb,Type II,NaN,NaN,No,No,Occasional,"ypT2, extends to duodenum and vascular groove","2/25, pN1",NaN,NaN,ypT2 pN1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G3,ypT2 pN1

In [232]:
df = df_id_merged.groupby('Dataset').apply(lambda x: x.notna().sum())

/tmp/ipykernel_937282/2515696833.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df = df_id_merged.groupby('Dataset').apply(lambda x: x.notna().sum())

In [211]:
# Read Anndata

In [212]:
adata = sc.read_h5ad('../Binned_Data/adata_scanvi_neighbours_leiden.h5ad')

## check shared ID_harmonised

In [213]:
shared_ids = adata.obs.groupby('ID_harmonised')['Dataset'].nunique()
shared_ids_multiple_datasets = shared_ids[shared_ids > 1]
shared_ids_multiple_datasets_info = adata.obs[adata.obs['ID_harmonised'].isin(shared_ids_multiple_datasets.index)]

/tmp/ipykernel_937282/3706364925.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  shared_ids = adata.obs.groupby('ID_harmonised')['Dataset'].nunique()

In [214]:
shared_ids_multiple_datasets

ID_harmonised
P03    2
P04    2
P05    2
P06    2
P07    2
P08    2
P09    2
P10    2
Name: Dataset, dtype: int64

In [215]:
shared_ids_multiple_datasets_info.Dataset.unique()

['Simeone', 'Lin']
Categories (12, object): ['Caronni', 'Ding', 'Ding_snRNA-seq', 'Lee', ..., 'Schlesinger', 'Simeone', 'Steele', 'Steele_Adj_Norm']

## Resolve by adding prefixes

In [216]:
adata.obs['ID_harmonised'] = adata.obs['ID_harmonised'].astype(str)

In [217]:
conditions = [
    (adata.obs['Dataset'].str.contains('Peng')),
    (adata.obs['Dataset'] == 'Lin')
]
values = ['Peng' + '_' + adata.obs['ID_harmonised'], 'Lin' + '_' + adata.obs['ID_harmonised']]
adata.obs['ID_harmonised'] = np.select(conditions, values, default=adata.obs['ID_harmonised'])

In [233]:
len(set(df_id_merged.ID_harmonised) & set(adata.obs.ID_harmonised))

173

## recheck

In [234]:
shared_ids = adata.obs.groupby('ID_harmonised')['Dataset'].nunique()
shared_ids_multiple_datasets = shared_ids[shared_ids > 1]
shared_ids_multiple_datasets_info = adata.obs[adata.obs['ID_harmonised'].isin(shared_ids_multiple_datasets.index)]

In [235]:
shared_ids_multiple_datasets

Series([], Name: Dataset, dtype: int64)

In [236]:
shared_ids_multiple_datasets

Series([], Name: Dataset, dtype: int64)

# Check if you can add this biological metadata to obsm

In [237]:
adata_obs_subset = adata.obs[['Barcode','Dataset','ID_batch_covariate', 'ID_harmonised', 'Unique_ID', 'Level_1_refined','Tissue', 'Age', 'Sex', 'Diabetes', 'Treatment']].copy()

## Add Steele Treatment

In [238]:
adata_obs_subset.Treatment = np.where(adata_obs_subset.Dataset == 'Steele', 'Treatment Naive', adata_obs_subset.Treatment)

In [239]:
df_id_merged.drop('Treatment', axis=1, inplace=True)

In [134]:
## can drop Case, Patient_ID, Diabetes

In [240]:
df_id_merged.drop(['Case', 'Patient_ID', 'Diabetes'], axis=1, inplace=True)

## Add Steele and Peng_Normal Age

In [241]:
adata_obs_subset.Age = np.where(adata_obs_subset.Dataset == 'Steele', '60s', adata_obs_subset.Age)

In [242]:
adata_obs_subset.Age = np.where(adata_obs_subset.Dataset == 'Steele_Adj_Norm', '60s', adata_obs_subset.Age)

In [243]:
adata_obs_subset.Age = adata_obs_subset.ID_harmonised.map(dict(zip(df_id_merged[df_id_merged.Dataset == 'Peng'].ID_harmonised, 
         df_id_merged.loc[df_id_merged.Dataset == 'Peng', 'Age']
         .apply(lambda x: f"{int((x // 10) * 10)}s")
         .tolist()))).fillna(adata_obs_subset.Age)

In [244]:
adata_obs_subset.Age = adata_obs_subset.ID_harmonised.map(dict(zip(df_id_merged[df_id_merged.Dataset == 'Peng_Normal'].ID_harmonised, 
         df_id_merged.loc[df_id_merged.Dataset == 'Peng_Normal', 'Age']
         .apply(lambda x: f"{int((x // 10) * 10)}s")
         .tolist()))).fillna(adata_obs_subset.Age)

In [245]:
adata_obs_subset[adata_obs_subset.Dataset.str.contains('Peng')].groupby(['Dataset', 'Age']).size().unstack()

/tmp/ipykernel_937282/1052958436.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  adata_obs_subset[adata_obs_subset.Dataset.str.contains('Peng')].groupby(['Dataset', 'Age']).size().unstack()

Age               30s   40s    50s    60s   70s
Dataset
Caronni             0     0      0      0     0
Ding                0     0      0      0     0
Ding_snRNA-seq      0     0      0      0     0
Lee                 0     0      0      0     0
Lin                 0     0      0      0     0
Peng             2301  1787  22201  11299  3823
Peng_Normal      4294  2270   3895   4209     0
Hwang               0     0      0      0     0
Schlesinger         0     0      0      0     0
Simeone             0     0      0      0     0
Steele              0     0      0      0     0
Steele_Adj_Norm     0     0      0      0     0

In [246]:
# Drop Age from df_id_merged
df_id_merged.drop('Age', axis=1, inplace=True)

In [247]:
# Drop Tissue
df_id_merged.drop('Tissue', axis=1, inplace=True)

In [248]:
# Drop Dataset, Unique_ID, 
df_id_merged.drop(['Dataset', 'Unique_ID'], axis=1, inplace=True)

In [249]:
biological_metadata = adata_obs_subset.merge(df_id_merged, on='ID_harmonised', how='inner').copy()

In [250]:
import re

[i for i in biological_metadata.columns if re.search(r'_x|_y', i)]

[]

In [251]:
biological_metadata.index = adata.obs.index

In [253]:
biological_metadata.drop('Barcode', axis=1, inplace=True)

In [254]:
biological_metadata.

,Dataset,ID_batch_covariate,ID_harmonised,Unique_ID,Level_1_refined,Tissue,Age,Sex,Diabetes,Treatment,KRAS_mutation,KRAS_type,TP53_type,SMAD4_type,CDKN2A_type,Germline_ATM,Germline_BRCA2,Germline_FANCC,Moffitt_Subtype,Bailey_Subtype,Collisson_Subtype,Time_from_diagnosis_to_surgery_(weeks),Cycles,Location,Grade,Size_(cm),Stage,Pancreatitis,Previous_cancer_history,Other_co-morbidities,Smoker,Alcohol,Pathology_notes,Lymph_node_met,Survival_post_surgery_(weeks),Vital_status,TNM_classification,Overall Survival,Procedure,BMI,perineural invasion,vascular invasion,peripancreatic infiltarion,Harmonized_Grade,Harmonized_TNM_Classification
Dataset_Barcode,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Ding_AAACCCAAGTCATCGT-1-HT056P-S1PAA1-0-0-0-0,Ding,HT056P1_Ding_scRNA-seq,HT056P1,HT056P1,T Cell,Pancreas,40s,Female,No,FOLFIRINOX,p.G12V,Missense,Missense,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Basal-like,Immunogenic,Quasimesenchymal,20.0,6,"Head, Uncinated Process",3.0,3.2,NaN,Yes,No,No,No,Occasional,"ypT2, focal sarcomatoid transformation","2/21, pN1",NaN,NaN,ypT2 pN1,NaN,NaN,NaN,NaN,NaN,NaN,G3,ypT2 pN1
Ding_AAACCCACAACCACGC-1-HT056P-S1PAA1-0-0-0-0,Ding,HT056P1_Ding_scRNA-seq,HT056P1,HT056P1,Fibroblast,Pancreas,40s,Female,No,FOLFIRINOX,p.G12V,Missense,Missense,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Basal-like,Immunogenic,Quasimesenchymal,20.0,6,"Head, Uncinated Process",3.0,3.2,NaN,Yes,No,No,No,Occasional,"ypT2, focal sarcomatoid transformation","2/21, pN1",NaN,NaN,ypT2 pN1,NaN,NaN,NaN,NaN,NaN,NaN,G3,ypT2 pN1
Ding_AAACCCACAACTCCCT-1-HT056P-S1PAA1-0-0-0-0,Ding,HT056P1_Ding_scRNA-seq,HT056P1,HT056P1,T Cell,Pancreas,40s,Female,No,FOLFIRINOX,p.G12V,Missense,Missense,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Basal-like,Immunogenic,Quasimesenchymal,20.0,6,"Head, Uncinated Process",3.0,3.2,NaN,Yes,No,No,No,Occasional,"ypT2, focal sarcomatoid transformation","2/21, pN1",NaN,NaN,ypT2 pN1,NaN,NaN,NaN,NaN,NaN,NaN,G3,ypT2 pN1
Ding_AAACCCACAGACAATA-1-HT056P-S1PAA1-0-0-0-0,Ding,HT056P1_Ding_scRNA-seq,HT056P1,HT056P1,T Cell,Pancreas,40s,Female,No,FOLFIRINOX,p.G12V,Missense,Missense,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Basal-like,Immunogenic,Quasimesenchymal,20.0,6,"Head, Uncinated Process",3.0,3.2,NaN,Yes,No,No,No,Occasional,"ypT2, focal sarcomatoid transformation","2/21, pN1",NaN,NaN,ypT2 pN1,NaN,NaN,NaN,NaN,NaN,NaN,G3,ypT2 pN1
Ding_AAACCCACATGCCGAC-1-HT056P-S1PAA1-0-0-0-0,Ding,HT056P1_Ding_scRNA-seq,HT056P1,HT056P1,T Cell,Pancreas,40s,Female,No,FOLFIRINOX,p.G12V,Missense,Missense,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Wild_Type,Basal-like,Immunogenic,Quasimesenchymal,20.0,6,"Head, Uncinated Process",3.0,3.2,NaN,Yes,No,No,No,Occasional,"ypT2, focal sarcomatoid transformation","2/21, pN1",NaN,NaN,ypT2 pN1,NaN,NaN,NaN,NaN,NaN,NaN,G3,ypT2 pN1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ding_TTTGTTGGTCTTACTA-1-HT412P1-S1H1A3N1Z1_1Bmn1_1-1-1,Ding_snRNA-seq,HT412P1_Ding_snRNA-seq,HT412P1,HT412P1,Ductal Cell,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,"5, 1","Head, Uncinated Process",NaN,1.9,NaN,No,No,"GERD, hypertension","Yes, past",No,ypT1 moderately differentiated positive for pe...,"0/13, pN0",NaN,NaN,ypT1 moderately differentiated positive for pe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ypT1 pN0
Ding_TTTGTTGGTTGAGCCG-1-HT412P1-S1H1A3N1Z1_1Bmn1_1-1-1,Ding_snRNA-seq,HT412P1_Ding_snRNA-seq,HT412P1,HT412P1,Ductal Cell,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,"5, 1","Head, Uncinated Process",NaN,1.9,NaN,No,No,"GERD, hypertension","Yes, past",No,ypT1 moderately differentiated positive for pe...,"0/13, pN0",NaN,NaN,ypT1 moderately differentiated positive for pe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ypT1 pN0
Ding_TTTGTTGGTTGCACGG-1-HT412P1-S1H1A3N1Z1_1Bmn1_1-1-1,Ding_snRNA-seq,HT412P1_Ding_snRNA-seq,HT412P1,HT412P1,Ductal Cell,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,"5, 1","Head, Uncinated Process",NaN,1.9,NaN,No,No,"GERD, hypertension","Yes, past",No,ypT1 moderately differentiated positive for pe...,"0/13, pN0",NaN,NaN,ypT1 moderately differentiated positive for pe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ypT1 pN0
Ding_TTTGTTGGTTGGTTGA-1-HT412P1-S1H1A3N1Z1_1Bmn1_1-1-1,Ding_snRNA-seq,HT412P1_Ding_snRNA-seq,HT412P1,HT412P1,Fibroblast,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,"5, 1","Head, Uncinated Process",NaN,1.9,NaN,No,No,"GERD, hypertension","Yes, past",No,ypT1 moderately differentiated positive for pe...,"0/13, pN0",NaN,NaN,ypT1 moderately differentiated positive for pe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ypT1 pN0
Ding_TTTGTTGGTTTATCGC-1-HT412P1-S1H1A3N1Z1_1Bmn1_1-1-1,Ding_snRNA-seq,HT412P1_Ding_snRNA-seq,HT412P1,HT412P1,Ductal Cell,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,"5, 1","Head, Uncinated Process",NaN,1.9,NaN,No,No,"GERD, hypertension","Yes, past",No,ypT1 moderately differentiated positive for pe...,"0/13, pN0",NaN,NaN,ypT1 moderately differentiated positive for pe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ypT1 pN0

In [261]:
df = biological_metadata.groupby('Dataset').nunique() #.apply(lambda x: x.notna().nunique())

/tmp/ipykernel_937282/1531259420.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df = biological_metadata.groupby('Dataset').nunique() #.apply(lambda x: x.notna().nunique())

In [262]:
counts = {}
for col in df:
    counts[col] = np.count_nonzero(df[col])  
sorted_counts = sorted(counts.items(), key=lambda item: item[1], reverse=True)
for col, count in sorted_counts:
    print(f'{col}: {count}/{len(df[col].index)}')

ID_batch_covariate: 12/12
ID_harmonised: 12/12
Unique_ID: 12/12
Level_1_refined: 12/12
Tissue: 12/12
Age: 12/12
Sex: 12/12
Diabetes: 12/12
Treatment: 12/12
TNM_classification: 6/12
Harmonized_TNM_Classification: 6/12
Grade: 5/12
Stage: 5/12
Harmonized_Grade: 5/12
Pathology_notes: 4/12
Location: 3/12
Vital_status: 3/12
Overall Survival: 3/12
Procedure: 3/12
KRAS_mutation: 2/12
TP53_type: 2/12
SMAD4_type: 2/12
CDKN2A_type: 2/12
Time_from_diagnosis_to_surgery_(weeks): 2/12
Cycles: 2/12
Size_(cm): 2/12
Pancreatitis: 2/12
Previous_cancer_history: 2/12
Other_co-morbidities: 2/12
Smoker: 2/12
Alcohol: 2/12
Lymph_node_met: 2/12
Survival_post_surgery_(weeks): 2/12
BMI: 2/12
perineural invasion: 2/12
vascular invasion: 2/12
peripancreatic infiltarion: 2/12
KRAS_type: 1/12
Germline_ATM: 1/12
Germline_BRCA2: 1/12
Germline_FANCC: 1/12
Moffitt_Subtype: 1/12
Bailey_Subtype: 1/12
Collisson_Subtype: 1/12

In [264]:
biological_metadata.groupby(['Dataset', 'Treatment']).size().unstack().T

/tmp/ipykernel_937282/687848908.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  biological_metadata.groupby(['Dataset', 'Treatment']).size().unstack().T

Dataset,Caronni,Ding,Ding_snRNA-seq,Lee,Lin,Peng,Peng_Normal,Hwang,Schlesinger,Simeone,Steele,Steele_Adj_Norm
Treatment,,,,,,,,,,,,
Abraxane,4093,0,0,0,0,0,0,0,0,0,0,0
FOLFIRINOX,9731,61111,0,0,0,0,0,0,0,45734,0,0
FOLFIRINOX + Gem/Abraxane,0,2383,0,0,0,0,0,0,0,0,0,0
FOLFIRINOX + Losartan + Radiotherapy + Capecitabine/5-FU,0,0,0,0,0,0,0,6957,0,0,0,0
FOLFIRINOX + RT,0,2738,0,0,0,0,0,0,0,0,0,0
FOLFIRINOX + Radiotherapy + Capecitabine/5-FU,0,0,0,0,0,0,0,66876,0,0,0,0
FOLFIRINOX + SBRT + Losartan + Nivolumab,0,0,0,0,0,0,0,1323,0,0,0,0
FOLFIRINOX + SBRT + Nivolumab,0,0,0,0,0,0,0,4994,0,0,0,0
Gem/Abraxane,14240,42646,0,1337,0,0,0,0,0,13819,0,0
Other,0,0,0,0,0,0,0,15781,0,0,0,0
Treatment Naive,0,0,0,0,0,0,0,0,0,0,35928,0
Unknown,0,2045,58888,0,0,0,14668,0,5387,0,0,6331
Untreated,43921,36060,0,6799,8019,41411,0,90399,0,82435,0,0

# Resolved Ding Treatment

In [284]:
biological_metadata[biological_metadata.Dataset.str.contains('Ding')].groupby(['ID_harmonised', 'Treatment']).size().unstack() #.fillna(0).apply(pd.to_numeric, errors='coerce')

Treatment,FOLFIRINOX,FOLFIRINOX + Gem/Abraxane,FOLFIRINOX + RT,Gem/Abraxane,Unknown,Untreated
ID_harmonised,,,,,,
HT056P1,7375.0,0.0,0.0,0.0,0.0,0.0
HT060P1,5699.0,0.0,0.0,0.0,0.0,0.0
HT061P1,0.0,0.0,0.0,0.0,0.0,3457.0
HT064P1,0.0,0.0,0.0,0.0,0.0,3889.0
HT071P1,0.0,0.0,2738.0,0.0,0.0,0.0
HT085P1,0.0,0.0,0.0,0.0,0.0,1267.0
HT115P1,5308.0,0.0,0.0,0.0,0.0,0.0
HT121P1,0.0,0.0,0.0,0.0,0.0,3663.0
HT122P1,0.0,0.0,0.0,8642.0,0.0,0.0
HT123P1,0.0,0.0,0.0,0.0,0.0,11478.0
HT124P1,0.0,0.0,0.0,0.0,0.0,3238.0
HT125P1,0.0,0.0,0.0,18187.0,0.0,0.0
HT138P1,0.0,0.0,0.0,10570.0,0.0,0.0
HT140P1,0.0,0.0,0.0,0.0,0.0,9068.0
HT166P1,10533.0,0.0,0.0,0.0,0.0,0.0
HT168P1,13830.0,0.0,0.0,0.0,0.0,0.0
HT185B1,0.0,0.0,0.0,0.0,2045.0,0.0
HT185P1,0.0,2383.0,0.0,0.0,0.0,0.0
HT190P1,0.0,0.0,0.0,5247.0,0.0,0.0
HT191P1,7065.0,0.0,0.0,0.0,0.0,0.0
HT200P1,5744.0,0.0,0.0,0.0,0.0,0.0
HT204P1,5557.0,0.0,0.0,0.0,0.0,0.0
HT224P1,0.0,0.0,0.0,0.0,2201.0,0.0
HT231P1,0.0,0.0,0.0,0.0,4172.0,0.0
HT232P1,0.0,0.0,0.0,0.0,4226.0,0.0
HT242P1,0.0,0.0,0.0,0.0,5826.0,0.0
HT259P1,0.0,0.0,0.0,0.0,4472.0,0.0
HT264P1,0.0,0.0,0.0,0.0,3816.0,0.0
HT270P1,0.0,0.0,0.0,0.0,6794.0,0.0
HT284P1,0.0,0.0,0.0,0.0,5084.0,0.0
HT288P1,0.0,0.0,0.0,0.0,7994.0,0.0
HT306P1,0.0,0.0,0.0,0.0,5876.0,0.0
HT412P1,0.0,0.0,0.0,0.0,8427.0,0.0

In [289]:
ding_ids = biological_metadata[(biological_metadata.Treatment == 'Unknown') & (biological_metadata.Dataset.str.contains('Ding'))].ID_harmonised.unique().tolist() #.groupby('ID_harmonised').size()

In [291]:
len(ding_ids)

12

In [287]:
ding = pd.read_excel('../Downstream/metadata_publications/Ding_metadata.xlsx', sheet_name='Table1_Clinical_data')

In [297]:
overlapping_ding_id = list(set(ding.Patient_ID) & set(ding_ids))

In [300]:
ding[ding.Patient_ID.isin(overlapping_ding_id)].Patient_ID

21    HT264P1
22    HT270P1
23    HT284P1
24    HT288P1
25    HT224P1
26    HT231P1
27    HT232P1
28    HT259P1
29    HT306P1
30    HT242P1
31    HT412P1
Name: Patient_ID, dtype: object

In [301]:
dict(zip(ding[ding.Patient_ID.isin(overlapping_ding_id)].Patient_ID, ding[ding.Patient_ID.isin(overlapping_ding_id)].Treatment))

{'HT264P1': 'naive',
 'HT270P1': 'naive',
 'HT284P1': 'naive',
 'HT288P1': 'Naive',
 'HT224P1': 'FOLIRINOX, Gem/Abraxane',
 'HT231P1': 'FOLFIRINOX, SBRT',
 'HT232P1': 'mFOLFIRINOX, FOLFIRI',
 'HT259P1': 'FOLFIRINOX',
 'HT306P1': 'FOLFIRINOX',
 'HT242P1': nan,
 'HT412P1': 'FOLFIRONOX, Gemcitabine'}

In [304]:
biological_metadata.Treatment.unique().tolist()

['FOLFIRINOX',
 'Untreated',
 'FOLFIRINOX + RT',
 'Gem/Abraxane',
 'Unknown',
 'FOLFIRINOX + Gem/Abraxane',
 'Treatment Naive',
 'Abraxane',
 'Other',
 'FOLFIRINOX + Radiotherapy + Capecitabine/5-FU',
 'FOLFIRINOX + Losartan + Radiotherapy + Capecitabine/5-FU',
 'FOLFIRINOX + SBRT + Nivolumab',
 'FOLFIRINOX + SBRT + Losartan + Nivolumab']

In [306]:
ding_treament_dict = {'HT264P1': 'Treatment Naive',
 'HT270P1': 'Treatment Naive',
 'HT284P1': 'Treatment Naive',
 'HT288P1': 'Treatment Naive',
 'HT224P1': 'FOLIRINOX + Gem/Abraxane',
 'HT231P1': 'FOLFIRINOX + SBRT',
 'HT232P1': 'mFOLFIRINOX + FOLFIRI',
 'HT259P1': 'FOLFIRINOX',
 'HT306P1': 'FOLFIRINOX',
 'HT242P1': 'Unknown',
 'HT412P1': 'FOLFIRONO + Gemcitabine'}

In [307]:
biological_metadata.Treatment = biological_metadata.ID_harmonised.map(ding_treament_dict).fillna(biological_metadata.Treatment)

In [314]:
biological_metadata[biological_metadata.Dataset.str.contains('Ding')].groupby(['ID_harmonised', 'Treatment']).size().unstack().fillna(0).apply(pd.to_numeric, errors='coerce').tail(10)

Treatment,FOLFIRINOX,FOLFIRINOX + Gem/Abraxane,FOLFIRINOX + RT,FOLFIRINOX + SBRT,FOLFIRONO + Gemcitabine,FOLIRINOX + Gem/Abraxane,Gem/Abraxane,Treatment Naive,Unknown,Untreated,mFOLFIRINOX + FOLFIRI
ID_harmonised,,,,,,,,,,,
HT231P1,0.0,0.0,0.0,4172.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
HT232P1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4226.0
HT242P1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5826.0,0.0,0.0
HT259P1,4472.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
HT264P1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3816.0,0.0,0.0,0.0
HT270P1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6794.0,0.0,0.0,0.0
HT284P1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5084.0,0.0,0.0,0.0
HT288P1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7994.0,0.0,0.0,0.0
HT306P1,5876.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
HT412P1,0.0,0.0,0.0,0.0,8427.0,0.0,0.0,0.0,0.0,0.0,0.0

In [319]:
biological_metadata[(biological_metadata.Dataset.str.contains('Ding')) & (biological_metadata.Treatment == 'Unknown')].ID_harmonised.unique()

array(['HT185B1', 'HT242P1'], dtype=object)

In [320]:
biological_metadata.Treatment = biological_metadata.Treatment.replace('Untreated', 'Treatment Naive')

In [321]:
biological_metadata.groupby(['Dataset', 'Treatment']).size().unstack().T

/tmp/ipykernel_937282/687848908.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  biological_metadata.groupby(['Dataset', 'Treatment']).size().unstack().T

Dataset,Caronni,Ding,Ding_snRNA-seq,Lee,Lin,Peng,Peng_Normal,Hwang,Schlesinger,Simeone,Steele,Steele_Adj_Norm
Treatment,,,,,,,,,,,,
Abraxane,4093,0,0,0,0,0,0,0,0,0,0,0
FOLFIRINOX,9731,61111,10348,0,0,0,0,0,0,45734,0,0
FOLFIRINOX + Gem/Abraxane,0,2383,0,0,0,0,0,0,0,0,0,0
FOLFIRINOX + Losartan + Radiotherapy + Capecitabine/5-FU,0,0,0,0,0,0,0,6957,0,0,0,0
FOLFIRINOX + RT,0,2738,0,0,0,0,0,0,0,0,0,0
FOLFIRINOX + Radiotherapy + Capecitabine/5-FU,0,0,0,0,0,0,0,66876,0,0,0,0
FOLFIRINOX + SBRT,0,0,4172,0,0,0,0,0,0,0,0,0
FOLFIRINOX + SBRT + Losartan + Nivolumab,0,0,0,0,0,0,0,1323,0,0,0,0
FOLFIRINOX + SBRT + Nivolumab,0,0,0,0,0,0,0,4994,0,0,0,0
FOLFIRONO + Gemcitabine,0,0,8427,0,0,0,0,0,0,0,0,0
FOLIRINOX + Gem/Abraxane,0,0,2201,0,0,0,0,0,0,0,0,0
Gem/Abraxane,14240,42646,0,1337,0,0,0,0,0,13819,0,0
Other,0,0,0,0,0,0,0,15781,0,0,0,0
Treatment Naive,43921,36060,23688,6799,8019,41411,0,90399,0,82435,35928,0
Unknown,0,2045,5826,0,0,0,14668,0,5387,0,0,6331
mFOLFIRINOX + FOLFIRI,0,0,4226,0,0,0,0,0,0,0,0,0

# Tissue

In [325]:
biological_metadata.groupby(['Dataset', 'Tissue']).size().unstack().T

/tmp/ipykernel_937282/1132252041.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  biological_metadata.groupby(['Dataset', 'Tissue']).size().unstack().T

Dataset,Caronni,Ding,Ding_snRNA-seq,Lee,Lin,Peng,Peng_Normal,Hwang,Schlesinger,Simeone,Steele,Steele_Adj_Norm
Tissue,,,,,,,,,,,,
Pancreas,71985,144938,0,8136,8019,41411,0,186330,0,141988,0,0
Unknown,0,2045,58888,0,0,0,14668,0,5387,0,35928,6331

In [326]:
biological_metadata.Tissue = np.where(biological_metadata.Dataset.str.contains('Ding'), 'Pancreas', biological_metadata.Tissue)

In [328]:
biological_metadata.Tissue = np.where(biological_metadata.Dataset.str.contains('Peng'), 'Pancreas', biological_metadata.Tissue)

In [330]:
biological_metadata.Tissue = np.where(biological_metadata.Dataset.str.contains('Schlesinger'), 'Pancreas', biological_metadata.Tissue)

In [331]:
biological_metadata.Tissue = np.where(biological_metadata.Dataset.str.contains('Steele'), 'Pancreas', biological_metadata.Tissue)

In [332]:
biological_metadata.groupby(['Dataset', 'Tissue']).size().unstack().T

/tmp/ipykernel_937282/1132252041.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  biological_metadata.groupby(['Dataset', 'Tissue']).size().unstack().T

Dataset,Caronni,Ding,Ding_snRNA-seq,Lee,Lin,Peng,Peng_Normal,Hwang,Schlesinger,Simeone,Steele,Steele_Adj_Norm
Tissue,,,,,,,,,,,,
Pancreas,71985,146983,58888,8136,8019,41411,14668,186330,5387,141988,35928,6331

# Age

In [333]:
biological_metadata.groupby(['Dataset', 'Age']).size().unstack().T

/tmp/ipykernel_937282/1424734676.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  biological_metadata.groupby(['Dataset', 'Age']).size().unstack().T

Dataset,Caronni,Ding,Ding_snRNA-seq,Lee,Lin,Peng,Peng_Normal,Hwang,Schlesinger,Simeone,Steele,Steele_Adj_Norm
Age,,,,,,,,,,,,
20s,0,0,0,0,0,0,0,5256,0,0,0,0
30s,0,0,0,0,0,2301,4294,4553,0,0,0,0
40s,0,7375,0,0,752,1787,2270,0,0,4687,0,0
50s,4093,40171,0,0,2374,22201,3895,15567,0,10150,0,0
60s,35019,57655,0,0,1714,11299,4209,62724,0,81404,35928,6331
70s,32873,36499,0,0,2345,3823,0,77037,0,10992,0,0
80s,0,3238,0,0,834,0,0,21193,0,34755,0,0
Unknown,0,2045,58888,8136,0,0,0,0,5387,0,0,0

In [339]:
ding_age_ids = list(biological_metadata[(biological_metadata.Dataset.str.contains('Ding')) & (biological_metadata.Age == 'Unknown')].ID_harmonised.unique())

In [346]:
ding.head()

,Patient_ID,Age,Race,Ethnicity,Sex,Time_from_diagnosis_to_surgery_(weeks),Treatment,Cycles,Treatment_notes,Cancer_type,Location,Grade,Size_(cm),Tumor_viability_%,Pathology_notes,Lymph_node_met,Stage,Diabetes,Pancreatitis,Previous_cancer_history,Other_co-morbidities,Smoker,Alcohol,Family_history_HPB_first_degree,Other_family_history_first_degree,Vital_status,Survival_post_surgery_(weeks),Other_Notes
0,HT056P1,48,white,non-hispanic,female,20,FOLFIRINOX,6,Last dose 7 weeks prior to surgery,PDAC,"head, uncinate_process",3.0,3.2,60.0,"ypT2, focal sarcomatoid transformation","2/21, pN1",NaN,No,Yes,No,No,No,Occasional,No,No,NaN,NaN,NaN
1,HT060P1,61,white,non-hispanic,female,20,FOLFIRINOX,6,Last dose 4 weeks prior to surgery,PDAC,"head, uncinate_process",3.0,3.2,70.0,"ypT2, extends to duodenum and vascular groove","2/25, pN1",IIb,Type II,NaN,NaN,No,No,Occasional,No,"breast cancer, diabetes-sister",NaN,NaN,NaN
2,HT061P1,74,white,non-hispanic,male,12,Naive,NaN,NaN,PDAC,head,3.0,3.5,NaN,"pT2, poorly differentiated tumor arising in IPMN","3/7, pN1",NaN,No,NaN,Multiple myeloma (remission),"A-fib, chronic kidney disease",Former,No,No,NaN,NaN,NaN,NaN
3,HT064P1,66,white,non-hispanic,male,16,Naive,NaN,NaN,PDAC,head,1.0,3.2,NaN,"pT2, invasive carcinoma intermixed with IPMN","19/32, pN2",NaN,No,Yes,No,No,No,No,No,"breast cancer-sister, colon cancer-mother, lun...",NaN,NaN,NaN
4,HT071P1,68,white,non-hispanic,female,16,Chemo-RT,NaN,5-FU and radiation 11 weeks prior to surgery,PDAC,head,3.0,3.4,70.0,"ypT2, poorly differentiated","2/25, pN1",NaN,No,NaN,Breast cancer (chemo 13 years prior),No,No,Occasional,No,"Hodgkin's lymphoma-fater, neuroblastoma-brother",Deceased,5.0,NaN

In [354]:
ding_dict_age = dict(zip(ding.Patient_ID, ding.Age.apply(lambda x: f"{int((x // 10) * 10)}s").tolist()))

In [355]:
biological_metadata.Age = biological_metadata.ID_harmonised.map(ding_dict_age).fillna(biological_metadata.Age)

In [356]:
biological_metadata.groupby(['Dataset', 'Age']).size().unstack().T

/tmp/ipykernel_937282/1424734676.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  biological_metadata.groupby(['Dataset', 'Age']).size().unstack().T

Dataset,Caronni,Ding,Ding_snRNA-seq,Lee,Lin,Peng,Peng_Normal,Hwang,Schlesinger,Simeone,Steele,Steele_Adj_Norm
Age,,,,,,,,,,,,
20s,0,0,0,0,0,0,0,5256,0,0,0,0
30s,0,0,0,0,0,2301,4294,4553,0,0,0,0
40s,0,7375,0,0,752,1787,2270,0,0,4687,0,0
50s,4093,40171,0,0,2374,22201,3895,15567,0,10150,0,0
60s,35019,57655,21865,0,1714,11299,4209,62724,0,81404,35928,6331
70s,32873,36499,37023,0,2345,3823,0,77037,0,10992,0,0
80s,0,3238,0,0,834,0,0,21193,0,34755,0,0
Unknown,0,2045,0,8136,0,0,0,0,5387,0,0,0

# Sex

In [364]:
ding_dict_sex = dict(zip(ding.Patient_ID, ding.Sex.apply(lambda x: x.capitalize())))

In [365]:
ding_dict_sex

{'HT056P1': 'Female',
 'HT060P1': 'Female',
 'HT061P1': 'Male',
 'HT064P1': 'Male',
 'HT071P1': 'Female',
 'HT085P1': 'Female',
 'HT115P1': 'Male',
 'HT121P1': 'Male',
 'HT122P1': 'Male',
 'HT123P1': 'Female',
 'HT124P1': 'Male',
 'HT125P1': 'Female',
 'HT138P1': 'Male',
 'HT140P1': 'Male',
 'HT166P1': 'Female',
 'HT168P1': 'Male',
 'HT185P1': 'Male',
 'HT190P1': 'Female',
 'HT191P1': 'Male',
 'HT200P1': 'Female',
 'HT204P1': 'Male',
 'HT264P1': 'Female',
 'HT270P1': 'Male',
 'HT284P1': 'Male',
 'HT288P1': 'Male',
 'HT224P1': 'Female',
 'HT231P1': 'Female',
 'HT232P1': 'Female',
 'HT259P1': 'Female',
 'HT306P1': 'Female',
 'HT242P1': 'Male',
 'HT412P1': 'Male'}

In [366]:
biological_metadata.Sex = biological_metadata.ID_harmonised.map(ding_dict_sex).fillna(biological_metadata.Sex)

In [367]:
biological_metadata.groupby(['Dataset', 'Sex']).size().unstack().T

/tmp/ipykernel_937282/2182428834.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  biological_metadata.groupby(['Dataset', 'Sex']).size().unstack().T

Dataset,Caronni,Ding,Ding_snRNA-seq,Lee,Lin,Peng,Peng_Normal,Hwang,Schlesinger,Simeone,Steele,Steele_Adj_Norm
Sex,,,,,,,,,,,,
Female,30739,68268,24763,0,3862,22009,0,79903,0,88966,0,0
Male,41246,76670,34125,0,4157,19402,0,106427,0,53022,0,0
Unknown,0,2045,0,8136,0,0,14668,0,5387,0,35928,6331

In [371]:
peng_sex_dict = {'Peng_N1':'Female',
'Peng_N2':'Male',
'Peng_N3':'Male',
'Peng_N4':'Male',
'Peng_N5':'Female',
'Peng_N6':'Female',
'Peng_N7':'Female',
'Peng_N8':'Male',
'Peng_N9':'Male',
'Peng_N10':'Female',
'Peng_N11':'Female'}

In [372]:
biological_metadata.Sex = biological_metadata.ID_harmonised.map(peng_sex_dict).fillna(biological_metadata.Sex)

In [373]:
biological_metadata.groupby(['Dataset', 'Sex']).size().unstack().T

/tmp/ipykernel_937282/2182428834.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  biological_metadata.groupby(['Dataset', 'Sex']).size().unstack().T

Dataset,Caronni,Ding,Ding_snRNA-seq,Lee,Lin,Peng,Peng_Normal,Hwang,Schlesinger,Simeone,Steele,Steele_Adj_Norm
Sex,,,,,,,,,,,,
Female,30739,68268,24763,0,3862,22009,8271,79903,0,88966,0,0
Male,41246,76670,34125,0,4157,19402,6397,106427,0,53022,0,0
Unknown,0,2045,0,8136,0,0,0,0,5387,0,35928,6331

# TNM Classification

In [380]:
biological_metadata.Harmonized_TNM_Classification.unique()

array(['ypT2 pN1', 'pT2 pN1', 'pT2 pN2', 'ypT2 pN0', 'ypT2 pN2',
       'pT3 pN2', 'ypT3 pN2', nan, 'yT2 pN1', 'T4 pN2 M0', 'T1c pN1 M0',
       'T2 pN0 M0', 'T3 pN0 M0', 'T3 pN1 M0', 'T1c pN2 M0', 'T2 pN1 M0',
       'T3 pN2 M0', 'T1c pN0 M0', 'pT1c pN2', 'T2 pN2', 'T2 pN2 M0',
       'T2 pN1', 'ypT2 pN1 M0', 'ypT3 pN0 M0', 'ypT1c pN0 M0',
       'ypT2 pN0 M0', 'ypT1a pN1 M0', 'ypT2 pN2 M0', 'ypT1a pN0 M0',
       'ypT1c pN1 M0', 'ypT3 pN1 M0', 'ypT3 pN0', 'rpT2 pN1', 'pT2 pN0',
       'pT1a pN0', 'ypT1 pN0'], dtype=object)

In [406]:
biological_metadata.Harmonized_TNM_Classification = biological_metadata.Harmonized_TNM_Classification.replace('NaN', 'Unknown')

In [407]:
biological_metadata.groupby(['Dataset', 'Harmonized_TNM_Classification']).size().unstack().T

/tmp/ipykernel_937282/2873525045.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  biological_metadata.groupby(['Dataset', 'Harmonized_TNM_Classification']).size().unstack().T

Dataset,Caronni,Ding,Ding_snRNA-seq,Lee,Lin,Peng,Peng_Normal,Hwang,Schlesinger,Simeone,Steele,Steele_Adj_Norm
Harmonized_TNM_Classification,,,,,,,,,,,,
T1c pN0 M0,0,0,0,0,0,1787,0,0,0,0,0,0
T1c pN1 M0,0,0,0,0,0,4060,0,0,0,0,0,0
T1c pN2 M0,0,0,0,0,0,660,0,0,0,0,0,0
T2 pN0 M0,0,0,0,0,0,14138,0,8197,0,0,0,0
T2 pN1,12343,0,0,0,0,0,0,0,0,0,0,0
T2 pN1 M0,14240,0,0,0,0,11170,0,31710,0,0,0,0
T2 pN2,8154,0,0,0,0,0,0,0,0,0,0,0
T2 pN2 M0,34194,0,0,0,0,0,0,6023,0,0,0,0
T3 pN0 M0,0,0,0,0,0,1868,1405,15600,0,0,0,0
T3 pN1 M0,0,0,0,0,0,4340,0,12268,0,0,0,0
T3 pN2 M0,0,0,0,0,0,2231,0,16601,0,0,0,0
T4 pN2 M0,0,0,0,0,0,1157,0,0,0,0,0,0
Unknown,0,2045,0,8136,8019,0,13263,0,5387,141988,35928,6331
pT1a pN0,0,0,5084,0,0,0,0,0,0,0,0,0
pT1c pN2,3054,0,0,0,0,0,0,0,0,0,0,0
pT2 pN0,0,0,11810,0,0,0,0,0,0,0,0,0
pT2 pN1,0,6695,6794,0,0,0,0,0,0,0,0,0
pT2 pN2,0,20297,0,0,0,0,0,0,0,0,0,0
pT3 pN2,0,9068,0,0,0,0,0,0,0,0,0,0
rpT2 pN1,0,0,5826,0,0,0,0,0,0,0,0,0
yT2 pN1,0,2383,0,0,0,0,0,0,0,0,0,0
ypT1 pN0,0,0,8427,0,0,0,0,0,0,0,0,0
ypT1a pN0 M0,0,0,0,0,0,0,0,5714,0,0,0,0
ypT1a pN1 M0,0,0,0,0,0,0,0,4994,0,0,0,0
ypT1c pN0 M0,0,0,0,0,0,0,0,11141,0,0,0,0
ypT1c pN1 M0,0,0,0,0,0,0,0,3264,0,0,0,0
ypT2 pN0,0,28991,5876,0,0,0,0,0,0,0,0,0
ypT2 pN0 M0,0,0,0,0,0,0,0,15063,0,0,0,0
ypT2 pN1,0,29762,4472,0,0,0,0,0,0,0,0,0
ypT2 pN1 M0,0,0,0,0,0,0,0,7159,0,0,0,0
ypT2 pN2,0,31465,0,0,0,0,0,0,0,0,0,0
ypT2 pN2 M0,0,0,0,0,0,0,0,5800,0,0,0,0
ypT3 pN0,0,0,8398,0,0,0,0,0,0,0,0,0
ypT3 pN0 M0,0,0,0,0,0,0,0,36976,0,0,0,0
ypT3 pN1 M0,0,0,0,0,0,0,0,5820,0,0,0,0
ypT3 pN2,0,16277,2201,0,0,0,0,0,0,0,0,0

# Grade

In [384]:
biological_metadata.Grade.unique()

array(['3.0', '1.0', '2.0', nan, 'G3', 'G2', '2', '4', '3', 'g3', 'g2',
       'g2-3', 'gX'], dtype=object)

In [383]:
biological_metadata.groupby(['Dataset', 'Grade']).size().unstack().T

/tmp/ipykernel_937282/2892831985.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  biological_metadata.groupby(['Dataset', 'Grade']).size().unstack().T

Dataset,Caronni,Ding,Ding_snRNA-seq,Lee,Lin,Peng,Peng_Normal,Hwang,Schlesinger,Simeone,Steele,Steele_Adj_Norm
Grade,,,,,,,,,,,,
1.0,0,31490,8900,0,0,0,0,0,0,0,0,0
2,0,0,0,0,5299,0,0,0,0,0,0,0
2.0,0,62279,22464,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1479,0,0,0,0,0,0,0
3.0,0,43478,19097,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1241,0,0,0,0,0,0,0
G2,35461,0,0,0,0,0,0,0,0,0,0,0
G3,36524,0,0,0,0,0,0,0,0,0,0,0
g2,0,0,0,0,0,0,0,103177,0,0,0,0
g2-3,0,0,0,0,0,0,0,19056,0,0,0,0
g3,0,0,0,0,0,0,0,32243,0,0,0,0
gX,0,0,0,0,0,0,0,31854,0,0,0,0

In [390]:
grade_mapping = {
    '1.0': 'G1',
    '2.0': 'G2',
    '3.0': 'G3',
    '1': 'G1',
    '2': 'G2',
    '3': 'G3',
    '4': 'G3',  # Assuming grade 4 maps to G3
    'G1': 'G1',
    'G2': 'G2',
    'G3': 'G3',
    'g1': 'G1',
    'g2': 'G2',
    'g3': 'G3',
    'g2-3': 'G2-G3',  # Assuming g2-3 means G2 or G3
    'gX': 'GX',  # Handle unknown grades
    np.nan: 'Unknown'  # Handle missing values
}
biological_metadata['Harmonized_Grade'] = biological_metadata['Grade'].map(grade_mapping)
biological_metadata.groupby(['Dataset', 'Harmonized_Grade']).size().unstack().T

/tmp/ipykernel_937282/229157401.py:20: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  biological_metadata.groupby(['Dataset', 'Harmonized_Grade']).size().unstack().T

Dataset,Caronni,Ding,Ding_snRNA-seq,Lee,Lin,Peng,Peng_Normal,Hwang,Schlesinger,Simeone,Steele,Steele_Adj_Norm
Harmonized_Grade,,,,,,,,,,,,
G1,0,31490,8900,0,0,0,0,0,0,0,0,0
G2,35461,62279,22464,0,5299,0,0,103177,0,0,0,0
G2-G3,0,0,0,0,0,0,0,19056,0,0,0,0
G3,36524,43478,19097,0,2720,0,0,32243,0,0,0,0
GX,0,0,0,0,0,0,0,31854,0,0,0,0
Unknown,0,9736,8427,8136,0,41411,14668,0,5387,141988,35928,6331

# Stage

In [385]:
biological_metadata.Stage.unique()

array([nan, 'IIb', 'III', 'IIB', 'IB', 'IIA', 'Ia'], dtype=object)

In [393]:
biological_metadata.groupby(['Dataset', 'Stage']).size().unstack().T.fillna(0).apply(pd.to_numeric, errors='coerce')

/tmp/ipykernel_937282/2146864415.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  biological_metadata.groupby(['Dataset', 'Stage']).size().unstack().T.fillna(0).apply(pd.to_numeric, errors='coerce')

Dataset,Caronni,Ding,Ding_snRNA-seq,Lee,Lin,Peng,Peng_Normal,Hwang,Schlesinger,Simeone,Steele,Steele_Adj_Norm
Stage,,,,,,,,,,,,
IB,0,0,0,0,0,14451,0,0,0,0,0,0
IIA,0,0,0,0,3723,4169,1405,0,0,0,0,0
IIB,0,0,0,0,3708,18743,0,0,0,0,0,0
III,0,0,4226,0,588,4048,0,0,0,0,0,0
IIb,0,8082,10966,0,0,0,0,0,0,0,0,0
Ia,0,0,5084,0,0,0,0,0,0,0,0,0
Unknown,71985,138901,38612,8136,0,0,13263,186330,5387,141988,35928,6331

In [391]:
biological_metadata.Stage = biological_metadata.Stage.replace(np.nan, 'Unknown')

In [399]:
stage_mapping = {
    'Ia': 'IA',
    'IB': 'IB',
    'IIA': 'IIA',
    'IIB': 'IIB',
    'IIb': 'IIB',
    'III': 'III',
    np.nan: 'Unknown',  # Handle missing values
}
biological_metadata['Harmonized_Stage'] = biological_metadata['Stage'].map(stage_mapping).fillna('Unknown')
biological_metadata.groupby(['Dataset', 'Harmonized_Stage']).size().unstack().T

/tmp/ipykernel_937282/2278554412.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  biological_metadata.groupby(['Dataset', 'Harmonized_Stage']).size().unstack().T

Dataset,Caronni,Ding,Ding_snRNA-seq,Lee,Lin,Peng,Peng_Normal,Hwang,Schlesinger,Simeone,Steele,Steele_Adj_Norm
Harmonized_Stage,,,,,,,,,,,,
IA,0,0,5084,0,0,0,0,0,0,0,0,0
IB,0,0,0,0,0,14451,0,0,0,0,0,0
IIA,0,0,0,0,3723,4169,1405,0,0,0,0,0
IIB,0,8082,10966,0,3708,18743,0,0,0,0,0,0
III,0,0,4226,0,588,4048,0,0,0,0,0,0
Unknown,71985,138901,38612,8136,0,0,13263,186330,5387,141988,35928,6331

In [426]:
simeone_stage = {'P01': 'IV',
'P02': 'IV',
'P03': 'IV',
'P04': 'IB',
'P05': 'III',
'P06': 'III',
'P07': 'IB',
'P08': 'IIB',
'P09': 'IV',
'P10': 'IIB',
'P11': 'IV',
'P12': 'IV',
'P13': 'III',
'P14': 'IB',
'P15': 'III',
'P16': 'IV',
'P17': 'IV',
'P18': 'IV',
'P19': 'IB',
'P20': 'IV',
'P21': 'IV',
'P22': 'III',
'P23': 'IB',
'P24': 'IV',
'P25': 'IV',
'P26': 'IV',
'P26': 'IV',
'P27': 'IV'}

biological_metadata['Harmonized_Stage'] = biological_metadata['ID_harmonised'].map(simeone_stage).fillna(biological_metadata.Harmonized_Stage)
biological_metadata.groupby(['Dataset', 'Harmonized_Stage']).size().unstack().T

/tmp/ipykernel_937282/3023972922.py:31: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  biological_metadata.groupby(['Dataset', 'Harmonized_Stage']).size().unstack().T

Dataset,Caronni,Ding,Ding_snRNA-seq,Lee,Lin,Peng,Peng_Normal,Hwang,Schlesinger,Simeone,Steele,Steele_Adj_Norm
Harmonized_Stage,,,,,,,,,,,,
IA,0,0,5084,0,0,0,0,0,0,0,0,0
IB,0,0,0,0,0,14451,0,0,0,45409,0,0
IIA,0,0,0,0,3723,4169,1405,0,0,0,0,0
IIB,0,8082,10966,0,3708,18743,0,0,0,12200,0,0
III,0,0,4226,0,588,4048,0,0,0,31142,0,0
IV,0,0,0,0,0,0,0,0,0,53237,0,0
Unknown,71985,138901,38612,8136,0,0,13263,186330,5387,0,35928,6331

In [427]:
df = biological_metadata.groupby('Dataset').nunique() #.apply(lambda x: x.notna().nunique())
counts = {}
for col in df:
    counts[col] = np.count_nonzero(df[col])  
sorted_counts = sorted(counts.items(), key=lambda item: item[1], reverse=True)
for col, count in sorted_counts:
    print(f'{col}: {count}/{len(df[col].index)}')

/tmp/ipykernel_937282/4019530717.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df = biological_metadata.groupby('Dataset').nunique() #.apply(lambda x: x.notna().nunique())

ID_batch_covariate: 12/12
ID_harmonised: 12/12
Unique_ID: 12/12
Level_1_refined: 12/12
Tissue: 12/12
Age: 12/12
Sex: 12/12
Diabetes: 12/12
Treatment: 12/12
Stage: 12/12
Harmonized_Grade: 12/12
Harmonized_TNM_Classification: 12/12
Harmonized_Stage: 12/12
TNM_classification: 6/12
Location: 5/12
Grade: 5/12
Pathology_notes: 4/12
Vital_status: 3/12
Overall Survival: 3/12
Procedure: 3/12
KRAS_mutation: 2/12
TP53_type: 2/12
SMAD4_type: 2/12
CDKN2A_type: 2/12
Time_from_diagnosis_to_surgery_(weeks): 2/12
Cycles: 2/12
Size_(cm): 2/12
Pancreatitis: 2/12
Previous_cancer_history: 2/12
Other_co-morbidities: 2/12
Smoker: 2/12
Alcohol: 2/12
Lymph_node_met: 2/12
Survival_post_surgery_(weeks): 2/12
BMI: 2/12
perineural invasion: 2/12
vascular invasion: 2/12
peripancreatic infiltarion: 2/12
KRAS_type: 1/12
Germline_ATM: 1/12
Germline_BRCA2: 1/12
Germline_FANCC: 1/12
Moffitt_Subtype: 1/12
Bailey_Subtype: 1/12
Collisson_Subtype: 1/12

# Location

In [413]:
biological_metadata.Location.unique()

array(['Head, Uncinated Process', 'Head', 'Neck', nan, 'Body',
       'Uncinated Process', 'Tail', 'Body/Tail',
       'Tail, Proximal Remanant', 'Neck/Body'], dtype=object)

In [411]:
biological_metadata.groupby(['Dataset', 'Location']).size().unstack().T

/tmp/ipykernel_937282/1357878787.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  biological_metadata.groupby(['Dataset', 'Location']).size().unstack().T

Dataset,Caronni,Ding,Ding_snRNA-seq,Lee,Lin,Peng,Peng_Normal,Hwang,Schlesinger,Simeone,Steele,Steele_Adj_Norm
Location,,,,,,,,,,,,
Body,4093,7065,3816,0,0,0,0,0,0,0,0,0
Body/Tail,0,0,4226,0,0,0,0,0,0,0,0,0
Head,48824,102195,27337,0,0,0,0,0,0,0,0,0
"Head, Uncinated Process",10914,14341,8427,0,0,0,0,0,0,0,0,0
Neck,0,10533,0,0,0,0,0,0,0,0,0,0
Neck/Body,0,0,5084,0,0,0,0,0,0,0,0,0
Tail,0,0,4172,0,0,0,0,0,0,0,0,0
"Tail, Proximal Remanant",0,0,5826,0,0,0,0,0,0,0,0,0
Uncinated Process,8154,0,0,0,0,0,0,0,0,0,0,0

In [414]:
peng_location_mapping = {
    'Peng_T1': 'Body',
    'Peng_T2': 'Head',
    'Peng_T3': 'Uncinated Process',
    'Peng_T4': 'Body',
    'Peng_T5': 'Uncinated Process',
    'Peng_T6': 'Tail',
    'Peng_T7': 'Body',
    'Peng_T8': 'Uncinated Process',
    'Peng_T9': 'Head',
    'Peng_T10': 'Uncinated Process',
    'Peng_T11': 'Body/Tail',
    'Peng_T12': 'Uncinated Process',
    'Peng_T13': 'Head',
    'Peng_T14': 'Head',
    'Peng_T15': 'Head',
    'Peng_T16': 'Body',
    'Peng_T17': 'Body/Tail',
    'Peng_T18': 'Body',
    'Peng_T19': 'Head',
    'Peng_T20': 'Head',
    'Peng_T21': 'Head',
    'Peng_T22': 'Body',
    'Peng_T23': 'Head',
    'Peng_T24': 'Head',
    'Peng_N1': 'Tail',
    'Peng_N2': 'Descending Duodenum',
    'Peng_N3': 'Descending Duodenum',
    'Peng_N4': 'Body/Tail',
    'Peng_N5': 'Body/Tail',
    'Peng_N6': 'Body',
    'Peng_N7': 'Tail',
    'Peng_N8': 'Body/Tail',
    'Peng_N9': 'Tail',
    'Peng_N10': 'Common Bile Duct',
    'Peng_N11': 'Body'
}
biological_metadata['Location'] = biological_metadata['ID_harmonised'].map(peng_location_mapping).fillna(biological_metadata.Location)
biological_metadata.groupby(['Dataset', 'Location']).size().unstack().T

/tmp/ipykernel_937282/3455355903.py:39: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  biological_metadata.groupby(['Dataset', 'Location']).size().unstack().T

Dataset,Caronni,Ding,Ding_snRNA-seq,Lee,Lin,Peng,Peng_Normal,Hwang,Schlesinger,Simeone,Steele,Steele_Adj_Norm
Location,,,,,,,,,,,,
Body,4093,7065,3816,0,0,8237,2068,0,0,0,0,0
Body/Tail,0,0,4226,0,0,5180,3016,0,0,0,0,0
Common Bile Duct,0,0,0,0,0,0,1405,0,0,0,0,0
Descending Duodenum,0,0,0,0,0,0,2039,0,0,0,0,0
Head,48824,102195,27337,0,0,20017,0,0,0,0,0,0
"Head, Uncinated Process",10914,14341,8427,0,0,0,0,0,0,0,0,0
Neck,0,10533,0,0,0,0,0,0,0,0,0,0
Neck/Body,0,0,5084,0,0,0,0,0,0,0,0,0
Tail,0,0,4172,0,0,1868,6140,0,0,0,0,0
"Tail, Proximal Remanant",0,0,5826,0,0,0,0,0,0,0,0,0
Uncinated Process,8154,0,0,0,0,6109,0,0,0,0,0,0

In [419]:
biological_metadata.groupby(['Dataset', 'BMI']).size().unstack()

/tmp/ipykernel_937282/3735475906.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  biological_metadata.groupby(['Dataset', 'BMI']).size().unstack()

BMI               23.5  25.0
Dataset
Caronni              0     0
Ding                 0     0
Ding_snRNA-seq       0     0
Lee                  0     0
Lin                  0     0
Peng                 0     0
Peng_Normal          0     0
Hwang                0     0
Schlesinger          0     0
Simeone              0     0
Steele           35928     0
Steele_Adj_Norm      0  6331

In [428]:
import numpy as np

# Initialize a dictionary to store counts and the datasets for each column
counts = {}
datasets_for_columns = {}

# Loop through columns in the biological_metadata DataFrame
for col in biological_metadata.columns:
    # Exclude 'Unknown' values and get the datasets where values are not 'Unknown'
    non_unknown_data = biological_metadata[biological_metadata[col] != 'Unknown']
    
    # Group by 'Dataset' and count unique values excluding 'Unknown'
    unique_values_per_dataset = non_unknown_data.groupby('Dataset')[col].nunique()

    # Store the number of non-'Unknown' values in each dataset
    counts[col] = np.count_nonzero(unique_values_per_dataset)
    
    # Get the datasets where the value is not 'Unknown'
    datasets_for_columns[col] = unique_values_per_dataset.index.tolist()

# Sort counts in descending order
sorted_counts = sorted(counts.items(), key=lambda item: item[1], reverse=True)

# Print the results
for col, count in sorted_counts:
    print(f'{col}: {count}/{len(biological_metadata["Dataset"].unique())} datasets')
    print(f'Datasets: {", ".join(datasets_for_columns[col])}')

/tmp/ipykernel_937282/2166407596.py:13: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  unique_values_per_dataset = non_unknown_data.groupby('Dataset')[col].nunique()

Dataset: 12/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
ID_batch_covariate: 12/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
ID_harmonised: 12/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Unique_ID: 12/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Level_1_refined: 12/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Tissue: 12/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Age: 10/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Treatment: 9/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Sex: 8/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
TNM_classification: 6/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Harmonized_TNM_Classification: 6/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Harmonized_Stage: 6/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Location: 5/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Grade: 5/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Stage: 5/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Harmonized_Grade: 5/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Pathology_notes: 4/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Vital_status: 3/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Overall Survival: 3/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Procedure: 3/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Diabetes: 2/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
KRAS_mutation: 2/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
TP53_type: 2/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
SMAD4_type: 2/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
CDKN2A_type: 2/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Time_from_diagnosis_to_surgery_(weeks): 2/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Cycles: 2/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Size_(cm): 2/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Pancreatitis: 2/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Previous_cancer_history: 2/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Other_co-morbidities: 2/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Smoker: 2/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Alcohol: 2/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Lymph_node_met: 2/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Survival_post_surgery_(weeks): 2/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
BMI: 2/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
perineural invasion: 2/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
vascular invasion: 2/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
peripancreatic infiltarion: 2/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
KRAS_type: 1/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Germline_ATM: 1/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Germline_BRCA2: 1/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Germline_FANCC: 1/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Moffitt_Subtype: 1/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Bailey_Subtype: 1/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm
Collisson_Subtype: 1/12 datasets
Datasets: Caronni, Ding, Ding_snRNA-seq, Lee, Lin, Peng, Peng_Normal, Hwang, Schlesinger, Simeone, Steele, Steele_Adj_Norm

In [430]:
adata.obsm['biological_metadata'] = biological_metadata.copy()

In [432]:
adata.obsm['biological_metadata'] = adata.obsm['biological_metadata'].astype(str)

In [433]:
adata.write('../Binned_Data/adata_scanvi_neighbours_leiden_biological_metadata.h5ad')

In [435]:
adata.obs.Dataset.unique().tolist()

['Ding',
 'Lee',
 'Simeone',
 'Steele',
 'Peng',
 'Caronni',
 'Lin',
 'Schlesinger',
 'Steele_Adj_Norm',
 'Peng_Normal',
 'Hwang',
 'Ding_snRNA-seq']

In [438]:
biological_metadata.columns

Index(['Dataset', 'ID_batch_covariate', 'ID_harmonised', 'Unique_ID',
       'Level_1_refined', 'Tissue', 'Age', 'Sex', 'Diabetes', 'Treatment',
       'KRAS_mutation', 'KRAS_type', 'TP53_type', 'SMAD4_type', 'CDKN2A_type',
       'Germline_ATM', 'Germline_BRCA2', 'Germline_FANCC', 'Moffitt_Subtype',
       'Bailey_Subtype', 'Collisson_Subtype',
       'Time_from_diagnosis_to_surgery_(weeks)', 'Cycles', 'Location', 'Grade',
       'Size_(cm)', 'Stage', 'Pancreatitis', 'Previous_cancer_history',
       'Other_co-morbidities', 'Smoker', 'Alcohol', 'Pathology_notes',
       'Lymph_node_met', 'Survival_post_surgery_(weeks)', 'Vital_status',
       'TNM_classification', 'Overall Survival', 'Procedure', 'BMI',
       'perineural invasion', 'vascular invasion',
       'peripancreatic infiltarion', 'Harmonized_Grade',
       'Harmonized_TNM_Classification', 'Harmonized_Stage'],
      dtype='object')

In [446]:
from collections import Counter

In [449]:
biological_metadata_only_na = biological_metadata.replace('Unknown', np.nan)

/tmp/ipykernel_937282/4133086291.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  biological_metadata_only_na = biological_metadata.replace('Unknown', np.nan)

In [471]:
df = biological_metadata_only_na.groupby('Dataset').nunique() #.apply(lambda x: x.notna().nunique())
counts = {}
for col in df:
    counts[col] = df[df[col] > 0].index.tolist() #np.count_nonzero(df[col])

/tmp/ipykernel_937282/1092311295.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df = biological_metadata_only_na.groupby('Dataset').nunique() #.apply(lambda x: x.notna().nunique())

In [483]:
# ANSI escape code for green text
GREEN = '\033[1;32m'
RESET = '\033[0m'

sorted_counts = sorted(counts.items(), key=lambda item: len(item), reverse=False)

for col, count in sorted_counts:
    print(f'{GREEN}{col}{RESET}: {len(count)}/{len(df[col].index)}')
    print(f'Datasets present: {count}')

ID_batch_covariate: 12/12
Datasets present: ['Caronni', 'Ding', 'Ding_snRNA-seq', 'Lee', 'Lin', 'Peng', 'Peng_Normal', 'Hwang', 'Schlesinger', 'Simeone', 'Steele', 'Steele_Adj_Norm']
ID_harmonised: 12/12
Datasets present: ['Caronni', 'Ding', 'Ding_snRNA-seq', 'Lee', 'Lin', 'Peng', 'Peng_Normal', 'Hwang', 'Schlesinger', 'Simeone', 'Steele', 'Steele_Adj_Norm']
Unique_ID: 12/12
Datasets present: ['Caronni', 'Ding', 'Ding_snRNA-seq', 'Lee', 'Lin', 'Peng', 'Peng_Normal', 'Hwang', 'Schlesinger', 'Simeone', 'Steele', 'Steele_Adj_Norm']
Level_1_refined: 12/12
Datasets present: ['Caronni', 'Ding', 'Ding_snRNA-seq', 'Lee', 'Lin', 'Peng', 'Peng_Normal', 'Hwang', 'Schlesinger', 'Simeone', 'Steele', 'Steele_Adj_Norm']
Tissue: 12/12
Datasets present: ['Caronni', 'Ding', 'Ding_snRNA-seq', 'Lee', 'Lin', 'Peng', 'Peng_Normal', 'Hwang', 'Schlesinger', 'Simeone', 'Steele', 'Steele_Adj_Norm']
Age: 10/12
Datasets present: ['Caronni', 'Ding', 'Ding_snRNA-seq', 'Lin', 'Peng', 'Peng_Normal', 'Hwang', 'Simeone', 'Steele', 'Steele_Adj_Norm']
Sex: 8/12
Datasets present: ['Caronni', 'Ding', 'Ding_snRNA-seq', 'Lin', 'Peng', 'Peng_Normal', 'Hwang', 'Simeone']
Diabetes: 2/12
Datasets present: ['Ding', 'Peng']
Treatment: 9/12
Datasets present: ['Caronni', 'Ding', 'Ding_snRNA-seq', 'Lee', 'Lin', 'Peng', 'Hwang', 'Simeone', 'Steele']
KRAS_mutation: 2/12
Datasets present: ['Ding', 'Simeone']
KRAS_type: 1/12
Datasets present: ['Ding']
TP53_type: 2/12
Datasets present: ['Ding', 'Simeone']
SMAD4_type: 2/12
Datasets present: ['Ding', 'Simeone']
CDKN2A_type: 2/12
Datasets present: ['Ding', 'Simeone']
Germline_ATM: 1/12
Datasets present: ['Ding']
Germline_BRCA2: 1/12
Datasets present: ['Ding']
Germline_FANCC: 1/12
Datasets present: ['Ding']
Moffitt_Subtype: 1/12
Datasets present: ['Ding']
Bailey_Subtype: 1/12
Datasets present: ['Ding']
Collisson_Subtype: 1/12
Datasets present: ['Ding']
Time_from_diagnosis_to_surgery_(weeks): 2/12
Datasets present: ['Ding', 'Ding_snRNA-seq']
Cycles: 2/12
Datasets present: ['Ding', 'Ding_snRNA-seq']
Location: 5/12
Datasets present: ['Caronni', 'Ding', 'Ding_snRNA-seq', 'Peng', 'Peng_Normal']
Grade: 5/12
Datasets present: ['Caronni', 'Ding', 'Ding_snRNA-seq', 'Lin', 'Hwang']
Size_(cm): 2/12
Datasets present: ['Ding', 'Ding_snRNA-seq']
Stage: 5/12
Datasets present: ['Ding', 'Ding_snRNA-seq', 'Lin', 'Peng', 'Peng_Normal']
Pancreatitis: 2/12
Datasets present: ['Ding', 'Ding_snRNA-seq']
Previous_cancer_history: 2/12
Datasets present: ['Ding', 'Ding_snRNA-seq']
Other_co-morbidities: 2/12
Datasets present: ['Ding', 'Ding_snRNA-seq']
Smoker: 2/12
Datasets present: ['Ding', 'Ding_snRNA-seq']
Alcohol: 2/12
Datasets present: ['Ding', 'Ding_snRNA-seq']
Pathology_notes: 4/12
Datasets present: ['Ding', 'Ding_snRNA-seq', 'Peng', 'Peng_Normal']
Lymph_node_met: 2/12
Datasets present: ['Ding', 'Ding_snRNA-seq']
Survival_post_surgery_(weeks): 2/12
Datasets present: ['Ding', 'Ding_snRNA-seq']
Vital_status: 3/12
Datasets present: ['Ding', 'Ding_snRNA-seq', 'Hwang']
TNM_classification: 6/12
Datasets present: ['Caronni', 'Ding', 'Ding_snRNA-seq', 'Peng', 'Peng_Normal', 'Hwang']
Overall Survival: 3/12
Datasets present: ['Ding', 'Ding_snRNA-seq', 'Hwang']
Procedure: 3/12
Datasets present: ['Peng', 'Peng_Normal', 'Simeone']
BMI: 2/12
Datasets present: ['Steele', 'Steele_Adj_Norm']
perineural invasion: 2/12
Datasets present: ['Peng', 'Peng_Normal']
vascular invasion: 2/12
Datasets present: ['Peng', 'Peng_Normal']
peripancreatic infiltarion: 2/12
Datasets present: ['Peng', 'Peng_Normal']
Harmonized_Grade: 5/12
Datasets present: ['Caronni', 'Ding', 'Ding_snRNA-seq', 'Lin', 'Hwang']
Harmonized_TNM_Classification: 6/12
Datasets present: ['Caronni', 'Ding', 'Ding_snRNA-seq', 'Peng', 'Peng_Normal', 'Hwang']
Harmonized_Stage: 6/12
Datasets present: ['Ding', 'Ding_snRNA-seq', 'Lin', 'Peng', 'Peng_Normal', 'Simeone']

In [ ]:
biological_metadata

In [493]:
ding.groupby('Patient_ID')['Treatment'].unique()

Patient_ID
HT056P1                   [FOLFIRINOX]
HT060P1                   [FOLFIRINOX]
HT061P1                        [Naive]
HT064P1                        [Naive]
HT071P1                     [Chemo-RT]
HT085P1                        [Naive]
HT115P1                   [FOLFIRINOX]
HT121P1                        [Naive]
HT122P1                    [Gem_abrax]
HT123P1                        [Naive]
HT124P1                        [Naive]
HT125P1                    [Gem_abrax]
HT138P1                    [Gem_abrax]
HT140P1                        [Naive]
HT166P1                   [FOLFIRINOX]
HT168P1                   [FOLFIRINOX]
HT185P1    [FOLFIRINOX then Gem_abrax]
HT190P1                    [Gem_abrax]
HT191P1                   [FOLFIRINOX]
HT200P1                   [FOLFIRINOX]
HT204P1                   [FOLFIRINOX]
HT224P1      [FOLIRINOX, Gem/Abraxane]
HT231P1             [FOLFIRINOX, SBRT]
HT232P1         [mFOLFIRINOX, FOLFIRI]
HT242P1                          [nan]
HT259P1                   [FOLFIRINOX]
HT264P1                        [naive]
HT270P1                        [naive]
HT284P1                        [naive]
HT288P1                        [Naive]
HT306P1                   [FOLFIRINOX]
HT412P1      [FOLFIRONOX, Gemcitabine]
Name: Treatment, dtype: object

In [490]:
biological_metadata[biological_metadata.Dataset.str.contains('Ding')].groupby('Unique_ID')['Treatment'].unique()

/tmp/ipykernel_937282/396187640.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  biological_metadata[biological_metadata.Dataset.str.contains('Ding')].groupby('Unique_ID')['Treatment'].unique()

Unique_ID
AdjNorm_TISSUE_1    []
AdjNorm_TISSUE_2    []
AdjNorm_TISSUE_3    []
GSM4293555          []
GSM4679532          []
                    ..
U5                  []
U6                  []
U7                  []
U8                  []
U9                  []
Name: Treatment, Length: 149, dtype: object

In [494]:
adata

AnnData object with n_obs × n_vars = 726054 × 2505
    obs: 'Barcode', 'Dataset', 'ID_batch_covariate', 'Unique_ID', 'Technology', 'n_genes', 'n_counts', 'log_counts', 'mt_frac', 'n_genes_by_counts', 'log1p_n_genes_by_counts', 'total_counts', 'log1p_total_counts', 'total_counts_mito', 'log1p_total_counts_mito', 'pct_counts_mito', 'leiden', 'batch', 'leiden_0.2', 'leiden_0.2_annotation', 'leiden_subcluster', 'level0_leiden_subcluster', 'leiden_0.5', 'is_outlier_total_counts', 'outlier', 'infercnv_score_malignant', 'infercnv_score_malignant_refined', 'cnv_score_abs', 'treatment_status', 'Level_0', 'Level_1', 'Level_1_refined', 'MALAT1_lognorm', 'empty_droplet', 'ID_harmonised', 'Dataset_unique', 'Tissue', 'Age', 'Sex', 'Diabetes', 'Treatment', 'Acinar_leiden_0.75', 'Ambiguous_Epithelial_leiden_0.75', 'Intra_pancreatic_Neurons_leiden_0.75', 'Natural_Killer_leiden_0.75', 'Ambiguous_Immune_leiden_0.75', 'Neuronal_Cell_leiden_0.75', 'Schwann_Cell_leiden_0.75', 'Adipocyte_leiden_0.75', 'Erythroid_Cell_leiden_0.75', 'Smooth_Muscle_Cell_leiden_0.75', 'Ambiguous_Stromal_leiden_0.75', 'EMT_leiden_0.75', 'Pericyte_leiden_0.75', 'Endocrine_Cell_leiden_0.75', 'NK_Cell_leiden_0.75', 'B_Cell_leiden_0.75', 'Endothelial_Cell_leiden_0.75', 'Myeloid_Cell_leiden_0.75', 'Ductal_Cell_leiden_0.75', 'Malignant_leiden_0.75', 'Ductal_Cell_Malignant_leiden_0.75', 'Fibroblast_leiden_0.75', 'T_Cell_leiden_0.75'
    var: 'n_cells', 'ensembl_id', 'start', 'end', 'chromosome', 'gene_name_adata_sc', 'highly_variable_adata_sc', 'means_adata_sc', 'dispersions_adata_sc', 'dispersions_norm_adata_sc', 'highly_variable_nbatches_adata_sc', 'highly_variable_intersection_adata_sc', 'n_cells_by_counts_adata_sc', 'mean_counts_adata_sc', 'log1p_mean_counts_adata_sc', 'pct_dropout_by_counts_adata_sc', 'total_counts_adata_sc', 'log1p_total_counts_adata_sc', 'mito_adata_sc', 'n_cells_by_counts_adata_sn', 'mean_counts_adata_sn', 'log1p_mean_counts_adata_sn', 'pct_dropout_by_counts_adata_sn', 'total_counts_adata_sn', 'log1p_total_counts_adata_sn', 'Manual_Genes'
    uns: 'Condition_colors', 'Dataset_colors', 'Level_0_colors', 'Level_1_colors', 'Level_1_refined_colors', 'Technology_colors', 'leiden', 'neighbors', 'pca', 'umap'
    obsm: 'X_pca', 'X_umap', 'drvi_emb', 'drvi_umap', 'expimap_emb', 'expimap_umap', 'scanvi_emb', 'scanvi_umap', 'scpoli_emb', 'scpoli_umap', 'scvi_emb', 'scvi_umap', 'sysvi_emb', 'sysvi_umap', 'biological_metadata'
    varm: 'PCs'
    layers: 'binned_data', 'counts', 'log_norm', 'raw'
    obsp: 'connectivities', 'distances'